<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="w-1/6 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 pb-4" style="padding-top: 0.9rem">{{ "SETTINGS.administration" | translate }}</h3>
        <mat-divider class="border-green-400"></mat-divider>
        <mat-nav-list class="pt-0">
                        <mat-expansion-panel *ngFor="let parent of this.serviceSettings.getSettingsParent()"
                                 [expanded]="this.router.url.includes(parent['id'])">
                <mat-expansion-panel-header class="border-t border-green-400 z-30" style="box-shadow: 0 1px 5px 4px gray">
                    <mat-panel-title>
                        {{ parent['label'] | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-full border-t-2 border-gray-600">
                    <div *ngFor="let setting of this.serviceSettings.getSettings()[parent['id']];"
                         [class.border-b]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] == '*'"
                         [class.border-gray-400]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] == '*'">
                        <div *ngIf="this.serviceSettings.getSettingsAction(parent['id'], setting['id']) else noActions">
                            <mat-expansion-panel *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] == '*'"
                                                 [expanded]="this.router.url.includes(setting['route'])">
                                <mat-expansion-panel-header class="font-normal w-full h-20">
                                    <mat-panel-title class="font-normal justify-center items-center text-center">
                                        <i [class.text-green-400]="this.router.url == setting['route']"
                                           class="absolute text-lg left-4 w-10 h-10 rounded-full flex items-center justify-center {{setting['icon']}}">
                                        </i>
                                        <button mat-button [class.text-green-400]="this.router.url == setting['route']"
                                                class="pr-0 font-normal w-full h-20 flex justify-center items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ setting['route'] }}">
                                            <p [class.font-medium]="this.router.url == setting['route']" class="m-0">
                                                {{ setting['label'] | translate }}
                                            </p>
                                        </button>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let action of this.serviceSettings.getSettingsAction(parent['id'], setting['id'])"
                                     [class.border-gray-600]="!action['showOnlyIfActive']"
                                     [class.border-t]="!action['showOnlyIfActive']"
                                     [class.w-full]="!action['showOnlyIfActive']">
                                    <div class="border-b border-gray-400"
                                         *ngIf="(this.privilegesService.hasPrivilege(action['privilege']) || setting['privilege'] == '*') && (!action['showOnlyIfActive'] || (action['showOnlyIfActive'] && this.router.url.includes(action['route'])))">
                                        <button mat-button
                                                [class.text-green-400]="this.router.url.includes(action['route'])"
                                                class="font-normal w-full h-12 ml-12 flex items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ action['route'] }}"
                                                [class.disable_link]="action['showOnlyIfActive']">
                                            <i class="absolute text-lg w-10 h-10 rounded-full flex items-center justify-center {{action['icon']}}"></i>
                                            <p class="m-0 ml-12" style="margin-top: 2.5px!important">
                                                {{ action['label'] | translate }}
                                            </p>
                                        </button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                        <ng-template #noActions>
                            <button *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] == '*'"
                                    mat-button [class.text-green-400]="this.router.url == setting['route']"
                                    class="pr-0 font-normal w-full h-20 flex justify-center items-center text-center"
                                    (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                    routerLink="{{ setting['route'] }}">
                                <i class="absolute left-4 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{setting['icon']}}"></i>
                                <p [class.font-medium]="this.router.url == setting['route']" class="m-0">
                                    {{ setting['label'] | translate }}
                                </p>
                            </button>
                        </ng-template>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <button mat-icon-button (click)="sidenav.toggle(); this.serviceSettings.toggleMenu();"
                    class="absolute left-2 top-2">
                <i [class.fa-arrow-right]="!this.serviceSettings.getIsMenuOpen()" class="fas fa-arrow-left text-2xl text-gray-900"></i>
            </button>
            <div class="settings_title text-center">
                <h3>
                    Open-Capture for Invoices <span *ngIf="!loading"><b>version {{ git_version }}</b></span>
                    <span *ngIf="!loading && last_version !== git_version && git_version !== 'dev'">
                        | {{ 'ABOUT-US.new_version_available' | translate }} (<b>
                                <a  [href]="'https://github.com/edissyum/opencaptureforinvoices/releases/tag/' + last_version"
                                    target="_blank">{{last_version}}</a>
                            </b>)
                    </span>
                </h3>
                <hr class="border-green-400">
            </div>
        </div>
        <div id="license" class="text-center mt-10">
            <h2>{{ 'ABOUT-US.license' | translate }}</h2>
            {{ 'ABOUT-US.distributed_under' | translate }}&nbsp;
            <a class="text-green-400" href="https://www.gnu.org/licenses/gpl-3.0.html">
                {{ 'ABOUT-US.gnu_license' | translate }}
            </a>
        </div>
        <hr class="m-auto mt-10 w-1/2 border-green-400 border-opacity-60">
        <div class="edissyum text-center mt-10 text-lg" style="line-height: 35px !important;">
            <h2>{{ 'ABOUT-US.editor' | translate }}</h2>
            <div class="grid grid-cols-2 gap-10 w-1/2 m-auto">
                <div class="text-right">
                    Edissyum Consulting <br>
                    98 Avenue Pierre Semard <br>
                    84200 Carpentras
                </div>
                <div class="text-left" style="width: 200%">
                    {{ 'ABOUT-US.official_website' | translate }} : <a class="text-green-400" href="https://open-capture.com/">open-capture.com/</a><br>
                    Documentation : <a class="text-green-400" href="https://edissyum.gitbook.io/open-capture-for-invoices/">edissyum.gitbook.io/open-capture-for-invoices-v2/</a> <br>
                    Support : <a class="text-green-400" href="https://github.com/edissyum/opencaptureforinvoices">github.com/edissyum/opencaptureforinvoices</a>
                </div>
            </div>
        </div>
        <hr class="m-auto mt-10 w-1/2 border-green-400 border-opacity-60">
        <div class="logo flex justify-center items-center gap-48 mt-10">
            <div id="verifier">
                <img src="assets/imgs/logo_verifier.png" alt="Open-Capture Verifier">
                <hr class="m-auto mt-10 w-1/2 border-green-400">
                <h3 class="mt-6">{{ 'ABOUT-US.lead_dev' | translate }} : CHEVAL Nathan</h3>
            </div>
            <div id="splitter">
                <img src="assets/imgs/logo_splitter.png" alt="Open-Capture Splitter">
                <hr class="m-auto mt-10 w-1/2 border-green-400">
                <h3 class="mt-6">{{ 'ABOUT-US.lead_dev' | translate }} : BRICH Oussama</h3>
            </div>
        </div>
        <hr class="m-auto mt-10 w-1/2 border-green-400 border-opacity-60">
        <div id="dependency" class="text-center mt-10">
            <h2>{{ 'ABOUT-US.dependency' | translate }}</h2>
            <h4><i>{{ 'ABOUT-US.thanks_to_developers' | translate }}</i></h4>
            <div>
                <ul>
                    <li><a class="text-green-400" href="https://angular.io/">Angular</a></li>
                    <li><a class="text-green-400" href="https://material.angular.io/">Angular Material</a></li>
                    <li><a class="text-green-400" href="https://jquery.com/download/">jQuery</a></li>
                    <li><a class="text-green-400" href="https://github.com/kreuzerk/ng-sortgrid">NgsgModule</a></li>
                    <li><a class="text-green-400" href="https://github.com/bleenco/ng2-datepicker">DatePickerModule</a></li>
                    <li><a class="text-green-400" href="https://github.com/telebroad/ngx-file-drag-drop">NgxFileDragDropModule</a></li>
                    <li><a class="text-green-400" href="https://github.com/ngx-translate/core">NgxTranslateModule</a></li>
                    <li><a class="text-green-400" href="https://tailwindcss.com/">Tailwind CSS</a></li>
                    <li><a class="text-green-400" href="https://fontawesome.com/">FontAwesome</a></li>
                </ul>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>