<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">
                Open-Capture&nbsp;<span *ngIf="!this.loading"><strong>version <span id="gitVersion">{{ this.currentVersion }}</span></strong>&nbsp;</span>
                <span *ngIf="!this.lastVersion === undefined">
                    |<span class="text-red-600">&nbsp;{{ 'ERROR.git_connection' | translate }}</span>
                </span>
                <span *ngIf="!this.loading && this.lastVersion > this.currentVersion && this.isProd">
                    | {{ 'ABOUT-US.new_version_available' | translate }} (<strong>
                        <a [href]="'https://github.com/edissyum/opencapture/releases/tag/' + this.lastVersion"
                           target="_blank">{{ this.lastVersion }}</a>
                    </strong>)
                </span>
                <span *ngIf="!this.loading && this.lastVersion < this.currentVersion && this.isProd">
                    | {{ 'ABOUT-US.are_you_in_future' | translate }} ({{ 'ABOUT-US.last_official_version' | translate }}&nbsp;:
                    <strong>
                        <a [href]="'https://github.com/edissyum/opencapture/releases/tag/' + this.lastVersion"
                            target="_blank">{{ this.lastVersion }}</a>
                    </strong>)
                </span>
            </h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="overflow-x-hidden overflow-y-auto h-full-overflow">
            <div id="license" class="text-center mt-10">
                <h2>{{ 'ABOUT-US.license' | translate }}</h2>
                {{ 'ABOUT-US.distributed_under' | translate }}
                <a class="text-green-400" href="https://www.gnu.org/licenses/gpl-3.0.html">
                    {{ 'ABOUT-US.gnu_license' | translate }}
                </a>
            </div>
            <hr class="m-auto mt-10 w-1/2 border-green-400 border-opacity-60">
            <div class="edissyum text-center mt-10 text-lg" style="line-height: 35px !important;">
                <h2>{{ 'ABOUT-US.editor' | translate }}</h2>
                <div class="grid grid-cols-2 gap-10 w-1/2 m-auto">
                    <div class="text-right">
                        Edissyum Consulting <br>
                        98 Avenue Pierre Semard <br>
                        84200 Carpentras
                    </div>
                    <div class="text-left" style="width: 200%">
                        {{ 'ABOUT-US.official_website' | translate }} : <a class="text-green-400" href="https://kutt.it/OpenCaptureWebSite" target="_blank">open-capture.com</a><br>
                        Documentation : <a class="text-green-400" href="https://kutt.it/DocumentationV2" target="_blank">edissyum.gitbook.io/open-capture/</a> <br>
                        Support : <a class="text-green-400" href="https://kutt.it/OCForInvoices_ISSUES" target="_blank">github.com/edissyum/opencapture</a>
                    </div>
                </div>
            </div>
            <hr class="m-auto mt-10 w-1/2 border-green-400 border-opacity-60">
            <div class="flex justify-center items-center mt-10 mb-5">
                <div>
                    <img src="assets/imgs/login_image.png" alt="Open-Capture">
                    <hr class="m-auto mt-10 w-1/2 border-green-400">
                    <h3 class="mt-6 text-center">{{ 'ABOUT-US.lead_dev' | translate }} : CHEVAL Nathan</h3>
                </div>
            </div>
            <div class="logo grid grid-cols-7">
                <div id="verifier" class="m-auto col-start-2 col-span-2">
                    <img src="assets/imgs/logo_verifier.png" alt="Open-Capture Verifier">
                    <hr class="m-auto mt-10 w-1/2 border-green-400">
                    <h3 class="mt-6 text-center">{{ 'ABOUT-US.lead_dev' | translate }} : CHEVAL Nathan</h3>
                </div>
                <div id="splitter" class="m-auto col-start-5 col-span-2">
                    <img src="assets/imgs/logo_splitter.png" alt="Open-Capture Splitter">
                    <hr class="m-auto mt-10 w-1/2 border-green-400">
                    <h3 class="mt-6 text-center">{{ 'ABOUT-US.lead_dev' | translate }} : BRICH Oussama</h3>
                </div>
            </div>
            <hr class="m-auto mt-10 w-1/2 border-green-400 border-opacity-60">
            <div id="dependency" class="text-center mt-10 mb-10">
                <h2>{{ 'ABOUT-US.dependency' | translate }}</h2>
                <h4><i>{{ 'ABOUT-US.thanks_to_developers' | translate }}</i></h4>
                <div>
                    <ul>
                        <li><a class="text-green-400" target="_blank" href="https://angular.io/">Angular</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://material.angular.io/">Angular Material</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://jquery.com/download/">jQuery</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/kreuzerk/ng-sortgrid">NgSortGridModule</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/telebroad/ngx-file-drag-drop">NgxFileDragDropModule</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/ngx-translate/core">NgxTranslateModule</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/swimlane/ngx-charts">NgxCharts</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/ngx-translate/">NgxTranslate</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/Kr0san89/ng-click-outside">Click Outside 2</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/tyxla/remove-accents">Remove-accent</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/hjnilsson/country-flags">SVG Country Flags</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://github.com/angular-material-extensions/select-country">Select Country</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://tailwindcss.com/">Tailwind CSS</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://fontawesome.com/">FontAwesome</a></li>
                        <li><a class="text-green-400" target="_blank" href="https://www.npmjs.com/package/moment">moment</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>