{% extends 'base.html' %}
{% block title %} {{ gettext('INVOICES') }} {% endblock %}
{% block css %}
    <script type="text/javascript" src={{ url_for('static', filename='js/otherLib/Gettext.js') }}></script>
    <link rel="gettext" type="application/x-po" href="{{ url_for('static', filename='babel/translations/' + session["lang"] + '/LC_MESSAGES/messages.po') }}">
    <script>
        let gt = new Gettext();
    </script>
{% endblock %}

{% block content %}
    <div id="lot">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item d-flex justify-content-between align-items-center {% if 'TODAY' in request.path or ('YESTERDAY' not in request.path and 'OLDER' not in request.path) %} active {% endif %} " onclick="window.location.href='/list/lot/TODAY/NEW'">
                {{ gettext('TODAY_LOT') }} &nbsp;
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center {% if 'YESTERDAY' in request.path %} active {% endif %}" onclick="window.location.href='/list/lot/YESTERDAY/NEW'">
                {{ gettext('YESTERDAY_LOT') }} &nbsp;
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center {% if 'OLDER' in request.path %} active {% endif %}" onclick="window.location.href='/list/lot/OLDER/NEW'">
                {{ gettext('OLD_LOT') }} &nbsp;
            </li>
        </ul>

        <form class="form-inline" onsubmit="submitForm()">
            <div class="form-group mb-2">
                <label for="search" class="sr-only">{{ gettext('_SEARCH_PLACEHOLDER')}}</label>
                <input type="text" class="form-control" id="search" placeholder="{{ gettext('_SEARCH_PLACEHOLDER')}}" value={% if request.args.get('search') %} {{ request.args.get('search') }} {% endif %}>
            </div>
            <button type="submit" class="btn btn-primary mx-sm-2 mb-2">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="input-group pick_status">
        {% set statusSelected = request.path.split('/')  %}
        <select id="pickStatus">
            <option value='*' selected>{{ gettext('NO_FILTER') }}</option>
            {% for status in status_list %}
                {% if status['id'] != 'DEL' %}
                    <option {% if statusSelected[4] == status['id'] or statusSelected[4] == '' and status['id'] == 'NEW'  %} selected {% endif %}  value="{{ status['id'] }}">{{ gettext(status['id']) }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button onclick="loadPageFiltered(document.getElementById('pickStatus').options[document.getElementById('pickStatus').selectedIndex].value)" class="btn btn-outline-secondary" type="button">{{ gettext('FILTER') }}</button>
        </div>
    </div>
    {% if g.user['role'] == 'admin' and pdfs|length > 1 %}
        <i id="trashAll" class="position-absolute fas fa-trash" style="display: none; cursor: pointer; left: 205px; margin-top: 35px;"></i>
        <p id="checkAll" class="checkAll position-absolute " style="cursor: pointer; left: 25px; top:190px">{{ gettext("SELECT_ALL") }}</p>
    {% endif %}

    {{ pagination.info }}
    {{ pagination.links }}

    <div class="container-fluid" id="main">
        {% for pdf_group in pdfs|batch(4) %}
            <div class="row pdf_list">
                {% for pdf in pdf_group %}
                    <div class="col-sm-3">
                        <div class="card">
                            <a style="height: 400px;" href="
                                {% if pdf['status_id'] == 'END' %} {{ url_for('pdf.view', pdf_id=pdf['invoice_id']) }}
                                    {% elif not pdf['locked'] or (pdf ['locked'] and pdf['locked_by'] == g.user['username']) %} {{ url_for('pdf.view', pdf_id=pdf['invoice_id']) }}
                                    {% else %} #locked
                                {% endif %}"

                                {% if pdf['locked'] and pdf['locked_by'] != g.user['username'] %}
                                    onclick="alert(' {{ gettext('INVOICE_LOCKED_BY') }} : {{ pdf['locked_by'] }}')"
                                {% endif %}>

                                <img class="card-img-top lazy"
                                     data-original="{{ url_for('pdf.static', type_of_file='full', filename=pdf['full_jpg_filename']) }}"
                                     alt="Thumbnail">
                                <div class="ribbon ribbon-top-right {{ pdf['status_id'] }}">
                                    <span data-toggle="tooltip" data-placement="left" title="{{ gettext(pdf['status_id'] + '_LONG') }}">{{ gettext(pdf['status_id']) }}{% if pdf['locked'] %} &nbsp;  <i class="fas fa-lock"></i> {% endif %}</span>
                                </div>
                            </a>
                            <div class="card-body">
                                <div class="row pb-0 pl-3">
                                    <h5 class="card-title">
                                        <a href="{{ url_for('pdf.view', pdf_id=pdf['invoice_id']) }}">
                                            {{ pdf['supplier_name'] }}
                                        </a>
                                    </h5>
                                    <span class="position-absolute badge badge-secondary badge-pill" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('NUMBER_OF_PAGES')}} : {{ pdf['nb_pages'] }}">{{ pdf['nb_pages'] }} <i class="far fa-file-alt"></i></span>
                                </div>
                                <p class="card-text">
                                    <small class="text-muted">
                                        {{ gettext('INVOICE_NUMBER')}} : {{ pdf['invoice_number'] }}<br>
                                        {{ gettext('INVOICE_DATE')}} : {{ pdf['invoice_date'] }}
                                    <br>
                                        {{ gettext('SAVED_THE') }} {{ pdf['date'] }}
                                    <br>
                                        {{ gettext('ORIGINAL_FILENAME') }} : {{ pdf['original_filename'] }}
                                    </small>
                                    {% if g.user['role'] == 'admin'%}
                                        <span id="trash" class="float-right">
                                            <button onclick="deleteInvoice({{ pdf['invoice_id'] }})" class="text-danger text-decoration-none">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </span>
                                    {% endif %}
                                </p>
                            </div>
                            {% if g.user['role'] == 'admin' and pdfs|length > 1 %}
                                <div class="top-left">
                                    <input id="{{ pdf['invoice_id'] }}_checkbox" class="checkBox_list" type="checkbox"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% if pagination.total != 0 %}
        {{ pagination.info }}
        {{ pagination.links }}
    {% endif %}

    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/otherLib/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.lazyload.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
            $('#main .lazy').lazyload({});
        </script>
    {% endblock %}
{% endblock %}