{% if 'splitter' in request.url %}
    {% extends 'base_splitter.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}{{ gettext('UPLOAD_PDF')}}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/otherLib/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/otherLib/dropzone-custom.css') }}">
    <script src="{{ url_for('static', filename='js/otherLib/dropzone.js') }}"></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/otherLib/Gettext.js') }}></script>
    <link rel="gettext" type="application/x-po" href="{{ url_for('static', filename='babel/translations/' + session["lang"] + '/LC_MESSAGES/messages.po') }}">

    <script>
        let gt = new Gettext();
        currentUrl = window.location.href
        if (currentUrl.includes('splitter')){
            wsUrl = '/splitter/upload'
        }else{
            wsUrl = '/ws/invoice/upload'
        }
        Dropzone.options.myDropzone = {
            url: wsUrl,
            method:'POST',
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 3,
            maxFiles: 3,
            addRemoveLinks: true,
            acceptedFiles: 'application/pdf',
            dictRemoveFile: gt.gettext("CANCEL_UPLOAD"),
            dictDefaultMessage: gt.gettext("SELECT_OR_DROP_DOC"),
            dictInvalidFileType: gt.gettext("FORMAT_NOT_ALLOWED"),
            init: function() {
                let dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

                // for Dropzone to process the queue (instead of default form behavior):
                document.getElementById("submit-all").addEventListener("click", function(e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
                    dzClosure.processQueue();
                });
                this.on("successmultiple", function(files) {
                    let topPx = 0;
                    for (let i = 0; i <= files.length; i++) {

                        if (i > 0) { topPx = 80 * i }

                        $("<div style='top: " + topPx + "px;' class='flash' onclick=\"$('.flash').fadeOut()\">" + gt.gettext('FILE_UPLOAD_SUCCESS') + " : "  + files[i]['name'] + "</div>").insertAfter($('.content'));
                    }
                });
                this.on("error", function(file, response) {
                    $("<div class='flash' onclick='$('#flash_1').fadeOut()'>" +  gt.gettext('FILE_UPLOAD_ERROR') + " : " + response + "</div>").insertAfter($('.content'));
                });
            }
        };
    </script>

{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="dropzoneForm">
        <div class="dropzone" id="myDropzone"></div>
        <input type="submit" id="submit-all" value="{{ gettext('SEND') }}">
    </form>

    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
    {% endblock %}
{% endblock %}