{% extends 'base.html' %}
{% from 'forms_macro_input_general.html' import render_field %}
{% from 'forms_macro_checkbox.html' import render_field_checkbox %}

{% block title %}{{ gettext('PDF_VIEW') }}{% endblock %}
{% block css %}
    <script type="text/javascript" src={{ url_for('static', filename='js/otherLib/Gettext.js') }}></script>
    <link rel="gettext" type="application/x-po" href="{{ url_for('static', filename='babel/translations/' + session["lang"] + '/LC_MESSAGES/messages.po') }}">
    <script>
        let gt = new Gettext();
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if pdf['nb_pages'] is gt 1 %}
                <div class="nb_pages">
                    <i class="fa fa-arrow-left" onclick="previousPage()" data-pages="{{ pdf['nb_pages'] }}"></i>
                    {{ gettext('PAGE') }} <span id="currentPage">1</span> {{ gettext('OF') }} {{ pdf['nb_pages'] }}
                    <i class="fa fa-arrow-right" onclick="nextPage()"></i>
                </div>
            {% endif %}

            <div class="col-sm-6 img" onmousedown="isKeyPressed(event)">
                <div id="rectangle" class="rectangle-not-active"></div>
                <img class="file" id="my-image" alt="File" src="{{ url_for('pdf.static', type_of_file='full', filename=pdf['full_jpg_filename']) }}">
            </div>
            <div class="col-sm-6">
                <div id="preloader_form">
                    <div id="status_form">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 74.4 81.9" width="300"
                             height="300" xml:space="preserve">
                            <linearGradient id="fill_form" x1="0.5" y1="1" x2="0.5" y2="0">
                                <stop offset="0%" stop-color="#76B442">
                                    <animate attributeName="stop-color" values="#76B442; #A7A8AA; #76B442" dur="1s"
                                             repeatCount="indefinite"></animate>
                                </stop>

                                <stop offset="100%" stop-color="#A7A8AA">
                                    <animate attributeName="stop-color" values="#A7A8AA; #76B442; #A7A8AA" dur="1s"
                                             repeatCount="indefinite"></animate>
                                </stop>
                            </linearGradient>
                            <path fill="url(#fill_form)" d="M1.9,79.4c-1.5-1.5,0.3-4.7,8.2-14.2c4.8-5.7,10.1-12.3,11.9-14.6l3.3-4.1l-1.6-1.7
                                    c-7.2-7.4-8.6-20.6-3-29.7C27.9,3.4,43.8-1.4,56.8,4.2c6,2.6,11.8,8,14.4,13.5c2.7,5.6,2.5,15.4-0.4,21.1
                                    c-6.6,13-22.8,18.9-36.3,13.3c-2.2-1-4.1-1.3-4.4-1c-0.3,0.4-5.8,7-12.2,14.8C8.8,76.8,5.7,80,4.3,80C3.3,80,2.1,79.7,1.9,79.4
                                    L1.9,79.4z M53.5,48.8c5.7-2,10.7-6.3,13.4-11.3c2.8-5.2,2.9-13.8,0.1-18.9c-4.5-8.4-12-12.8-21.9-12.8c-26.3,0-33.2,33.2-9,42.7
                                    C42.2,50.9,47.3,51,53.5,48.8L53.5,48.8z"></path>
                        </svg>
                    </div>
                </div>
                <form id="invoice_info" action="{{ url_for('pdf.validate_form', id=pdf['id']) }}" method="POST">
                    <div id="hiddenInputs">
                        <input type="hidden" id="ratioAdressTotal">
                        <input type="hidden" id="pdf_id" value="{{ pdf['id'] }}">
                        <input type="hidden" id="width_original" value="{{ width }}">
                        <input type="hidden" id="number_of_vat" name="facturationInfo_number_of_tva" value="1">
                        <input type="hidden" id="pdf_creation_date" name="fileInfo_pdf_creation_date" value="{{ pdf['register_date'] }}">
                        <input type="hidden" id="path" name="fileInfo_path" value="{{ pdf['path'] + '/' +  pdf['filename'] }}">
                        <input type="hidden" id="number_order_number" name="facturationInfo_number_of_order_number" value="0">
                        <input type="hidden" id="number_of_delivery_number" name="facturationInfo_number_of_delivery_number" value="0">
                    </div>
                    <div class="form-group float-right" >
                        <input name="facturationInfo_is_subscription" type="checkbox" class="custom-control-input" id="is_subscription" onclick="removeUserInCharge($(this))">
                        <label class="custom-control-label" for="is_subscription">{{ gettext('SUBSCRIPTION') }}</label>
                    </div>
                    <div class="form-group float-right" >
                        <input name="facturationInfo_is_asset" type="checkbox" class="custom-control-input" id="is_asset">
                        <label class="custom-control-label mr-5" for="is_asset">{{ gettext('ASSET') }}</label>
                    </div>

                    <div id="supplierInfo">
                        <span class="infos" onclick="hideOrDisplay('supplier_info');">
                            <span>
                                <a href="#toggle" id="supplier_info" data-toggle="tooltip" title="{{ gettext('HIDE_SUPPLIER_INFO') }}">
                                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                </a>
                            </span>
                            <h3>{{ gettext('SUPPLIER') }}</h3>
                        </span>
                        <div class="supplier_info toggled">
                           <div id="hiddenInputs">
                                <input type="hidden" id="supplier_id">
                            </div>
                            <!-- Retrieve supplier form from forms.py SupplierForm class -->
                            {% for field in supplier_form %}
                                {% if field.type == 'CustomBooleanField' %}
                                    {{ render_field_checkbox(field) }}
                                {% else %}
                                    {{ render_field(field) }}
                                {% endif %}
                            {% endfor %}
                            <div class="d-flex justify-content-center">
                                <button onclick="addSupplier()" type="button" id="add_supplier" class="btn btn-outline-secondary btn-lgbtn-secondary">
                                    <i class="supplier-action-icon fa fa-plus"></i> {{ gettext('ADD') }} {{ gettext('SUPPLIER') }}
                                </button>
                                <button onclick="editSupplier()" type="button" id="edit_supplier" class="btn btn-outline-secondary" style="display: none;">
                                    <i class="supplier-action-icon fa fa-edit"></i> {{ gettext('EDIT') }} {{ gettext('SUPPLIER') }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="facturationInfo">
                        <span class="infos" onclick="hideOrDisplay('facturation_info');">
                            <span>
                                <a href="#toggle" id="facturation_info" data-toggle="tooltip" title="{{ gettext('HIDE_FACTURATION_INFO') }}">
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </span>
                            <h3 class="amount">{{ gettext('BILLING') }}</h3>
                        </span>
                        <div class="facturation_info toggled" style="display:none">
                            <!-- Retrieve supplier form from forms.py SupplierForm class -->
                            {% for field in facturation_form %}
                                {% if field.type == 'CustomBooleanField' %}
                                    {{ render_field_checkbox(field) }}
                                {% else %}
                                    {{ render_field(field) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div id="analyticsInfo">
                        <span class="infos" onclick="hideOrDisplay('analytic_info');">
                            <span>
                                <a href="#toggle" id="analytic_info" data-toggle="tooltip" title="{{ gettext('HIDE_ANALYTIC_INFO') }}">
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </span>
                            <h3 class="analytic">{{ gettext('ANALYTIC') }}</h3>
                        </span>
                        <div class="analytic_info toggled" style="display:none">
                            <!-- Retrieve supplier form from forms.py SupplierForm class -->
                            {% for field in analytics_form %}
                                {% if field.type == 'CustomBooleanField' %}
                                    {{ render_field_checkbox(field) }}
                                {% else %}
                                    {{ render_field(field) }}
                                {% endif %}
                            {% endfor %}
                            <a id="addStructure" href="#addStructure" onclick="addStructure(this)" data-toggle="tooltip" title="{{ gettext('ADD_NEW_LINE') }}">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </a>
                            <div id="total_ht_info">
                                {{ gettext('TOTAL_NO_RATE_AMOUNT') }} : <span></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="gedUserInfo">
                        {% if list_users[1] is defined %}
                            <div class="gedUser">
                                <hr>
                                <div class="form-group col-md-4">
                                    <label for="ged_users">{{ gettext('USER_IN_CHARGE') }}</label>
                                    <div class="input-group mb-2">
                                        <select required name="ged_users" id="ged_users" class="form-control chosen-select" data-placeholder="{{ gettext('SELECT_USER') }}">
                                            <option value=""></option>
                                            {% for user in list_users %}
                                                <option value='{{ user['id'] }}#{{ user['entities_id'] }}'>{{ user['firstname'] }} {{ user['lastname'] }} ({{ user['entity_id'] }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="buttons">
                        <button type="button" id="validateForm" class="btn btn-outline-success btn-lg">{{ gettext('VALIDATE_INVOICE') }}</button>
                        <button type="button" id="refuseForm" class="btn btn-outline-danger btn-lg">{{ gettext('REFUSE_INVOICE') }}</button>
                    </div>
                    <button type="submit" style="display: none"></button>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal before validation -->
    <div class="modal fade" id="validateModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ gettext('FORM_VALIDATION') }}</h5>
                    <button type="button" id="closeModal" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="returnToValidate" class="btn btn-secondary" data-dismiss="modal">{{ gettext('BACK_TO_VALIDATION') }}</button>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/otherLib/bootstrap.bundle.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/jqueryLib/jquery.imgareaselect.pack.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/otherLib/difflib-browser.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/jqueryLib/jquery.zoom.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/jqueryLib/jquery.autocomplete.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/jqueryLib/chosen.jquery.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/videoCodage.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/supplier.js') }}></script>
    {% endblock %}
    <div class="modal-backdrop fade show" style="display: none"></div>
{% endblock %}
