<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav">
        <app-settings-menu></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="sidenav.toggle();">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center flex m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!loading">
            <div class="mx-10 mt-10 mb-5 grid grid-cols-2 gap-4 place-items-stretch">
                <ng-container *ngFor="let field of modelForm">
                    <mat-form-field *ngIf="field.type === 'text' && field.id === 'model_label'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [value]="field.control.value" [formControl]="field.control" [type]="field.type"
                               placeholder="{{ field.placeholder }}" [required]="field.required">
                        <mat-error *ngIf="field.control.hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="field.control.hasError('pattern') && !field.control.hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.invalid_selection' | translate }}, format : "model_name.sav"
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="field.type === 'select' && field.id === 'doc_type_id'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <mat-select [name]="field.id" [id]="field.id" [(ngModel)]="field.control.value" [required]="field.required">
                            <mat-option *ngFor="let option of doctypes" [value]="option.key">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id, modelForm) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="field.type === 'text' && field.id === 'model_stop'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [value]="field.control.value" [formControl]="field.control" [type]="field.type"
                               placeholder="{{ field.label | translate }}" [required]="field.required">
                        <mat-error *ngIf="field.control.hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="field.control.hasError('pattern') && !field.control.hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.invalid_selection' | translate }}
                        </mat-error>
                    </mat-form-field>
                </ng-container>
            </div>
            <mat-divider class="w-1/2 m-auto border-green-400"></mat-divider>
            <h2 class="text-center m-4">
                {{ 'ARTIFICIAL-INTELLIGENCE.choose_documents' | translate }}
            </h2>
            <mat-list class="mx-10 my-2 grid grid-cols-5 gap-4 place-items-stretch">
                <div *ngFor="let item of this.docStatus, let i=index">
                    <mat-checkbox [(ngModel)]="item.isSelected" (change)="checkSelectedBatch(i, item.doc);"
                                  [ngModelOptions]="{standalone: true}"
                                  class="w-lg h-lg accent-green-400 checkBox_list cursor-pointer pr-4 pb-2">
                        {{ item.doc }}
                    </mat-checkbox>
                    <div>
                        <mat-form-field *ngIf="item.isSelected">
                            <mat-label>{{ "ARTIFICIAL-INTELLIGENCE.form" | translate }}</mat-label>
                            <mat-select [formControl]="formControl"
                                        (selectionChange)="onFormSelect($event, i, item.doc)">
                                <mat-option *ngFor="let option of forms" [value]="option.id">
                                    {{ option.label }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formControl.hasError('required')">
                                {{ 'ARTIFICIAL-INTELLIGENCE.field_required' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field *ngIf="displayDoctypes(formControl) && item.isSelected">
                        <mat-label>{{ "ARTIFICIAL-INTELLIGENCE.doctype" | translate }}</mat-label>
                        <mat-select [formControl]="controls[i]"
                                    (selectionChange)="changeOutputType($event, item.doc)">
                            <mat-option *ngFor="let option of chosenDocs[i]" [value]="option.id">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="controls[i].hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-list>
        </div>
        <div class="flex justify-center items-center mb-2 py-4">
            <button mat-button class="p-6 border-solid border-green-400 border hover:bg-green-400 hover:text-white transition duration-300">
                <span class="block" (click)="createModel()">
                    {{ 'ARTIFICIAL-INTELLIGENCE.train_a_model' | translate }}
                </span>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>