<div class="content">
    <mat-tab-group (selectedTabChange)="changeTab($event)" class="batches" animationDuration="0ms" dynamicHeight>
        <mat-tab *ngFor="let batch of batchList" [label]="this.translate.instant(batch.label)" [id]="batch.id">
            <div class="flex flex-col">
                <mat-form-field class="w-1/6 mt-4 m-auto relative z-30">
                    <mat-label>{{ 'STATUS.list' | translate }}</mat-label>
                    <mat-select [(value)]="currentStatus" (selectionChange)="changeStatus($event)">
                        <mat-option *ngFor="let option of status" [value]="option['id']">
                            {{ option['label'] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <hr class="w-1/2 m-auto border-green-400 relative z-30">
                <div *ngIf="loading">
                    <app-loader></app-loader>
                </div>
                <div class="content mx-10 mt-10" *ngIf="!loading">
                    <mat-paginator showFirstLastButtons
                                   [length]="this.total"
                                   [pageSize]="pageSize"
                                   [pageIndex]="pageIndex"
                                   [pageSizeOptions]="[5, 10, 15, 20, 50]"
                                   (page)="onPageChange($event)">
                    </mat-paginator>
                    <div class="list grid grid-cols-4 grid-flow-row gap-4">
                        <div *ngFor="let t of [1,2,3,4,5,6,7,8,9,10]" class="bg-red-50">
                            {{ t }}
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>