<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="2xl:w-96 xl:w-72 sm:w-64 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <h3 class="text-center text-gray-900 m-0 h-16" style="padding-top: 1.2rem" [class.pointer-events-none]="this.loading">
            <i class="fa-solid text-gray-900 fa-sync-alt mr-4 cursor-pointer transition-all duration-300"
               [ngClass]="{'text-green-400': this.customerFilter.value || this.customerFilterEnabled, 'fa-beat': this.customerFilter.value || this.customerFilterEnabled}"
               [matTooltip]="'VERIFIER.reset_document_list' | translate" (click)="resetDocuments()"></i>
            {{ "VERIFIER.suppliers_by_customer" | translate }}
            <i [class.fa-compress-arrows-alt]="this.expanded" [class.fa-expand-arrows-alt]="!this.expanded"
               class="fa-solid ml-4 cursor-pointer" (click)="expandAll()"
               [matTooltip]="!this.expanded ? this.translate.instant('VERIFIER.expand_all') : this.translate.instant('VERIFIER.collapse_all')"></i>
        </h3>
        <mat-divider></mat-divider>
        <div class="pb-6">
            <mat-form-field class="px-4 pt-4 -mb-6 w-full" appearance="outline" [class.pointer-events-none]="this.loadingCustomers || this.dataSource.data.length === 0">
                <mat-label>
                    {{ 'VERIFIER.search_customer' | translate }}
                </mat-label>
                <input matInput type="text" [formControl]="this.customerFilter" (keyup)="filterCustomers()" autocomplete="off"
                       [readonly]="this.loadingCustomers || this.dataSource.data.length === 0">
                <button matSuffix class="text-gray-900 cursor-pointer" (click)="resetSearchCustomer()" *ngIf="this.customerFilter.value">
                    <i class="fa-solid fa-sync-alt text-xl relative mr-4"
                       [matTooltip]="'VERIFIER.reset_customers_search' | translate"></i>
                </button>
            </mat-form-field>
        </div>
        <div *ngIf="this.loadingCustomers || this.dataSource.data.length === 0" class="flex text-gray-400 object-contain" style="height: calc(100% - 10rem)">
            <div class="m-auto text-center">
                <i class="fa-solid fa-users fa-4x fa-beat-fade w-full mb-2"></i>
                <span class="w-full">
                    {{ 'VERIFIER.loading_customers' | translate }}
                </span>
            </div>
        </div>
        <div *ngIf="this.customerFilter.value && !this.loadingCustomers && this.customerFilterEmpty"
             class="flex text-gray-400 object-contain" style="height: calc(100% - 10rem)">
            <div class="m-auto text-center">
                <i class="fa-solid fa-ban fa-4x fa-beat-fade w-full mb-2"></i>
                <span class="w-full">
                    {{ 'VERIFIER.no_customers_filter' | translate }}
                </span>
            </div>
        </div>
        <mat-tree *ngIf="!this.loadingCustomers" [dataSource]="this.dataSource" [treeControl]="this.treeControl">
            <mat-tree-node style="min-height: 24px" class="pl-12 cursor-pointer hover:bg-black hover:bg-opacity-20" *matTreeNodeDef="let node; when:isLevelTwo;" (click)="loadDocumentPerCustomer(node)">
                <button mat-icon-button disabled>
                    <i class="text-green-400 ml-4 text-base fa-solid fa-user pb-0.5"></i>
                </button>
                <span class="pl-2 font-normal select-none">{{ node.name }}</span>
                <span class="float-right ml-auto select-none mr-6 bottom-1 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{ node.count }}
                </span>
            </mat-tree-node>
            <mat-tree-node style="min-height: 24px" class="parent cursor-pointer hover:bg-black hover:bg-opacity-10"
                           *matTreeNodeDef="let node; when: hasChild; when:isNotLevelOne" matTreeNodeToggle
                           [class.hidden]="!node.display || (node.count === 0 && node.id === 0)">
                <button mat-icon-button [class.hidden]="node.count === 0 && node.id === 0">
                    <mat-icon class="mat-icon-rtl-mirror text-gray-900">
                        {{ this.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                    </mat-icon>
                </button>
                <span class="select-none" [class.pointer-events-none]="node.count === 0"
                      [class.hidden]="node.count === 0 && node.id === 0">
                    {{ node.name }}
                </span>
                <span *ngIf="!this.treeControl.isExpanded(node)" [class.hidden]="node.count === 0 && node.id === 0"
                      class="float-right ml-auto select-none mr-4 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{ node.count }}
                </span>
            </mat-tree-node>
            <mat-tree-node [class.hidden]="node.count === 0" style="min-height: 24px"
                           class="child pl-6 cursor-pointer hover:bg-black hover:bg-opacity-10"
                           *matTreeNodeDef="let node;when: isLevelOne;" matTreeNodeToggle>
                <button mat-icon-button>
                    <i [class.fa-folder-open]="this.treeControl.isExpanded(node)"
                       class="text-gray-600 fa-solid fa-folder text-lg relative -top-0.5"></i>
                </button>
                <span class="pl-2 font-normal select-none">{{ node.name }}</span>
                <span *ngIf="!this.treeControl.isExpanded(node)" class="float-right ml-auto select-none mr-12 bottom-1 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{ node.count }}
                </span>
            </mat-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <button mat-icon-button (click)="sidenav.toggle();"
                class="absolute left-2 top-2" style="z-index: 999">
            <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened"
               class="fa-solid fa-stream text-xl text-gray-900"></i>
        </button>
        <mat-tab-group [selectedIndex]="this.selectedTab" (selectedTabChange)="onTabChange($event)"
                       class="batches overflow-auto" animationDuration="0ms">
            <mat-tab *ngFor="let batch of batchList"  [id]="batch.id" [disabled]="this.loading">
                <ng-template mat-tab-label>
                    <span>
                        {{ this.translate.instant(batch.label) }}
                    </span>
                    <span style="font-size: 12px;" class="text-green-400 ml-3 relative bottom-1.5 font-bold">
                        {{ this.totals[batch.id] }}
                    </span>
                </ng-template>
                <div class="verifier-container flex flex-col">
                    <div class="grid grid-cols-3 grid-flow-row gap-0 mt-4 z-30">
                        <mat-form-field class="mb-3 relative left-4 w-3/4" appearance="outline">
                            <mat-label>{{ 'VERIFIER.search' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="search" [disabled]="this.total === 0" (keyup)="searchDocument($event)">
                        </mat-form-field>
                        <div class="w-full m-auto grid grid-cols-2 gap-2">
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'STATUS.list' | translate }}</mat-label>
                                <mat-select [(value)]="this.currentStatus" (selectionChange)="changeStatus($event)"
                                            [disabled]="this.loading">
                                    <mat-option *ngFor="let option of this.status" [value]="option['id']">
                                        {{ option['label'] }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'SETTINGS.list_forms' | translate }}</mat-label>
                                <mat-select [(value)]="this.currentForm" (selectionChange)="changeForm($event)" [disabled]="this.loading">
                                    <mat-option *ngFor="let option of this.forms" [value]="option['id']">
                                        {{ option['label'] | translate }}
                                        <span style="font-size: 12px;" class="text-green-400 ml-3 font-bold">{{ option['total'] }}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <span [class.hidden]="this.loading || this.total === 0" class="relative right-0">
                            <mat-paginator [length]="this.total" [pageSize]="this.pageSize" [pageIndex]="this.pageIndex"
                                           [pageSizeOptions]="this.pageSizeOptions" (page)="onPageChange($event)">
                            </mat-paginator>
                        </span>
                    </div>

                    <div class="z-30 -mt-2 mb-2 select-none" style="margin-left: 1.2rem" *ngIf="this.documents.length > 1">
                        <span class="cursor-pointer" (click)="selectOrUnselectAllDocuments($event)"
                              [innerHTML]="this.documentToDeleteSelected ? this.translate.instant('VERIFIER.unselect_all') : this.translate.instant('VERIFIER.select_all')">
                        </span>
                        <span [class.hidden]="this.totalChecked === 0"> ({{ this.totalChecked }})</span>
                        <span [class.hidden]="!this.documentToDeleteSelected"
                              (click)="$event.stopPropagation();deleteAllConfirmDialog()">
                            <i class="fa-solid fa-trash ml-2 text-red-500 cursor-pointer"
                               matTooltip="{{ 'GLOBAL.delete_all_checked' | translate }}"></i>
                        </span>
                    </div>

                    <hr class="w-1/2 m-auto mb-4 border-green-400 relative z-30">

                    <div *ngIf="this.documents.length === 0" class="m-4">
                        {{ 'SPLITTER.no_batch_found' | translate }}
                    </div>

                    <div *ngIf="this.loading">
                        <app-loader></app-loader>
                    </div>

                    <div class="content mx-5 mt-6" *ngIf="!this.loading">
                        <div class="cards-list list grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 grid-flow-row gap-4">
                            <mat-card *ngFor="let document of this.documents;" class="cursor-pointer p-0 mb-0">
                                <label class="p-4 absolute z-40 cursor-pointer">
                                    <input id="{{ document.document_id }}_checkbox" (click)="checkCheckedDocuments()"
                                           class="accent-green-400 checkBox_list cursor-pointer w-5 h-5" type="checkbox">
                                </label>
                                <div *ngIf="document.facturx" class="text-center text-gray-400 mt-2" [matTooltip]="'VERIFIER.facturx_level' | translate : {level : document.facturx_level}">
                                    {{ "VERIFIER.facturx" | translate }}
                                </div>
                                <div class="absolute right-0 pt-4 pr-5 z-40">
                                    <div [matMenuTriggerFor]="menu" matTooltipPosition="above"
                                         [matTooltip]="this.translate.instant('VERIFIER.documents_settings')">
                                        <i class="fa-solid fa-ellipsis-vertical text-2xl"></i>
                                    </div>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item [matMenuTriggerFor]="customers">
                                            {{ "WORKFLOW.associated_customer" | translate }}
                                        </button>
                                        <button mat-menu-item [matMenuTriggerFor]="formMenu">
                                            {{ "POSITIONS-MASKS.form_associated" | translate }}
                                        </button>
                                    </mat-menu>
                                    <mat-menu #customers="matMenu">
                                        <button mat-menu-item *ngFor="let customer of this.dataSource.data"
                                                (click)="changeCustomer(customer.id, document.document_id)">
                                            <span [class.text-green-400]="customer.id === document.customer_id">
                                                {{ customer.name | translate }}
                                            </span>
                                            <span *ngIf="customer.id === document.customer_id">
                                                <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                                            </span>
                                        </button>
                                    </mat-menu>
                                    <mat-menu #formMenu="matMenu">
                                        <button mat-menu-item (click)="changeDocumentForm(form.id, document.document_id)"
                                                *ngFor="let form of this.filteredForms">
                                            <span [class.text-green-400]="form.id === document.form_id">
                                                {{ form.label | translate }}
                                            </span>
                                            <span *ngIf="form.id === document.form_id">
                                                <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                                            </span>
                                        </button>
                                    </mat-menu>
                                </div>
                                <img [routerLink]="document.locked ? '/verifier/list' : '/verifier/viewer/' + document.document_id"
                                     mat-card-image class="m-auto p-4" [src]="document.thumb" alt="Open-Capture image"
                                     (click)="document.locked ? displayDocumentLocked(document.locked_by) : ''">
                                <mat-card-header class="leading-6 relative z-10 bg-white pt-4 pl-8 pr-8"
                                        [routerLink]="document.locked ? '/verifier/list' : '/verifier/viewer/' + document.document_id"
                                        (click)="document.locked ? displayDocumentLocked(document.locked_by) : ''">
                                    <mat-card-title class="break-all">
                                        <span class="leading-7">
                                            <i [matTooltip]="'VERIFIER.document_locked' | translate"
                                               class="fa-solid fa-lock text-base mb-2 relative" style="bottom: 0.1rem"
                                               *ngIf="document.locked"></i>
                                            {{ document.supplier_name ? document.supplier_name : 'ACCOUNTS.supplier_unknow' | translate }}
                                        </span>
                                        <span class="absolute right-6 text-green-400 text-base badge badge-secondary badge-pill"
                                              [matTooltip]="this.translate.instant('VERIFIER.nb_pages') + ' : ' + document.nb_pages">
                                            {{ document.nb_pages }}<i class="far fa-file-alt ml-1"></i>
                                        </span>
                                    </mat-card-title>
                                    <mat-card-subtitle class="mt-2 -mb-1">
                                        <div class="-mb-1 text-base text-ellipsis overflow-hidden w-full inline-block"
                                             *ngFor="let subtitles of document.display['subtitles']">
                                            <strong>{{ subtitles['label'] | translate }}</strong>&nbsp;:&nbsp;{{ subtitles['data'] }}
                                        </div>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-actions class="pb-4 pl-4">
                                    <i class="fa-solid fa-trash cursor-pointer text-red-500"
                                       (click)="$event.stopPropagation();deleteConfirmDialog(document.document_id)">
                                       <span class="font-medium mat-typography">{{ 'VERIFIER.delete_document' | translate }}</span>
                                    </i>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>