<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="w-96 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <h3 class="text-center text-gray-900 m-0 h-16" style="padding-top: 1.2rem">
            <i class="fa-solid fa-sync-alt mr-4 cursor-pointer" (click)="resetInvoices()"
               [matTooltip]="'VERIFIER.reset_invoice_list' | translate"></i>
            {{ "VERIFIER.suppliers_by_customer" | translate }}
            <i [class.fa-compress-arrows-alt]="this.expanded" [class.fa-expand-arrows-alt]="!this.expanded" class="fa-solid ml-4 cursor-pointer" (click)="expandAll()"
               [matTooltip]="!this.expanded ? this.translate.instant('VERIFIER.expand_all') : this.translate.instant('VERIFIER.collapse_all') "></i>
        </h3>
        <mat-divider></mat-divider>
        <mat-form-field class="px-4 pt-4 -mb-6 pb-6 w-full" appearance="outline"
                        [class.pointer-events-none]="loadingCustomers || this.dataSource.data.length === 0">
            <mat-label>
                {{ 'VERIFIER.search_customer' | translate }}
            </mat-label>
            <input matInput type="text" [formControl]="customerFilter"
                   (keyup)="filterCustomers()"
                   [readonly]="loadingCustomers || this.dataSource.data.length === 0">
            <button matSuffix class="text-gray-900 cursor-pointer" (click)="resetSearchCustomer()"
                    *ngIf="customerFilter.value">
                <i class="fa-solid fa-sync-alt text-xl relative" style="top: -.3rem"
                   [matTooltip]="'VERIFIER.reset_customers_search' | translate"></i>
            </button>
        </mat-form-field>
        <div *ngIf="loadingCustomers || this.dataSource.data.length === 0" class="flex text-gray-400 object-contain"
             style="height: calc(100% - 10rem)">
            <div class="m-auto text-center">
                <i class="fa-solid fa-users fa-4x fa-beat-fade w-full mb-2" style="--fa-animation-duration: 1.5s;"></i>
                <span class="w-full">
                    {{ 'VERIFIER.loading_customers' | translate }}
                </span>
            </div>
        </div>
        <div *ngIf="this.customerFilter.value && !loadingCustomers && customerFilterEmpty"
             class="flex text-gray-400 object-contain" style="height: calc(100% - 10rem)">
            <div class="m-auto text-center">
                <i class="fa-solid fa-ban fa-4x fa-beat-fade w-full mb-2" style="--fa-animation-duration: 1.5s;"></i>
                <span class="w-full">
                    {{ 'VERIFIER.no_customers_filter' | translate }}
                </span>
            </div>
        </div>
        <mat-tree *ngIf="!loadingCustomers && this.dataSource.data.length !== 0" [dataSource]="dataSource" [treeControl]="this.treeControl">
            <mat-tree-node style="min-height: 24px" class="pl-12 cursor-pointer hover:bg-black hover:bg-opacity-20"
                           *matTreeNodeDef="let node; when:isLevelTwo;" (click)="loadInvoicePerCustomer(node)">
                <button mat-icon-button disabled>
                    <i class="text-green-400 ml-4 fa-solid fa-user pb-0.5"></i>
                </button>
                <span class="pl-2 font-normal select-none">{{ node.name }}</span>
                <span class="float-right ml-auto select-none mr-6 bottom-1 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{ node.count }}
                </span>
            </mat-tree-node>
            <mat-tree-node style="min-height: 24px" class="parent cursor-pointer hover:bg-black hover:bg-opacity-10"
                           *matTreeNodeDef="let node; when: hasChild; when:isNotLevelOne" matTreeNodeToggle [class.hidden]="!node.display || node.id === 0">
                <button mat-icon-button [class.hidden]="node.count === 0 && node.id === 0">
                    <mat-icon class="mat-icon-rtl-mirror text-gray-900">
                        {{ this.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                    </mat-icon>
                </button>
                <span class="select-none" [class.pointer-events-none]="node.count === 0"
                      [class.hidden]="node.count === 0 && node.id === 0">
                    {{ node.name }}
                </span>
                <span *ngIf="!this.treeControl.isExpanded(node)" [class.hidden]="node.count === 0 && node.id === 0"
                      class="float-right ml-auto select-none mr-4 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{ node.count }}
                </span>
            </mat-tree-node>
            <mat-tree-node [class.hidden]="node.count === 0"
                           style="min-height: 24px"
                           class="child pl-6 cursor-pointer hover:bg-black hover:bg-opacity-10"
                           *matTreeNodeDef="let node;when: isLevelOne;" matTreeNodeToggle>
                <button mat-icon-button>
                    <i [class.fa-folder-open]="this.treeControl.isExpanded(node)" class="text-gray-600 ml-4 fa-solid fa-folder pb-0.5"></i>
                </button>
                <span class="pl-2 font-normal select-none">{{ node.name }}</span>
                <span *ngIf="!this.treeControl.isExpanded(node)" class="float-right ml-auto select-none mr-12 bottom-1 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{ node.count }}
                </span>
            </mat-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <button mat-icon-button (click)="sidenav.toggle();"
                class="absolute left-2 top-2" style="z-index: 999">
            <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-xl text-gray-900"></i>
        </button>
        <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="onTabChange($event)" class="batches overflow-auto" animationDuration="0ms">
            <mat-tab *ngFor="let batch of batchList"  [id]="batch.id" [disabled]="loading">
                <ng-template mat-tab-label>
                    <span matBadge="{{ totals[batch.id] }}" matBadgeSize="small" matBadgeOverlap="false">{{ this.translate.instant(batch.label) }}</span>
                </ng-template>
                <div class="verifier-container flex flex-col">
                    <div class="grid grid-cols-3 grid-flow-row gap-0 mt-4 z-30">
                        <mat-form-field class="left-4 w-1/2" appearance="outline">
                            <mat-label>{{ 'VERIFIER.search' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="search"
                                   [disabled]="total === 0"
                                   (keyup)="searchInvoice($event)">
                        </mat-form-field>
                        <mat-form-field class="w-1/2 m-auto" appearance="outline">
                            <mat-label>{{ 'STATUS.list' | translate }}</mat-label>
                            <mat-select [(value)]="currentStatus" (selectionChange)="changeStatus($event)" [disabled]="loading">
                                <mat-option *ngFor="let option of status" [value]="option['id']">
                                    {{ option['label'] }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span [class.hidden]="loading || total === 0" class="relative right-0">
                            <mat-paginator [length]="this.total" [pageSize]="this.pageSize" [pageIndex]="this.pageIndex"
                                           [pageSizeOptions]="this.pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
                        </span>
                    </div>
                    <div class="z-40 -mt-2 mb-2 select-none" style="margin-left: 1.2rem" *ngIf="this.invoices.length> 1">
                        <span class="cursor-pointer" (click)="selectOrUnselectAllInvoices($event)"
                              [innerHTML]="this.invoiceToDeleteSelected ? this.translate.instant('VERIFIER.unselect_all') : this.translate.instant('VERIFIER.select_all')">
                        </span>
                        <span [class.hidden]="this.totalChecked === 0"> ({{ this.totalChecked }})</span>
                        <span [class.hidden]="!this.invoiceToDeleteSelected" (click)="$event.stopPropagation();deleteAllConfirmDialog()">
                            <i class="fa-solid fa-trash ml-2 text-red-500 cursor-pointer" matTooltip="{{ 'VERIFIER.delete_all_checked' | translate }}"></i>
                        </span>
                    </div>
                    <hr class="w-1/2 m-auto mb-4 border-green-400 relative z-30">
                    <div *ngIf="loading">
                        <app-loader></app-loader>
                    </div>
                    <div class="content mx-10 mt-3" *ngIf="!loading">
                        <div class="list grid grid-cols-4 grid-flow-row gap-12">
                            <mat-card *ngFor="let invoice of this.invoices;" class="cursor-pointer p-0 mb-0">
                                <label class="p-5 absolute z-40 cursor-pointer">
                                    <input id="{{ invoice.invoice_id }}_checkbox" class="accent-green-400 checkBox_list cursor-pointer" type="checkbox" (click)="checkCheckedInvoices()">
                                </label>
                                <img [routerLink]="invoice.locked ? '/verifier/list' : '/verifier/viewer/'+ invoice.invoice_id"
                                     mat-card-image class="m-auto p-4" [src]="invoice.thumb" alt="Open-Capture Verifier image"
                                     (click)="invoice.locked ? displayInvoiceLocked(invoice.locked_by) : ''">
                                <mat-card-header class="leading-6 relative z-10 bg-white pt-4 pl-4 pr-4"
                                                 [routerLink]="invoice.locked ? '/verifier/list' : '/verifier/viewer/'+ invoice.invoice_id"
                                                 (click)="invoice.locked ? displayInvoiceLocked(invoice.locked_by) : ''">
                                    <mat-card-title class="break-all">
                                        <span class="leading-7">
                                            <i [matTooltip]="'VERIFIER.invoice_locked_by' | translate" class="fa-solid fa-lock text-base mb-2 relative" style="bottom: 0.1rem" *ngIf="invoice.locked"></i>
                                            {{ invoice.supplier_name ? invoice.supplier_name : 'ACCOUNTS.supplier_unknow' | translate }}
                                        </span>
                                        <span class="absolute right-6 text-green-400 text-base badge badge-secondary badge-pill"
                                              [matTooltip]="this.translate.instant('VERIFIER.nb_pages') + ' : ' + invoice.nb_pages">
                                            {{ invoice.nb_pages }}<i class="far fa-file-alt ml-1"></i>
                                        </span>
                                    </mat-card-title>
                                    <mat-card-subtitle class="mt-2 -mb-1">
                                        <span class="ellipsis"><b>{{ 'FACTURATION.invoice_number' | translate }}</b> : {{ invoice.datas.invoice_number }}<br></span>
                                        <b>{{ 'FACTURATION.invoice_date' | translate }}</b> : {{ invoice.datas.invoice_date }}<br>
                                        <b>{{ 'VERIFIER.register_date' | translate }}</b> : {{ invoice.date }}<br>
                                        <span class="ellipsis"><b>{{ 'VERIFIER.original_file' | translate }}</b> : {{ invoice.original_filename }}</span>
                                        <span class="ellipsis"><b>{{ 'ACCOUNTS.form' | translate }}</b> : {{ invoice.form_label }}</span>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-actions class="pb-4 pl-4">
                                    <i class="fa-solid fa-trash cursor-pointer text-red-500" (click)="$event.stopPropagation();deleteConfirmDialog(invoice.invoice_id)">
                                        <span class="font-medium mat-typography">{{ 'VERIFIER.delete_invoice' | translate }}</span>
                                    </i>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>