.mat-badge-content {
    @apply bg-gray-900;
    @apply text-green-400;
    @apply font-bold;
}

::ng-deep .cards-list {
    & .mat-mdc-card .mat-mdc-card-header .mat-mdc-card-header-text {
        @apply w-full;
    }
}

::ng-deep .batches {
    & .mat-paginator-page-size {
        @apply sm:hidden;
        @apply 2xl:flex;
    }

    & .mat-mdc-tab-body-wrapper > .mat-mdc-tab-body > .mat-mdc-tab-body-content {
        height: calc(100vh - 8rem) !important;
        @apply overflow-x-hidden;
        & .verifier-container > .content > .list > .mat-mdc-card:nth-last-child(-n+4) {
            @apply mb-5 #{!important};
        }
    }
}

::ng-deep .list > mat-card {
    @apply flex;
    @apply flex-col;

    & .mat-mdc-card-header {
        @apply flex-shrink-0;
    }

    & .mat-mdc-card-image {
        transform: scale(1);
        @apply transition-all;
        @apply duration-500;
    }

    & .mat-mdc-card-header .mat-mdc-card-title > span:first-child {
        @apply relative;

        &:after {
            @apply absolute;
            content: "";
            @apply w-0;
            @apply h-0.5;
            @apply bg-green-400;
            @apply left-1/2;
            @apply -bottom-0.5;
            @apply transition-all;
            @apply duration-500;
        }
    }

    &:hover {
        & .mat-mdc-card-image {
            transform: scale(1.05);
        }

        & .mat-mdc-card-header > .mat-mdc-card-header-text > .mat-mdc-card-title > span:first-child:after {
            width: 100%;
            left: 0;
        }

        & mat-card-actions {
            @apply visible;
            @apply opacity-100;
        }
    }

    & mat-card-actions {
        margin: 0 16px;
        @apply invisible;
        @apply opacity-0;
        @apply transition-all;
        @apply duration-500;

        & i > span {
            @apply invisible;
            @apply opacity-0;
            @apply -ml-2;
            @apply transition-all;
            @apply duration-500;
        }

        & i:hover > span {
            @apply visible;
            @apply opacity-100;
            @apply ml-2;
        }
    }
}