@reference "tailwindcss";
@config "../../../../../tailwind.config.js";

.mat-badge-content {
    @apply bg-gray-900;
    @apply text-green-400;
    @apply font-bold;
}

.loading_customers {
    top: 50%;
    left: 50%;
    @apply absolute;
    @apply text-gray-400;
    transform: translate(-50%, -50%);
}

::ng-deep .customer-list {
    .mat-drawer-inner-container {
        @apply overflow-hidden;
    }
}

::ng-deep .batches {
    & .mat-mdc-tab-body-wrapper mat-tab-body .mat-mdc-tab-body-content {
        @apply overflow-hidden;
    }
}

::ng-deep .list > mat-card {
    @apply flex;
    @apply flex-col;

    & .mat-mdc-card-header {
        @apply flex-shrink-0;
    }

    & .mat-mdc-card-image {
        transform: scale(1);
        @apply transition-all;
        @apply duration-500;
    }

    &:hover {
        & .mat-mdc-card-image {
            transform: scale(1.05);
        }
    }
}

.display_mode {
    &:has(button:hover) button {
        @apply border-gray-900!;
    }
}
