.mat-badge-content {
    @apply bg-gray-900;
    @apply text-green-400;
    @apply font-bold;
}

.loading_customers {
    top: 50%;
    left: 50%;
    @apply absolute;
    @apply text-gray-400;
    transform: translate(-50%, -50%);
}

::ng-deep .list > mat-card {
    @apply flex;
    @apply flex-col;

    & .mat-mdc-card-header {
        @apply flex-shrink-0;
    }

    & .mat-mdc-card-image {
        transform: scale(1);
        @apply transition-all;
        @apply duration-500;
    }

    &:hover {
        & .mat-mdc-card-image {
            transform: scale(1.05);
        }

        & mat-card-actions {
            @apply visible;
            @apply opacity-100;
        }
    }

    & mat-card-actions {
        margin: 0 16px;
        @apply invisible;
        @apply opacity-0;
        @apply transition-all;
        @apply duration-500;

        & i > span {
            @apply invisible;
            @apply opacity-0;
            @apply -ml-2;
            @apply transition-all;
            @apply duration-500;
        }

        & i:hover > span {
            @apply visible;
            @apply opacity-100;
            @apply ml-2;
        }
    }
}