<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="w-1/6 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <h3 class="text-center text-gray-900 m-0 h-16" style="padding-top: 1.2rem">
            <i class="fas fa-sync-alt mr-4 cursor-pointer" (click)="resetInvoices()"
               [matTooltip]="this.translate.instant('VERIFIER.reset_invoice_list')"></i>
            {{ "VERIFIER.suppliers_by_customer" | translate }}
            <i [class.fa-compress-arrows-alt]="this.expanded" [class.fa-expand-arrows-alt]="!this.expanded" class="fas ml-4 cursor-pointer" (click)="expandAll()"
               [matTooltip]="!this.expanded ? this.translate.instant('VERIFIER.expand_all') : this.translate.instant('VERIFIER.collapse_all') "></i>
        </h3>
        <mat-divider></mat-divider>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node style="min-height: 24px" class="pl-12 cursor-pointer hover:bg-black hover:bg-opacity-20"
                           *matTreeNodeDef="let node; when:isLevelTwo" (click)="loadInvoicePerCustomer(node)">
                <button mat-icon-button disabled>
                    <i class="text-green-400 ml-4 fas fa-user pb-0.5"></i>
                </button>
                <span class="pl-2 font-normal select-none">{{node.name}}</span>
                <span class="float-right ml-auto select-none mr-20 bottom-1 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{node.number}}
                </span>
            </mat-tree-node>
            <mat-tree-node style="min-height: 24px" class="parent cursor-pointer hover:bg-black hover:bg-opacity-10" *matTreeNodeDef="let node;when: hasChild; when:isNotLevelOne" matTreeNodeToggle>
                <button mat-icon-button>
                    <mat-icon class="mat-icon-rtl-mirror text-gray-900">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <span class="select-none" [class.pointer-events-none]="node.number == 0">{{node.name}}</span>
                <span *ngIf="!treeControl.isExpanded(node)" class="float-right ml-auto select-none mr-4 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{node.number}}
                </span>
            </mat-tree-node>
            <mat-tree-node [class.hidden]="node.number == 0" style="min-height: 24px" class="child pl-6 cursor-pointer hover:bg-black hover:bg-opacity-10" *matTreeNodeDef="let node;when: isLevelOne" matTreeNodeToggle>
                <button mat-icon-button>
                    <i [class.fa-folder-open]="treeControl.isExpanded(node)" class="text-gray-600 ml-4 fas fa-folder pb-0.5"></i>
                </button>
                <span class="pl-2 font-normal select-none">{{node.name}}</span>
                <span *ngIf="!treeControl.isExpanded(node)" class="float-right ml-auto select-none mr-12 bottom-1 bg-green-400 rounded-full px-1.5 py-0.5 text-center text-xs text-white">
                    {{node.number}}
                </span>
            </mat-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <button mat-icon-button (click)="sidenav.toggle();"
                class="absolute left-2 top-2" style="z-index: 999">
            <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fas fa-stream text-xl text-gray-900"></i>
        </button>
        <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="onTabChange($event)" class="batches overflow-auto" animationDuration="0ms">
            <mat-tab *ngFor="let batch of batchList" [label]="this.translate.instant(batch.label)" [id]="batch.id">
                <div class="flex flex-col">
                    <div class="verifier-list grid grid-cols-3 grid-flow-row gap-0 mt-4 z-30">
                        <mat-form-field class="left-4 w-1/2" appearance="outline">
                            <mat-label>{{ 'VERIFIER.search' | translate }}</mat-label>
                            <input matInput type="text" (keyup)="searchInvoice($event)">
                        </mat-form-field>
                        <mat-form-field class="w-1/2 m-auto" appearance="outline">
                            <mat-label>{{ 'STATUS.list' | translate }}</mat-label>
                            <mat-select [(value)]="currentStatus" (selectionChange)="changeStatus($event)">
                                <mat-option *ngFor="let option of status" [value]="option['id']">
                                    {{ option['label'] }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-paginator [length]="this.total" [pageSize]="pageSize" [pageIndex]="pageIndex"
                                       [pageSizeOptions]="this.pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
                    </div>
                    <div class="z-40 -mt-2 mb-2 select-none" style="margin-left: 1.2rem">
                        <span class="cursor-pointer" (click)="selectOrUnselectAllInvoices($event)" [innerHTML]="invoiceToDeleteSelected ? this.translate.instant('VERIFIER.unselect_all') : this.translate.instant('VERIFIER.select_all')"></span>
                        <span [class.hidden]="this.totalChecked == 0"> ({{ this.totalChecked}})</span>
                        <span [class.hidden]="!invoiceToDeleteSelected" (click)="$event.stopPropagation();deleteAllConfirmDialog()">
                            <i class="fas fa-trash ml-2 text-red-500 cursor-pointer" matTooltip="{{ 'VERIFIER.delete_all' | translate }}"></i>
                        </span>
                    </div>
                    <hr class="w-1/2 m-auto mb-4 border-green-400 relative z-30">
                    <div *ngIf="loading">
                        <app-loader></app-loader>
                    </div>
                    <div class="content mx-10 mt-3" *ngIf="!loading">
                        <div class="list grid grid-cols-4 grid-flow-row gap-12">
                            <mat-card *ngFor="let invoice of this.invoices;" class="cursor-pointer">
                                <input id="{{ invoice.id }}_checkbox" class="checkBox_list absolute z-40 cursor-pointer" type="checkbox" (click)="checkCheckedInvoices()"/>
                                <img [routerLink]="'/verifier/viewer/'+ invoice.id"  mat-card-image class="p-3.5 m-auto" src="assets/imgs/thumb.jpg">
                                <mat-card-header class="leading-6" [routerLink]="'/verifier/viewer/'+ invoice.id" >
                                    <mat-card-title>
                                        <span>{{ invoice.supplier_name }}</span>
                                        <span class="absolute right-6 text-green-400 text-base badge badge-secondary badge-pill"
                                              [matTooltip]="this.translate.instant('VERIFIER.nb_pages') + ' : ' + invoice.nb_pages">
                                        {{ invoice.nb_pages }}<i class="far fa-file-alt ml-1"></i>
                                    </span>
                                    </mat-card-title>
                                    <mat-card-subtitle class="mt-2 -mb-1">
                                        {{ 'FACTURATION.invoice_number' | translate }} : {{ invoice.datas.invoice_number }}<br>
                                        {{ 'FACTURATION.invoice_date' | translate }} : {{ invoice.datas.invoice_date }}<br>
                                        {{ 'VERIFIER.register_date' | translate }} : {{ invoice.date }}<br>
                                        {{ 'VERIFIER.original_file' | translate }} : {{ invoice.filename }}
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-actions>
                                    <i class="fas fa-trash cursor-pointer text-red-500" (click)="$event.stopPropagation();deleteConfirmDialog(invoice.id)">
                                        <span class="font-medium mat-typography">{{ 'VERIFIER.delete_invoice' | translate }}</span>
                                    </i>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>