<mat-sidenav-container class="absolute left-0 top-20 right-0 bottom-0">
    <mat-sidenav mode="side" opened class="w-1/6 flex flex-col h-full " style="top:0.1rem">
        <h3 class="text-center text-gray-900" style="margin-top: 0.75rem">{{ "SETTINGS.administration" | translate }}</h3>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <h3 mat-subheader>{{ 'GLOBAL.actions' | translate}}</h3>
            <a mat-list-item routerLink="/settings/users/new">
                <mat-icon mat-list-icon class="fa fa-plus"></mat-icon>
                <p mat-line>
                    {{ 'USER.add' | translate }}
                </p>
            </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <mat-expansion-panel *ngFor="let parent of this.serviceSettings.getSettingsParent()"
                                 (opened)="this.serviceSettings.getSettingListOpenState()"
                                 (closed)="!this.serviceSettings.getSettingListOpenState()"
                                 [expanded]="this.serviceSettings.getSelectedParentSetting() == parent['id']">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ parent['label'] | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-full border-t-2 border-gray-600">
                    <div class="border-b border-gray-400 " *ngFor="let setting of this.serviceSettings.getSettings()[parent['id']];">
                        <button mat-button [class.text-green-400]="this.serviceSettings.getSelectedSetting() === setting['id']"
                                class="font-normal w-full h-20 flex justify-center items-center text-center"
                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                routerLink="{{ setting['route'] }}">
                            <i class="absolute left-4 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{setting['icon']}}"> </i>
                            <p [class.font-medium]="this.serviceSettings.getSelectedSetting() === setting['id']" class="m-0">
                                {{ setting['label'] | translate }}
                            </p>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-table matSort [dataSource]="users" (matSortChange)="sortData($event)" class="w-full">
            <ng-container matColumnDef="id">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'GLOBAL.id' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="username">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'USER.username' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="firstname">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'USER.firstname' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'USER.lastname' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="role">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'USER.role' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.role_label}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'USER.status' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span *ngIf="element.enabled "> <span class="text-green-400 text-4xl relative top-2 leading-4">&bull;</span> {{ 'USER.active' | translate }}</span>
                    <span *ngIf="!element.enabled"> <span class="text-red-600 text-4xl relative top-2 leading-4">&bull;</span> {{ 'USER.inactive' | translate }}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button routerLink="/profile/{{element.id}}"
                            matTooltip="{{ 'USER.update' | translate }}" mat-icon-button
                            class="inline-block align-text-top">
                        <i class="btn-action-icon fas fa-edit fa-lg"></i>
                    </button>
                    <button *ngIf="element.role_label !== 'SuperUtilisateur' && element.enabled"
                            (click)="$event.stopPropagation();disableConfirmDialog(element.id, element.username)"
                            matTooltip="{{ 'USER.disable' | translate }}" mat-icon-button
                            class="inline-block align-text-top">
                        <i class="btn-action-icon fas fa-pause fa-lg"></i>
                    </button>
                    <button *ngIf="element.role_label !== 'SuperUtilisateur' && !element.enabled"
                            (click)="$event.stopPropagation();enableConfirmDialog(element.id, element.username)"
                            matTooltip="{{ 'USER.enable' | translate }}" mat-icon-button
                            class="inline-block align-text-top">
                        <i class="btn-action-icon fas fa-play fa-lg"></i>
                    </button>
                    <button *ngIf="element.role_label !== 'SuperUtilisateur'"
                            (click)="$event.stopPropagation();deleteConfirmDialog(element.id, element.username)"
                            matTooltip="{{ 'GLOBAL.delete' | translate }}" mat-icon-button
                            class="inline-block align-text-top">
                        <i class="btn-action-icon fas fa-trash fa-lg"></i>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                 routerLink="/profile/{{row.id}}"
                 class="cursor-pointer hover:text-green-400 hover:shadow-md transition-colors duration-300"></mat-row>
        </mat-table>
        <mat-paginator showFirstLastButtons
                       [length]="this.total"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="[5, 10, 15, 20, 50]"
                       (page)="onPageChange($event)">
        </mat-paginator>
    </mat-sidenav-content>
</mat-sidenav-container>
