.mat-column-end_date,
.mat-column-creation_date {
    flex: 0 0 170px;
}

.mat-column-module {
    flex: 0 0 7%;
}

.mat-column-status {
    flex: 0 0 200px;
}

.mat-column-filename {
    flex: 0 0 20%;
}