.mat-column-id {
    flex: 0 0 5%;
}

.mat-column-end_date,
.mat-column-creation_date {
    flex: 0 0 10%;
}

.mat-column-module {
    flex: 0 0 7%;
}

.mat-column-status,
.mat-column-filename {
    flex: 0 0 15%;
}