.mat-column-id,
.mat-column-end_date,
.mat-column-creation_date {
    flex: 0 0 10%;
}

.mat-column-filename {
    flex: 0 0 12%;
}

.mat-column-module {
    flex: 0 0 7%;
}

.mat-column-status {
    flex: 0 0 15%;
}