<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-16]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <form>
            <div class="grid grid-cols-2 gap-4 w-auto m-5 text-center">
                <ng-container *ngFor="let field of this.inputForm">
                    <mat-form-field class="block" *ngIf="field.type === 'text'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [formControl]="field.control" [readonly]="field.disabled"
                               [type]="field.type" placeholder="{{ field.placeholder | translate }}"
                               [required]="field.required">
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                        <span *ngIf="field.hint" class="absolute text-gray-600 top-0.5 -right-2 cursor-help"
                              [matTooltip]="field.hint">
                            <i class="fa-solid fa-circle-question text-md"></i>
                        </span>
                    </mat-form-field>
                    <mat-form-field class="block" *ngIf="field.type === 'select'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <mat-select [formControl]="field.control" [(value)]="field.control.value" [required]="field.required">
                            <mat-option *ngFor="let option of field.values" [value]="option['id']">
                                <span *ngIf="option['label']">
                                    {{ option['label'] | translate }}
                                </span>
                                <span *ngIf="option['name']">
                                    {{ option['name'] | translate }}
                                </span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                        <mat-hint class="text-gray-600 mt-3 text-sm" *ngIf="field.hint">
                            {{ field.hint | translate }}
                        </mat-hint>
                    </mat-form-field>
                </ng-container>
            </div>
            <div class="grid grid-cols-3 gap-4 w-auto m-10 text-center">
                <ng-container *ngFor="let field of this.inputForm">
                    <div *ngIf="field.type === 'boolean'">
                        <mat-slide-toggle [formControl]="field.control"
                                          class="relative top-4 mb-10 col-span-2">
                            <span class="justify-center">{{ field.label | translate }}</span>
                        </mat-slide-toggle>
                    </div>
                </ng-container>
            </div>
        </form>
        <div class="flex justify-center items-center">
            <button (click)="onSubmit()" mat-button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900 transition duration-300">
                <span>{{ "INPUT.create" | translate }}</span>
            </button>
        </div>
        <div class="text-gray-600 text-sm mt-4 flex justify-center items-center">
            <span class="w-1/3" [innerHTML]="'INPUT.create_hint' | translate"></span>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>