<input multiple type="file" class="hidden" (change)="uploadAttachments($event)" #attachmentUpload>
<div class="flex justify-between items-center p-3">
    <span>
        <i class="fas fa-plus text-xl cursor-pointer"
           *ngIf="documentStatus !== 'END'"
           [matTooltip]="'ATTACHMENTS.add_attachments' | translate"
           (click)="attachmentUpload.click()">
        </i>
    </span>
    <h3 class="text-center text-gray-900 m-0">
        {{ "ATTACHMENTS.attachments_list" | translate }}
    </h3>
    <i class="fa-solid fa-times text-xl cursor-pointer text-gray-900 m-0" (click)="closeSidenav()"></i>
</div>

<mat-divider></mat-divider>

<div class="overflow-x-hidden" style="height: calc(100vh - 8rem) !important">
    <div *ngIf="loadingAttachment" class="loading_attachments">
        <div class="m-auto text-center">
            <i class="fa-solid fa-paperclip fa-4x fa-beat-fade w-full mb-2"></i>
            <span class="w-full">
            {{ 'ATTACHMENTS.loading_attachments' | translate }}
        </span>
        </div>
    </div>

    <div *ngIf="!loadingAttachment && attachments.length === 0" class="w-full flex align-center items-center justify-center" (click)="attachmentUpload.click()">
        <i class="fa-solid fa-solid fa-plus text-5xl text-green-400 cursor-pointer"
           [matTooltip]="'ATTACHMENTS.add_attachments' | translate"></i>
    </div>

    <div *ngIf="!loadingAttachment && attachments.length > 0" class="w-full">
        <div *ngFor="let attachment of attachments" class="px-4 py-2">
            <mat-card>
                <img mat-card-image *ngIf="attachment['thumb']" [src]="attachment['thumb']">
                <div mat-card-image *ngIf="!attachment['thumb']" class="text-center text-8xl pt-2 px-4">
                    <i [class]="attachment['extension_icon']" class="fa-solid"></i>
                </div>
                <mat-card-header class="flex justify-center items-center relative bottom-2 w-full">
                    <mat-card-title class="truncate text-base w-11/12" *ngIf="attachment['filename']"
                                    [matTooltip]="attachment['filename'].length >= 35 ? attachment['filename'] : ''">
                        {{ attachment['filename'] }}
                    </mat-card-title>
                    <div class="cursor-pointer">
                        <div [matMenuTriggerFor]="menu" matTooltipPosition="above" class="w-5 text-center"
                             [matTooltip]="'ATTACHMENTS.attachment_settings' | translate">
                            <i class="fa-solid fa-ellipsis-vertical text-xl"></i>
                        </div>
                        <mat-menu #menu="matMenu">
                            <button *ngIf="attachment['mime_type'].startsWith('image') || attachment['mime_type'] == 'application/pdf'" mat-menu-item (click)="showAttachment(attachment)">
                                <i class="fa-solid fa-eye w-6"></i> {{ 'ATTACHMENTS.show_attachment' | translate }}
                            </button>
                            <button mat-menu-item (click)="downloadAttachment(attachment)">
                                <i class="fa-solid fa-download w-6"></i> {{ 'ATTACHMENTS.download_attachment' | translate }}
                            </button>
                            <button *ngIf="documentStatus !== 'END'" mat-menu-item (click)="deleteConfirmDialog(attachment['id'])">
                                <i class="fa-solid fa-trash w-6"></i> {{ 'ATTACHMENTS.delete_attachment' | translate }}
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>