#myDropzone {
    width: 70%;
    margin: 4em auto 1em auto;
    min-height: auto!important;
}

#submit-all {
    margin: auto;
}

.dropzone .dz-preview .dz-details {
    top:-15px!important;
}

.dropzone .dz-preview .dz-progress{
    top:45%!important;
}

.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 4em;
}

#dropzoneForm{
    position: relative;
    top: 40px;
}