.mat-column-url {
    flex: 0 0 40%;
}

.mat-column-name {
    flex: 0 0 20%;
}

.mat-column-provider {
    flex: 0 0 20%;
}

.mat-column-id {
    flex: 0 0 10%;
}

.mat-column-actions {
    flex: 0 0 10%;
}