.idea/
.angular/
custom/
bin/data/tmp/
bin/data/pdf/*.pdf
node_modules/
bin/data/*.pdf
last_mail.lock
bin/data/error/
bin/scripts/*.sh
/package-lock.json
bin/data/log/*.log
bin/scripts/*/*.sh
instance/config/*.ini
last_notification.lock
instance/upload/*/*.pdf
instance/upload/*/*.csv
instance/upload/*/*.ods
instance/referencial/*.ods
instance/referencial/*.csv
instance/referencial/*.json
bin/data/exported_pdf/*
bin/data/exported_pdfa/*
bin/data/MailCollect/MAIL_1/
bin/data/MailCollect/_ERROR/MAIL_1/