*.pyc
*.log
data/*
.idea/
custom/
edissyum
/edissyum/
.angular/
node_modules/
install/*.log
last_mail.lock
bin/scripts/*.sh
/package-lock.json
bin/scripts/*/*.sh
instance/config/*.ini
last_notification.lock
instance/upload/*/*.pdf
instance/upload/*/*.csv
instance/upload/*/*.ods
instance/referencial/*.ods
instance/referencial/*.csv
instance/referencial/*.json
bin/scripts/ai/splitter/models/*.sav
bin/scripts/ai/verifier/models/*.sav
bin/scripts/ai/splitter/train_data/*.pdf
bin/scripts/ai/verifier/train_data/*.pdf
