[MESSAGES CONTROL]
disable=wrong-import-order,too-many-boolean-expressions,inconsistent-return-statements,too-many-nested-blocks,import-error,no-else-return,missing-function-docstring,missing-class-docstring,missing-module-docstring,line-too-long,consider-using-sys-exit,too-few-public-methods,too-many-instance-attributes,too-many-arguments,too-many-locals,too-many-branches,too-many-statements