{% extends 'base.html' %}
{% block title %}{{ gettext('USER_PROFILE') }}{% endblock %}

{% block content %}
    {% set url = request.path.split('/') %}
     <div class="row">
        <div class="col-md-12 text-center">
            {% if url | length > 3 %}
                <h1>{{ gettext('USER_PROFILE') }} : {{ user['username'] }}</h1>
            {% else %}
                <h1>{{ gettext('MY_USER_PROFILE') }}</h1>
            {% endif %}
        </div>
     </div>
    <div class="row">
        <div class="login-form profile-form align-self-center col-md-3 offset-md-3">
            <form method="post">
                <h2 class="text-center">{{ gettext('CHANGE_PASSWORD') }}</h2>
                <hr>
                <div class="form-group">
                    <input autocomplete="off" name="old_password" type="password" class="form-control" placeholder="{{ gettext('OLD_PASSWORD') }}" required="required">
                </div>
                <div class="form-group">
                    <input name="new_password" type="password" class="form-control" placeholder="{{ gettext('NEW_PASSWORD') }}" required="required">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block"/>
                </div>
            </form>
            <p class="text-center">
                <a href="{{ url_for('user.reset_password', user_id=user['id']) }}">
                    {{ gettext('RESET_PASSWORD') }}
                </a>
            </p>
        </div>
        <div class="login-form profile-form align-self-center col-md-3">
                <form method="post">
                    <h2 class="text-center">{{ gettext('CHANGE_ROLE') }}</h2>
                    <hr>
                    {% if g.user['role'] == 'admin' %}
                        <div class="form-group">
                            <select name="role" class="form-control" required="required">
                                <option value="user" {% if user['role'] == 'user' %}selected {% endif %}>{{ gettext('ROLE_USER') }}</option>
                                <option value="admin" {% if user['role'] == 'admin' %}selected {% endif %}>{{ gettext('ROLE_ADMIN') }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block"/>
                        </div>
                    {% else %}
                        <p class="text-center">{{ gettext('NO_RIGHTS') }}</p>
                    {% endif %}
                </form>
        </div>
    </div>
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
    {% endblock %}
{% endblock %}
