libgl1
crudini
libpq-dev
libmagic1
pkg-config
zbar-tools
libheif-dev
ghostscript
imagemagick
python3-dev
poppler-utils
libcairo2-dev
tesseract-ocr
libtesseract-dev
libleptonica-dev
tesseract-ocr-fra
tesseract-ocr-eng
libpoppler-cpp-dev
