lxml==6.1.1
qrcode==8.2
nltk==3.10.0
fpdf2==2.8.7
numpy==2.5.1
msal==1.37.0
ldap3==2.9.1
pyocr==0.8.5
flask==3.1.3
pypdf==6.14.2
pyjwt==2.13.0
deskew==1.6.1
pyzbar==0.1.9
pandas==3.0.4
factur-x==6.5
mpmath==1.3.0
sympy==1.14.0
kuyruk==10.2.2
pillow==12.3.0
imutils==0.5.4
psycopg==3.3.4
thefuzz==0.22.1
werkzeug==3.1.8
pyflakes==3.4.0
rfc3161ng==2.1.3
pdftotext==4.0.0
unidecode==1.4.0
tnefparse==1.4.0
requests==2.34.2
gunicorn==26.0.0
weasyprint==69.0
asn1crypto==1.5.1
Bottleneck==1.6.0
xlsxwriter==3.2.9
pdf2image==1.17.0
gitpython==3.1.54
flask_cors==6.0.5
flasgger==0.9.7.1
pillow-heif==1.4.0
accelerate==1.14.0
imap-tools==1.13.0
fs-watcher==1.0.11
Flask-Babel==4.0.0
schwifty==2026.7.1
tokenizers==0.22.2
python-bidi==0.6.11
pytesseract==0.3.13
configparser==7.2.0
scikit-learn==1.9.0
ultralytics==8.4.104
python-magic==0.4.27
transformers==5.14.1
Flask-Limiter==4.1.1
pycryptodome==3.23.0
pypdf[crypto]==6.14.2
qwen-vl-utils==0.0.14
opencv-python==5.0.0.93
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.13.0
torchvision==0.28.0
