lxml==6.1.1
nltk==3.9.4
qrcode==8.2
fpdf2==2.8.7
numpy==2.4.6
msal==1.36.0
ldap3==2.9.1
pyocr==0.8.5
flask==3.1.3
pypdf==6.11.0
pyjwt==2.12.1
deskew==1.6.0
pyzbar==0.1.9
pandas==3.0.3
factur-x==4.2
mpmath==1.3.0
kuyruk==10.2.1
pillow==12.1.1
imutils==0.5.4
psycopg==3.3.4
thefuzz==0.22.1
werkzeug==3.1.8
pyflakes==3.4.0
rfc3161ng==2.1.3
pdftotext==3.0.0
unidecode==1.4.0
tnefparse==1.4.0
requests==2.34.2
gunicorn==26.0.0
weasyprint==68.1
asn1crypto==1.5.1
Bottleneck==1.6.0
xlsxwriter==3.2.9
pdf2image==1.17.0
gitpython==3.1.50
flask_cors==6.0.2
pillow-heif==1.3.0
imap-tools==1.13.0
fs-watcher==1.0.11
Flask-Babel==4.0.0
schwifty==2026.3.0
tokenizers==0.22.2
python-bidi==0.6.10
pytesseract==0.3.13
configparser==7.2.0
scikit-learn==1.8.0
transformers==5.8.1
ultralytics==8.4.51
python-magic==0.4.27
Flask-Limiter==4.1.1
pycryptodome==3.23.0
pypdf[crypto]==6.11.0
qwen-vl-utils==0.0.14
opencv-python==4.13.0.92
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.12.0
torchvision==0.27.0
