<div class="h-full">
    <ngs-code-editor style="height: 95%"
                     [theme]="theme"
                     [codeModel]="codeModel"
                     [options]="options">
    </ngs-code-editor>
    <span class="flex pr-4 pt-1">
        <span class="flex w-full justify-start pl-4" *ngIf="data['testScriptButton']">
            <button mat-button class="text-gray-900" (click)="testScript()">
                {{ data['testScriptButton'] }}
                <i *ngIf="this.testing" class="fa-solid fa-circle-notch fa-spin"></i>
            </button>
        </span>
        <span class="flex w-full justify-end">
            <button mat-button [mat-dialog-close]="false">
                {{ data['cancelButton'] }}
            </button>
            <span [matTooltip]="this.tested ? '' : 'WORKFLOW.test_before_save' | translate"
                  [class.cursor-not-allowed] = !this.tested>
                <button mat-button [class.text-green-400]="this.tested" [class.text-gray-600] = !this.tested
                        [mat-dialog-close]="this.tested ? this.codeModel.value : false" [disabled]="!this.tested">
                    {{ data['confirmButton'] }}
                </button>
            </span>
        </span>
    </span>
</div>
