<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-16]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div class="settings_header z-50">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center flex m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search">
                <button mat-icon-button (click)="sidenav2.toggle();">
                    <i [class.transform]="sidenav2.opened" [class.rotate-180]="sidenav2.opened"
                       class="fa-solid fa-stream text-xl text-gray-900"></i>
                </button>
            </div>
        </div>
        <hr class="border-green-400 relative z-50">
        <app-document-type-factory [ngClass]="{'bg-red': loadingSeparator}" [data]="{canFolderBeSelected: false, showFoldersSeparatorBtn: true}" (selectedDoctypeOutput)="getOutPut($event)"></app-document-type-factory>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 mode="side" opened position="end" class="overflow-hidden w-1/4 flex flex-col h-full border-r border-green-400">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 p-4">
            {{ 'DOCTYPE.download_separator' | translate }}
        </h3>
        <mat-divider class="border-green-400"></mat-divider>
        <div class="w-full grid grid-cols-2 m-2 mt-4">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'DOCTYPE.separator_choice '| translate }}</mat-label>
                <mat-select [disabled]="loadingSeparator" [(ngModel)]="selectedSeparator" (ngModelChange)="onChangeType()">
                    <mat-option *ngFor="let separator of separators" [id]="separator.id" [value]="separator.id " [disabled]="separator.disabled">
                        {{ separator.name| translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="text-right">
                <button mat-button [disabled]="loadingSeparator" (click)="downloadSeparator()" class="w-10 h-12">
                    <i class="fa-solid fa-file-arrow-down fa-2x"></i>
                </button>
            </div>
        </div>
        <div *ngIf="loadingSeparator" class="flex text-gray-400 object-contain" style="height: calc(100% - 230px)">
            <div class="m-auto text-center">
                <i class="fa-solid fa-qrcode fa-4x fa-beat-fade w-full mb-1"></i>
                <span class="w-full">
                    {{ 'DOCTYPE.generating_separator' | translate }}
                </span>
            </div>
        </div>
        <div *ngIf="!loadingSeparator" class="text-center text-gray-400 object-contain">
            <img [src]="separator.thumbnailUrl" alt="Separator thumbnail">
        </div>
    </mat-sidenav>
</mat-sidenav-container>

