<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-16]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center flex m-0">
                {{ this.serviceSettings.getTitle() }} :&nbsp;<span *ngIf="this.role">{{ this.role['label'] }}</span>
                <strong *ngIf="this.role">&nbsp;({{ this.role['label_short'] }})</strong>
            </h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="flex justify-center items-center">
            <form (ngSubmit)="onSubmit()" class="grid grid-cols-3 gap-6 w-full m-10 text-center">
                <ng-container *ngFor="let field of roleForm">
                    <mat-form-field *ngIf="field.type === 'text'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [value]="field.control.value" [formControl]="field.control" [type]="field.type" placeholder="{{ field.label | translate }}" [required]="field.required">
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                    </mat-form-field>
                    <mat-slide-toggle class="mt-4 -ml-96" *ngIf="field.type === 'checkbox'" [formControl]="field.control">
                        {{ field.label | translate }}
                    </mat-slide-toggle>
                </ng-container>
            </form>
        </div>
        <mat-divider class="w-1/2 m-auto border-green-400"></mat-divider>
        <h4 class="text-center mt-10 mb-10">{{ 'PRIVILEGES.list' | translate }}</h4>
        <div class="flex justify-center items-center ml-10 mr-5">
            <mat-tab-group *ngIf="this.privileges && this.rolePrivileges" dynamicHeight class="w-full">
                <mat-tab *ngFor="let parent of this.privileges['parent']" [label]="this.translate.instant('PRIVILEGES.' + parent)">
                    <div class="grid grid-cols-4 gap-x-40 gap-y-10 mt-10">
                        <mat-slide-toggle *ngFor="let privilege of this.getChildsByParent(parent)"
                                          [name]="privilege" [checked]="this.hasPrivilege(privilege)"
                                          (change)="changePrivilege($event)">
                            {{ 'PRIVILEGES.' + privilege | translate }}
                        </mat-slide-toggle>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="flex justify-center items-center mt-10">
            <button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900 transition duration-300" (click)="onSubmit()" mat-button>
                {{ 'ROLE.update' | translate }}
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>