<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="w-1/6 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 pb-4" style="padding-top: 0.9rem">{{ "SETTINGS.administration" | translate }}</h3>
        <mat-divider class="border-green-400"></mat-divider>
        <mat-nav-list class="pt-0">
            <mat-expansion-panel *ngFor="let parent of this.serviceSettings.getSettingsParent()"
                                 [expanded]="parent.opened" (opened)="this.serviceSettings.closeOtherParent(this.router.url, parent['id'])">
                <mat-expansion-panel-header class="settings_expansion">
                    <mat-panel-title>
                        {{ parent['label'] | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-full border-t-2 border-gray-600">
                    <div *ngFor="let setting of this.serviceSettings.getSettings()[parent['id']];"
                         [class.border-b]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                         [class.border-gray-400]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'">
                        <div *ngIf="this.serviceSettings.getSettingsAction(parent['id'], setting['id']) else noActions">
                            <mat-expansion-panel *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                                 [expanded]="this.router.url.includes(setting['route'])">
                                <mat-expansion-panel-header class="font-normal w-full h-20">
                                    <mat-panel-title class="font-normal justify-center items-center text-center">
                                        <i [class.text-green-400]="this.router.url === setting['route']"
                                           class="absolute text-lg left-4 w-10 h-10 rounded-full flex items-center justify-center {{ setting['icon'] }}">
                                        </i>
                                        <button mat-button [class.text-green-400]="this.router.url === setting['route']"
                                                class="pr-0 ml-2 font-normal w-full h-20 flex justify-center items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ setting['route'] }}">
                                            <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 text-xs 2xl:text-sm">
                                                {{ setting['label'] | translate }}
                                            </p>
                                        </button>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let action of this.serviceSettings.getSettingsAction(parent['id'], setting['id'])"
                                     [class.border-gray-600]="!action['showOnlyIfActive']"
                                     [class.border-t]="!action['showOnlyIfActive']"
                                     [class.w-full]="!action['showOnlyIfActive']">
                                    <div class="border-b border-gray-400"
                                         *ngIf="(this.privilegesService.hasPrivilege(action['privilege']) || setting['privilege'] === '*') && (!action['showOnlyIfActive'] || (action['showOnlyIfActive'] && this.router.url.includes(action['route'])))">
                                        <button mat-button
                                                [class.text-green-400]="this.router.url.includes(action['route'])"
                                                class="font-normal w-full h-12 ml-2 2xl:ml-12 flex items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ action['route'] }}"
                                                [class.disable_link]="action['showOnlyIfActive']">
                                            <i class="absolute -mt-2.5 2xl:-mt-2 text-lg w-10 h-10 rounded-full flex items-center justify-center {{ action['icon'] }}"></i>
                                            <p class="m-0 ml-10 2xl:ml-12 text-xs 2xl:text-sm" style="margin-top: 2.5px!important">
                                                {{ action['label'] | translate }}
                                            </p>
                                        </button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                        <ng-template #noActions>
                            <button *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                    mat-button [class.text-green-400]="this.router.url === setting['route']"
                                    class="pr-0 ml-2 font-normal w-full h-20 flex justify-center items-center text-center"
                                    (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                    routerLink="{{ setting['route'] }}">
                                <i class="absolute -mt-2.5 2xl:-mt-2 left-4 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{ setting['icon'] }}"></i>
                                <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 text-xs 2xl:text-sm">
                                    {{ setting['label'] | translate }}
                                </p>
                            </button>
                        </ng-template>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <button mat-icon-button (click)="sidenav.toggle(); this.serviceSettings.toggleMenu();"
                    class="absolute left-2 top-2">
                <i [class.fa-arrow-right]="!this.serviceSettings.getIsMenuOpen()"
                   class="fa-solid fa-arrow-left text-2xl text-gray-900"></i>
            </button>
            <div class="settings_title text-center">
                <h3>{{ this.serviceSettings.getTitle() }}</h3>
                <hr class="border-green-400">
            </div>
        </div>
        <app-hint [message]="'LOGIN-METHODS.limit_enabled_methods' | translate"></app-hint>
        <mat-tab-group class="login-methods-tab">
            <mat-tab *ngFor="let method of login_methods_data"
                     [label]="'LOGIN-METHODS.' + method['method_name'] | translate">
                <div class="list-container">
                    <div class="text-center text-base mt-8" *ngIf="method['method_name'] === 'default'">
                        <mat-slide-toggle [checked]="this.isDefaultChecked" (change)="changedDefaultMethod(method)">
                            <span class="justify-center">
                                {{'LOGIN-METHODS.enable_method' | translate}}
                            </span>
                        </mat-slide-toggle>
                    </div>
                    <div class="text-center text-base mt-8" *ngIf="method['method_name'] === 'ldap'">
                        <mat-slide-toggle [checked]="this.isLdapChecked" (change)="changedLdapMethod(method)">
                            <span class="justify-center">
                                {{'LOGIN-METHODS.enable_method' | translate}}
                            </span>
                        </mat-slide-toggle>
                        <div [class.pointer-events-none]="!this.isLdapChecked"
                             [class.opacity-30]="!this.isLdapChecked">
                            <mat-stepper orientation="horizontal" [linear]="this.isLinear" #stepper>
                                <mat-step>
                                    <form class="grid gap-x-8 gap-y-2 grid-cols-3 text-center">
                                        <ng-template matStepLabel>
                                            {{ "LOGIN-METHODS.connection" | translate }}
                                        </ng-template>
                                        <ng-container *ngFor="let field of connectionFormGroup">
                                            <mat-form-field class="block" *ngIf="field.type === 'select'">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <mat-select [(value)]="field.control.value" [required]="field.required">
                                                    <mat-option *ngFor="let option of field.values"
                                                            [value]="option">{{ option }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" *ngIf="field.type === 'password'">
                                                <mat-label>{{field.label | translate}}</mat-label>
                                                <input matInput [formControl]="field.control"
                                                       placeholder="{{ field.label | translate }}"
                                                       [required]="field.required"
                                                       [type]="showPassword ? 'text' : 'password'">
                                                <mat-icon matSuffix class="text-green-400 relative cursor-pointer -top-1.5 text-base"
                                                          (click)="this.showPassword = !this.showPassword">
                                                    <i class="fa fa-1x"  [class.fa-eye-slash]="!showPassword"
                                                       [class.fa-eye]="showPassword"></i>
                                                </mat-icon>
                                                <mat-hint>{{ field.hint}}</mat-hint>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" *ngIf="field.type === 'text'">
                                                <mat-label>{{field.label | translate}}</mat-label>
                                                <input matInput [formControl]="field.control"
                                                       [type]="field.type" [required]="field.required"
                                                       placeholder="{{ field.label | translate }}">
                                                <mat-hint>{{ field.hint}}</mat-hint>
                                            </mat-form-field>
                                        </ng-container>
                                    </form>
                                    <div class="mb-6 mt-4 grid grid-cols-2 gap-4 h-12 text-gray-900">
                                        <button type="submit" mat-button class="border-solid border-green-400 border
                                                        hover:bg-green-400 hover:text-white transition duration-300"
                                                (click)="checkLdapConnexion()">
                                            {{ "LOGIN-METHODS.test_connection" | translate }}
                                        </button>
                                        <button matStepperNext mat-button class="border-solid border-green-400 border
                                                hover:bg-green-400 hover:text-white transition duration-300">
                                            {{ "LOGIN-METHODS.next" | translate }}
                                        </button>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                        {{ "LOGIN-METHODS.synchronization" | translate }}
                                    </ng-template>
                                    <div class="grid grid-cols-4 gap-x-4 gap-y-10 m-5">
                                        <ng-container *ngFor="let field of synchroparamsFormGroup">
                                            <mat-form-field class="block" *ngIf="field.type === 'select'">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <mat-select [(value)]="field.control.value" [required]="field.required">
                                                    <mat-option *ngFor="let option of field.values"
                                                            [value]="option['id']">{{ option['label'] }}</mat-option>
                                                </mat-select>
                                                <mat-hint>{{ field.hint}}</mat-hint>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" *ngIf="field.type === 'text'">
                                                <mat-label>{{field.label | translate}}</mat-label>
                                                <input matInput [formControl]="field.control"
                                                       [required]="field.required"
                                                       [type]="field.type" placeholder="{{ field.label | translate }}">
                                                <mat-hint>{{ field.hint}}</mat-hint>
                                            </mat-form-field>
                                        </ng-container>
                                    </div>
                                    <div class="mb-6 grid grid-cols-2 gap-4 h-12 text-gray-900">
                                        <button matStepperPrevious mat-button class="border-solid border-red-400 border
                                                hover:bg-red-400 hover:text-white transition duration-300">
                                            {{ "LOGIN-METHODS.return" | translate }}
                                        </button>
                                        <button matStepperNext mat-button class="border-solid border-green-400 border
                                                border-opacity-70 hover:bg-green-400 hover:bg-opacity-70
                                                hover:text-white transition duration-300">
                                            {{ "LOGIN-METHODS.next" | translate }}
                                        </button>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                        {{ "LOGIN-METHODS.launching" | translate }}
                                    </ng-template>
                                    <p>{{ "LOGIN-METHODS.end_ldap_setup" | translate }}</p>
                                    <div class="mb-6 grid grid-cols-3 gap-4 h-12 text-gray-900">
                                        <button matStepperPrevious mat-button class="border-solid border-red-400 border
                                                hover:bg-red-400 hover:text-white transition duration-300">
                                            {{ "LOGIN-METHODS.return" | translate }}
                                        </button>
                                        <button type="submit" mat-button class="border-solid border-green-400 border
                                                hover:bg-green-400 hover:text-white transition duration-300"
                                                (click)="ldapSynchronization()">
                                            {{ "LOGIN-METHODS.launch" | translate }}
                                        </button>
                                        <button (click)="saveLoginMethodConfigs()" mat-button
                                                [disabled]="this.isSaveBtnDisabled"
                                                [class.cursor-not-allowed]="this.isSaveBtnDisabled"
                                                class="border-solid border-green-400 border hover:bg-green-400
                                                       shover:text-white transition duration-300">
                                            {{ "LOGIN-METHODS.register" | translate }}
                                        </button>
                                    </div>
                                </mat-step>
                            </mat-stepper>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>