.mat-form-field {
  margin-top: 16px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    @apply bg-green-400;
 }

::ng-deep .login-methods-tab {
    & .mat-mdc-tab-header {
        & .mat-mdc-tab-label-container > .mat-mdc-tab-list > .mat-mdc-tab-labels > .mat-mdc-tab-label {
            @apply w-1/2;
        }
    }
}


::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    @apply bg-green-400;
}