<!DOCTYPE html>
<html lang="id" dir="ltr">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Title -->
    <title>{{ gettext('403') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/otherLib/fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/otherLib/bootstrap.min.css') }}">
</head>

<body class="bg-dark text-white py-5">
<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>{{ gettext('ERROR_CODE') }} : 403</p>
        </div>
        <div class="col-md-10">
            <h3>OPPSSS!!!! Sorry...</h3>
            <p>{{ gettext('ACCESS_DENIED_SECURITY_REASONS') }}</p>
            <a class="btn btn-danger" href="javascript:history.back()">{{ gettext('GO_BACK') }}</a>
        </div>
    </div>
</div>
</body>

</html>