<div *ngIf="!loading" class="flex justify-center items-center" style="height: 85vh">
    <mat-card class="text-center w-full lg:w-1/4">
        <mat-card-title class="mb-10">
            <span *ngIf="this.userId == this.userService.user.id">{{ 'USER.modify_my_profile' | translate }}</span>
            <span *ngIf="this.userId != this.userService.user.id">{{ 'USER.modify_profile_of' | translate }} {{this.profile['username']}}</span>
        </mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" >
                <ng-container *ngFor="let field of profileForm">
                    <mat-form-field class="block">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [formControl]="field.control" [type]="field.type" placeholder="{{ field.label | translate }}" [required]="field.required">
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                    </mat-form-field>
                </ng-container>
                <div class="button">
                    <button class="hover:bg-green-400 hover:text-white transition duration-300" type="submit" mat-button>
                        {{ 'USER.modify' | translate }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
