{% extends 'base.html' %}
{% block title %}{{ gettext('LOG_IN') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="login-form align-self-center">
            <form method="post">
                <h2 class="text-center">{{ gettext('LOG_IN') }}</h2>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="{{ gettext('USERNAME') }}" required="required">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="{{ gettext('PASSWORD') }}" required="required">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block"/>
                </div>
            </form>
            <p class="text-center"><a href="{{ url_for('auth.register') }}">{{ gettext('SIGN_UP') }}</a></p>
        </div>
    </div>
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
    {% endblock %}
{% endblock %}
