{% extends 'base.html' %}
{% block title %}{{ gettext('SIGNING_UP') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="login-form">
            <form method="post">
                <h2 class="text-center">{{ gettext('SIGNING_UP') }}</h2>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="{{ gettext('USERNAME') }}" required="required">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="{{ gettext('PASSWORD') }}" required="required">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Créer un compte"/>
                </div>
            </form>
            {% if request.path == '/auth/register' %}
                <p class="text-center">
                    <a href="{{ url_for('auth.login') }}">
                        {{ gettext('LOG_IN') }}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
    {% block javascript %}
       <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
    {% endblock %}
{% endblock %}