.mat-mdc-tab-header {
    @apply z-20;
    & .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels {
        & .mdc-tab {
            @apply h-16;
            @apply w-1/3;
        }
        & .mdc-tab--active {
            @apply opacity-100;
            & .mdc-tab__text-label {
                @apply text-gray-900;
            }
            & .mdc-tab-indicator__content {
                @apply border-green-400 #{!important};
            }
        }
    }
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    @apply bg-green-400 #{!important};
}

.mat-mdc-form-field-hint::before {
    @apply hidden #{!important};
}

.mat-step-header .mat-step-header-ripple,
.mat-mdc-icon-button .mat-mdc-button-ripple,
.mat-mdc-slide-toggle .mdc-switch .mdc-switch__ripple,
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
    @apply hidden #{!important};
}


.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    @apply text-green-400 #{!important};
}

.mdc-tooltip__surface {
    @apply text-sm #{!important};
}

.mat-mdc-header-row .mat-mdc-header-cell {
    @apply text-xs;
    @apply opacity-60;
}

.mat-mdc-select-arrow svg {
    @apply fill-green-400 #{!important};
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    @apply border-green-400 #{!important};
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
    @apply border-b-green-400 #{!important};
    @apply border-t-green-400 #{!important};
    @apply border-r-transparent #{!important};
    @apply pr-1 #{!important};
    & .mat-mdc-floating-label mat-label {
        @apply text-gray-900;
    }
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    @apply text-green-400 #{!important};
}

.mat-selected,
.mat-checkbox-checked .mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after,
.mat-calendar-body-selected {
    @apply bg-green-400 #{!important};
}

.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background: #97BF3D !important;
    @apply opacity-80 #{!important};
}

.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled:active .mdc-switch__handle::after,
.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled:hover .mdc-switch__handle::after {
    background: #97BF3D !important;
    @apply opacity-100 #{!important};
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before {
    @apply bg-gray-600 #{!important};
}

.mat-selected .mat-option-text,
.mat-form-field-label {
    @apply text-gray-900 #{!important};
}

.mat-selected .mat-option-text span {
    @apply text-gray-900 #{!important};
}

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
}

.mat-mdc-slide-toggle .mdc-form-field label {
    @apply cursor-pointer;
}

.mdc-data-table__row {
    @apply relative;
    @apply z-30;
    &:hover {
        @apply z-50;
        & mat-cell {
            @apply text-green-400;
        }
    }
}

.mat-mdc-paginator-page-size-select .mat-mdc-text-field-wrapper {
    @apply w-9/12;
}

.settings_search .mat-mdc-text-field-wrapper {
    @apply top-3;
    @apply flex;
    @apply w-64;
    & .mat-mdc-form-field-flex {
        @apply h-10;
        & .mdc-notched-outline .mdc-notched-outline__notch {
            & .mdc-floating-label--float-above {
                @apply top-7 #{!important};
            }
            & .mdc-floating-label {
                top: 1.15rem;
                @apply text-sm;
            }
        }
        & .mat-mdc-form-field-infix {
            padding-top: 10px !important;
        }
    }
}

.mat-column-content {
    & .mat-mdc-text-field-wrapper {
        @apply h-8;
        @apply pl-2;
        @apply top-3;
        & .mat-mdc-form-field-infix {
            @apply text-sm;
        }
    }
}

.mat-mdc-tab-header {
    @apply border-b;
    @apply border-solid;
    @apply border-gray-300;
}

.mat-mdc-card-subtitle {
    font-weight: normal !important;
}

.mat-mdc-card .mat-mdc-card-header .mat-mdc-card-header-text {
    @apply w-full;
}

.batches {
    & .mat-mdc-paginator-page-size {
        @apply sm:hidden;
        @apply 2xl:flex;
    }

    & .mat-mdc-tab-body-wrapper > .mat-mdc-tab-body > .mat-mdc-tab-body-content {
        height: calc(100vh - 8rem) !important;
        @apply overflow-x-hidden;
        & .verifier-container > .content > .list > .mat-mdc-card:nth-last-child(-n+4) {
            @apply mb-5 #{!important};
        }
    }
}

.splitter_batches {
    & .mat-mdc-paginator-page-size {
        @apply sm:hidden;
        @apply xl:flex;
    }
    & .mat-mdc-tab-body-wrapper > .mat-mdc-tab-body > .mat-mdc-tab-body-content {
        height: calc(100vh - 8rem) !important;
        @apply overflow-x-hidden #{!important};
        & .splitter-container > .content > .list > .mat-card:nth-last-child(-n+4) {
            @apply mb-5
        }
    }
}

mat-select-country mat-form-field {
    @apply w-full
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    @apply bg-green-400 #{!important};
}

.subtitles {
    @apply pt-2;
    @apply pb-2;
    & .mat-mdc-form-field {
        @apply top-2;
        @apply relative;
    }
    & .mat-mdc-text-field-wrapper {
        @apply pl-2 #{!important};
        & .mat-mdc-form-field-flex {
            @apply h-8;
        }
    }
}

.mdc-list-item__primary-text {
    @apply truncate #{!important};
    @apply w-full;
}
