<mat-card class="w-1/3 h-32 absolute bottom-2 left-2 z-10 bg-slate-50" style="padding: 0 !important;" *ngIf="!minimizeDisplay">
    <mat-card-title class="text-sm m-4">Liste des tâches actuelles</mat-card-title>
    <span (click)="minimizeDisplay=true" class="text-lg absolute right-4 top-2 hover:text-green-400 inline-block align-bottom hover:cursor-pointer">
        <i class="fa-solid fa-window-minimize align-top"></i>
    </span>
    <div *ngFor="let task of tasks">
        <div class="m-4 h-8 border-t-2 grid grid-col-10 grid-flow-col gap-4">
            <span class="col-span-1 pt-1">
                {{ task.id }}
            </span>
            <span class="col-span-5 pt-1">
                {{ task.fileName }}
            </span>
            <span class="col-span-3 text-sm text-slate-400 pt-1">
                {{ task.time }}
            </span>
            <span>
                <i class="fas fa-circle-notch fa-spin fa-lg my-4"></i>
            </span>
        </div>
    </div>
</mat-card>
<div (click)="minimizeDisplay=false" class="w-12 h-12 absolute bottom-6 left-6 rounded-full z-10 bg-slate-100
    hover:text-green-400 hover:cursor-pointer grid justify-items-center drop-shadow-md" *ngIf="minimizeDisplay">
    <span  class="text-lg pt-2">
        <i class="fa-solid fa-list-check fa-align-center"></i>
    </span>
</div>