<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" [autosize]="true">
    <mat-sidenav #sidenav mode="side" [opened]="true" class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        @if (this.loading) {
            <div>
                <app-loader></app-loader>
            </div>
        }
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="overflow-x-hidden h-full-overflow">
            <div class="flex justify-center items-center">
                <form (ngSubmit)="onSubmit()" class="grid grid-cols-2 gap-6 w-full m-10 text-center">
                    @for (field of this.roleForm; track field['id']) {
                        @if (field['type'] === 'text') {
                            <mat-form-field>
                                <mat-label>{{ field['label'] | translate }}</mat-label>
                                <input matInput  [maxLength]="field.maxLength" [value]="field.control.value" [formControl]="field['control']" [type]="field['type']" [placeholder]="field['label'] | translate" [required]="field['required']">
                                @if (field.control.invalid) {
                                    <mat-error>{{ getErrorMessage(field['id']) }}</mat-error>
                                }
                            </mat-form-field>
                        } @else if (field['type'] === 'list') {
                            <mat-form-field>
                                <mat-label>{{ field['label'] | translate }}</mat-label>
                                <mat-select [value]="field.control.value" [formControl]="field['control']" [required]="field['required']">
                                    @for (option of field.options; track option.value) {
                                        <mat-option [value]="option.value">
                                            {{ option['label'] | translate }}
                                        </mat-option>
                                    }
                                </mat-select>
                                @if (field.control.invalid) {
                                    <mat-error>{{ getErrorMessage(field['id']) }}</mat-error>
                                }
                            </mat-form-field>
                        }
                    }
                </form>
            </div>
            <mat-divider class="w-1/2 m-auto border-green-400"></mat-divider>
            <h4 class="text-center mt-10 mb-10">{{ 'PRIVILEGES.list' | translate }}</h4>
            <div class="flex justify-center items-center ml-10 mr-5">
                @if (this.privileges) {
                    <mat-tab-group [dynamicHeight]="true">
                        @for (parent of this.privileges['parent']; track parent) {
                            <mat-tab [label]="this.translate.instant('PRIVILEGES.' + parent)">
                                <div class="grid grid-cols-4 gap-x-60 gap-y-10 mt-10">
                                    @for (privilege of this.getChildsByParent(parent); track privilege) {
                                        <mat-slide-toggle [name]="privilege"
                                                          [checked]="this.hasPrivilege(privilege)"
                                                          (change)="changePrivilege($event)">
                                            {{ 'PRIVILEGES.' + privilege | translate }}
                                            @if (['add_role', 'update_role'].includes(privilege)) {
                                                <button (click)="$event.stopPropagation(); authorizedRoles.toggle();"
                                                        class="m-2 hover:text-green-400"
                                                        [matTooltip]="this.translate.instant('ROLE.authorized_assign_roles')">
                                                    <i class="fa-solid fa-gears fa-xl text-gray-900"></i>
                                                </button>
                                            }
                                        </mat-slide-toggle>
                                    }
                                </div>
                            </mat-tab>
                        }
                    </mat-tab-group>
                }
            </div>
            <div class="flex justify-center items-center mt-10">
                <button class="valid_button" (click)="onSubmit()" mat-button>
                    {{ 'ROLE.create_role' | translate }}
                </button>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #authorizedRoles mode="side" position="end" class="w-1/5 flex flex-col border-r border-green-400">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 p-4">
            {{ "ROLE.authorized_assign_roles" | translate }}
        </h3>
        <mat-divider class="border-green-400"></mat-divider>
        <div class="w-full mt-2 flex justify-center">
            <div class="w-20 rounded-lg bg-slate-100 border border-gray-200">
                <button (click)="selectAllAssignRoles(true)" class="m-2 hover:text-green-400" [matTooltip]="'ROLE.select_all' | translate">
                    <i class="fa-solid fa-circle-check fa-xl"></i>
                </button>
                <button (click)="selectAllAssignRoles(false)" class="m-2 hover:text-green-400" [matTooltip]="'ROLE.unselect_all' | translate">
                    <i class="fa-solid fa-ban fa-xl"></i>
                </button>
            </div>
        </div>
        @for (assignRoleOption of this.roles; track assignRoleOption.id) {
            <mat-checkbox [checked]="this.assignRoles.includes(assignRoleOption.id)"
                          (change)="updateAssignRoles(assignRoleOption)" class="mt-2 w-full text-xl">
                <span>{{ assignRoleOption.label }}</span>
            </mat-checkbox>
        }
        @if (this.roles.length === 0) {
            <span class="w-full mt-8 text-gray-400 flex justify-center" style="height: calc(100% - 230px)">
                {{ "ROLE.no_authorized_assign_role" | translate }}
            </span>
        }
    </mat-sidenav>
</mat-sidenav-container>