<nav style="background: #f8f9fa" class="shadow-md relative z-30">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16 z-50">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button (click)="toggleMobileMenu()"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-600 hover:text-white hover:bg-gray-900 focus:ring-2 focus:ring-inset focus:ring-gray-900"
                        aria-expanded="false">
                    <svg *ngIf="mobileMenuState == 'hide'" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                    <svg *ngIf="mobileMenuState == 'show'" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <img class="hidden lg:block h-10 w-auto" [src]="this.image" alt="Open-Capture logo">
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <button mat-flat-button routerLink="/home" [routerLinkActive]="'bg-gray-900 text-green-400'"
                           class="text-gray-500 bg-transparent hover:bg-gray-500 hover:text-white px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.home' | translate }}
                        </button>
                        <button mat-flat-button routerLink="/verifier" [routerLinkActive]="'bg-gray-900 text-green-400'"
                                *ngIf="location.path() !== '/home' && this.getSplitterOrVerifier() == 'verifier'"
                           class="text-gray-500 bg-transparent hover:bg-gray-500 hover:text-white px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.batches' | translate }}
                        </button>
                        <button mat-flat-button routerLink="/splitter" [routerLinkActive]="'bg-gray-900 text-green-400'"
                                *ngIf="location.path() !== '/home' && this.getSplitterOrVerifier() == 'splitter'"
                           class="text-gray-500 bg-transparent hover:bg-gray-500 hover:text-white px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.batches' | translate }}
                        </button>
                        <button mat-flat-button routerLink="/upload" [routerLinkActive]="'bg-gray-900 text-green-400'"
                                *ngIf="location.path() !== '/home' && this.getSplitterOrVerifier() != undefined && this.getSplitterOrVerifier() != ''"
                                [disabled]="!this.privilegesService.hasPrivilege('upload')"
                                [class.cursor-not-allowed]="!this.privilegesService.hasPrivilege('upload')"
                                [class.hover:bg-gray-500]="this.privilegesService.hasPrivilege('upload')"
                                [class.hover:text-white]="this.privilegesService.hasPrivilege('upload')"
                                class="text-gray-500 bg-transparent px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.upload' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- Profile dropdown -->
                <div class="ml-3 relative mr-2">
                    <div>
                        <button [class.settings_active]="location.path().includes('profile/' + userService.user['id'])"
                                mat-mini-fab (click)="toggleProfileDropdown()"
                                [matTooltip]="this.translate.instant('USER.my_profile')"
                                class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60"
                                id="user-menu" aria-haspopup="true">
                            <i class="fas fa-users-cog"></i>
                        </button>
                    </div>
                    <div [@toggle]="profileDropdownCurrentState" class="origin-top-right absolute md:right-0 mt-2 w-56 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 z-50"
                         role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                        <span class="block text-center mb-2 text-gray-900">
                            <b>{{ userService.user['lastname'] }}</b> {{ userService.user['firstname'] }} ({{ userService.user['username'] }})
                            <i>{{ userService.user['role']['label'] }}</i>
                            <hr>
                        </span>
                        <a (click)="closeprofileDropDown()" routerLink="/profile/{{ userService.user['id'] }}"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 relative"
                           role="menuitem">
                            {{ 'USER.my_profile' | translate }}
                        </a>
                        <a (click)="closeprofileDropDown()"
                           routerLink="/logout"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 relative"
                           role="menuitem">
                            {{ 'GLOBAL.log_out' | translate }}
                        </a>
                    </div>
                </div>
                <div class="ml-3 mr-2 relative" *ngIf="this.privilegesService.hasPrivilege('settings')">
                    <button id="settings-menu" aria-haspopup="true" mat-mini-fab routerLink="/settings"
                            [class.settings_active]="location.path().includes('settings')"
                            [matTooltip]="this.translate.instant('GLOBAL.settings')"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fas fa-cog"></i>
                    </button>
                </div>
                <div class="ml-3 mr-2 relative border-l border-green-400 pl-5" *ngIf="this.privilegesService.hasPrivilege('suppliers_list')">
                    <button id="supplier-menu" aria-haspopup="true" mat-mini-fab routerLink="/accounts/suppliers"
                            [class.settings_active]="location.path().includes('accounts/suppliers')"
                            [matTooltip]="this.translate.instant('ACCOUNTS.suppliers_list')"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fas fa-building"></i>
                    </button>
                </div>
                <div class="ml-3 relative" *ngIf="this.privilegesService.hasPrivilege('customers_list')">
                    <button id="customer-menu" aria-haspopup="true" mat-mini-fab routerLink="/accounts/customers"
                            [class.settings_active]="location.path().includes('accounts/customers')"
                            [matTooltip]="this.translate.instant('ACCOUNTS.customers_list')"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fas fa-user"></i>
                    </button>
                </div>
                <div class="ml-3 relative">
                    <mat-form-field class="origin-top-right right-0 mt-4 w-32">
                        <mat-label>{{ 'GLOBAL.language' | translate }}</mat-label>
                        <mat-select (selectionChange)="localeService.changeLocale($event)" [(value)]="localeService.currentLang">
                            <mat-option *ngFor="let lang of localeService.langs" [value]="lang[0]">{{ lang[1] }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</nav>
