<app-tasks-watcher></app-tasks-watcher>
<nav style="background: #f8f9fa" class="shadow-md relative z-40">
    <div class="mx-auto px-2 sm:px-6 lg:px-8" style="max-width: 100rem">
        <div class="relative flex items-center justify-between h-16 z-50">
            <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
                <!-- Mobile menu button-->
                <button (click)="toggleMobileMenu()"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-600 hover:text-white
                        hover:bg-gray-900 focus:ring-2 focus:ring-inset focus:ring-gray-900"
                        aria-expanded="false">
                    <svg *ngIf="!this.mobileMenuState" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                    <svg *ngIf="this.mobileMenuState" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>

            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 items-center sm:hidden xl:flex">
                    <img class="hidden lg:block h-10 w-auto" [src]="this.image" alt="Open-Capture logo">
                </div>
                <div class="flex-shrink-0 items-center sm:flex xl:hidden">
                    <img class="hidden lg:block h-10 w-auto" [src]="this.imageMobile" alt="Open-Capture logo">
                </div>
                <div class="hidden lg:block sm:ml-3">
                    <div class="flex space-x-4">
                        <button mat-flat-button routerLink="/home" [routerLinkActive]="'bg-gray-900 text-green-400'"
                                [class.text-gray-500]="!location.path().includes('/home')"
                                [class.bg-transparent]="!location.path().includes('/home')"
                                class="hover:bg-gray-500 hover:text-white px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.home' | translate }}
                        </button>
                        <button mat-flat-button routerLink="/verifier" [routerLinkActive]="'bg-gray-900 text-green-400'"
                                *ngIf="location.path() !== '/home' && this.getSplitterOrVerifier() === 'verifier'"
                                [class.text-gray-500]="!location.path().includes('/verifier') || location.path().includes('/settings')"
                                [class.bg-transparent]="!location.path().includes('/verifier') || location.path().includes('/settings')"
                                class="hover:bg-gray-500 hover:text-white px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.batches' | translate }}
                        </button>
                        <button mat-flat-button routerLink="/splitter" [routerLinkActive]="'bg-gray-900 text-green-400'"
                                *ngIf="location.path() !== '/home' && this.getSplitterOrVerifier() === 'splitter'"
                                [class.text-gray-500]="!location.path().includes('/splitter') || location.path().includes('/settings')"
                                [class.bg-transparent]="!location.path().includes('/splitter') || location.path().includes('/settings')"
                                class="hover:bg-gray-500 hover:text-white px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.batches' | translate }}
                        </button>
                        <button mat-flat-button routerLink="/upload" [routerLinkActive]="'bg-gray-900 text-green-400'"
                                *ngIf="location.path() !== '/home' && getSplitterOrVerifier() !== undefined && getSplitterOrVerifier() !== '' && getSplitterOrVerifier() !== null"
                                [disabled]="!privilegesService.hasPrivilege('upload')"
                                [class.cursor-not-allowed]="!privilegesService.hasPrivilege('upload')"
                                [class.hover:bg-gray-500]="privilegesService.hasPrivilege('upload')"
                                [class.hover:text-white]="privilegesService.hasPrivilege('upload')"
                                [class.text-gray-500]="!location.path().includes('/upload')"
                                [class.bg-transparent]="!location.path().includes('/upload')"
                                class="px-3 py-2 text-sm font-medium transition duration-300">
                            {{ 'GLOBAL.upload' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex absolute inset-y-0 right-0 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="ml-3 mr-0 md:mr-2 relative" *ngIf="this.privilegesService.hasPrivilege('settings')">
                    <button id="settings-menu" aria-haspopup="true" mat-mini-fab routerLink="/settings"
                            [class.settings_active]="location.path().includes('settings')"
                            [matTooltip]="this.translate.instant('GLOBAL.settings')"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fa-solid fa-cog"></i>
                    </button>
                </div>
                <div class="ml-3 mr-2 relative" *ngIf="this.privilegesService.hasPrivilege('history')">
                    <button id="history-menu" aria-haspopup="true" mat-mini-fab routerLink="/history"
                            [class.settings_active]="location.path().includes('history')"
                            [matTooltip]="'GLOBAL.history' | translate"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fa-solid fa-history"></i>
                    </button>
                </div>
                <div class="ml-3 mr-2 relative" *ngIf="this.privilegesService.hasPrivilege('statistics')">
                    <button id="statistics-menu" aria-haspopup="true" mat-mini-fab routerLink="/statistics"
                            [class.settings_active]="location.path().includes('statistics')"
                            [matTooltip]="'GLOBAL.statistics' | translate"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fa-solid fa-chart-bar"></i>
                    </button>
                </div>
                <div class="ml-3 mr-2 relative" *ngIf="false && this.privilegesService.hasPrivilege('monitoring')">
                    <button id="monitoring-menu" aria-haspopup="true" mat-mini-fab routerLink="/statistics"
                            [class.settings_active]="location.path().includes('monitoring')"
                            [matTooltip]="'GLOBAL.monitoring' | translate"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                    </button>
                </div>
                <div class="ml-3 mr-2 relative border-l border-green-400 pl-5" *ngIf="this.privilegesService.hasPrivilege('suppliers_list')">
                    <button id="supplier-menu" aria-haspopup="true" mat-mini-fab routerLink="/accounts/suppliers"
                            [class.settings_active]="this.location.path().includes('accounts/suppliers')"
                            [matTooltip]="'ACCOUNTS.suppliers_list' | translate"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fa-solid fa-city"></i>
                    </button>
                </div>
                <div class="ml-3 relative" *ngIf="this.privilegesService.hasPrivilege('customers_list')">
                    <button id="customer-menu" aria-haspopup="true" mat-mini-fab routerLink="/accounts/customers"
                            [class.settings_active]="this.location.path().includes('accounts/customers')"
                            [matTooltip]="'ACCOUNTS.customers_list' | translate"
                            class="bg-green-400 hover:ring-4 hover:ring-offset-4 hover:ring-green-400 hover:ring-opacity-60">
                        <i class="fa-solid fa-users"></i>
                    </button>
                </div>
                <div class="ml-3 relative hidden md:block" *ngIf="this.privilegesService.hasPrivilege('change_language')">
                    <mat-form-field class="language origin-top-right right-0 mt-4 w-32">
                        <mat-label>{{ 'GLOBAL.language' | translate }}</mat-label>
                        <mat-select (selectionChange)="this.localeService.changeLocale($event)"
                                    [disabled]="this.localeService.localeLoading"
                                    [(value)]="this.localeService.currentLang">
                            <mat-option *ngFor="let lang of this.localeService.langs" [value]="lang[0]">
                                {{ lang[1] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <i *ngIf="this.localeService.localeLoading"
                       class="fa-solid fa-earth-europe fa-beat fa-lg text-gray-900 ml-4"></i>
                </div>
                <div class="my_profile ml-4 relative py-2 px-1 hover:cursor-pointer" (click)="toggleProfileDropdown()"
                     id="user-menu" aria-haspopup="true" (clickOutside)="closeprofileDropDown()"
                     [class.profile_active]="location.path().includes('profile/' + this.userService.user['id'])">
                    <span *ngIf="this.userService.user" class="flex items-center"
                          [matTooltip]="this.translate.instant('USER.my_profile')">
                        <div class="hidden xl:block">
                            <strong>
                                {{ this.userService.user['lastname'] }} {{ this.userService.user['firstname'] }}
                            </strong>
                            <br>({{ this.userService.user['username'] }})
                        </div>
                        <span class="ml-2">
                            <i class="fa-solid fa-user text-xl"></i>
                        </span>
                    </span>
                    <div class="ml-3 mr-0 md:mr-2 relative">
                        <div [class.hidden]="!this.profileDropdownCurrentState" class="origin-top-right absolute md:right-0 mt-2 w-56 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 z-50"
                             role="menu" aria-orientation="vertical" aria-labelledby="user-menu" *ngIf="this.userService.user">
                            <a (click)="closeprofileDropDown()" routerLink="/profile/{{ this.userService.user['id'] }}"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 relative" role="menuitem">
                                {{ 'USER.my_profile' | translate }}
                            </a>
                            <a (click)="closeprofileDropDown()" routerLink="/logout"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 relative" role="menuitem">
                                {{ 'GLOBAL.log_out' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.mobileMenuState" id="mobile-menu">
            <div class="space-y-1 px-2 pt-2 pb-3 text-gray-500">
                <a routerLink="/home" [routerLinkActive]="'bg-gray-900 text-green-400'" (click)="this.mobileMenuState = false"
                   class="hover:bg-gray-500 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                    {{ 'GLOBAL.home' | translate }}
                </a>
                <a routerLink="/verifier" *ngIf="location.path() !== '/home' && this.getSplitterOrVerifier() === 'verifier'"
                   [routerLinkActive]="'bg-gray-900 text-green-400'" (click)="this.mobileMenuState = false"
                   class="hover:bg-gray-500 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                    {{ 'GLOBAL.batches' | translate }}
                </a>
                <a routerLink="/splitter" *ngIf="location.path() !== '/home' && this.getSplitterOrVerifier() === 'splitter'"
                   [routerLinkActive]="'bg-gray-900 text-green-400'" (click)="this.mobileMenuState = false"
                   class="hover:bg-gray-500 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                    {{ 'GLOBAL.batches' | translate }}
                </a>
                <a routerLink="/upload" [routerLinkActive]="'bg-gray-900 text-green-400'" (click)="this.mobileMenuState = false"
                   class="hover:bg-gray-500 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                    {{ 'GLOBAL.upload' | translate }}
                </a>
            </div>
        </div>
    </div>
</nav>