.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0;
}

.modal-content {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
}

.file-content-image {
    max-width: 100%;
}
