<div class="modal-header flex items-center">
    <h3 class="m-0">{{ data.title }}</h3>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="modal-content">
    <ng-container *ngIf="mimeType.startsWith('image'); else otherFile">
        <img [src]="fileUrl" alt="Document" class="file-content-image"/>
    </ng-container>
    <ng-template #otherFile>
        <pdf-viewer *ngIf="mimeType === 'application/pdf'"
                    [src]="fileUrl" [render-text]="true" [show-borders]="true"
                    [original-size]="true" [fit-to-page]="true">
        </pdf-viewer>
        <p *ngIf="mimeType !== 'application/pdf'">
            {{ 'GLOBAL.wrong_filetype' | translate }}
        </p>
    </ng-template>
</div>
