<div class="flex relative justify-center items-center gap-8" style="height: 85vh">
    <mat-card *ngIf="this.privilegesService.hasPrivilege('access_splitter')"
              class="text-center w-full 2xl:w-1/5 lg:w-1/3 sm:w-1/2 shadow-lg transition duration-500 ease-in-out
                     transform hover:-translate-y-1 hover:scale-110 hover:shadow-2xl">
        <a routerLink="/splitter/list" class="block" (click)="setValue('splitter')">
            <div class="bg-splitter bg-no-repeat bg-center w-full h-64 transition duration-500 ease-in-out hover:opacity-30" style="background-size: 20rem"></div>
        </a>
        <div class="absolute inline-flex items-center justify-center w-12 h-10 text-md -right-1 font-bold
                    text-gray-900 bg-green-400 border-4 border-gray-900 rounded-full -top-4">
            {{ getUnseenBatches('splitter') }}
        </div>
        <mat-card-subtitle class="mb-5">
            {{ 'HOME.splitter' | translate }}
        </mat-card-subtitle>
    </mat-card>
    <mat-card *ngIf="this.privilegesService.hasPrivilege('access_verifier')"
              class="text-center w-full 2xl:w-1/5 lg:w-1/3 sm:w-1/2 shadow-lg transition duration-500 ease-in-out
                     transform hover:-translate-y-1 hover:scale-110 hover:shadow-2xl">
        <a routerLink="/verifier/list" class="block" (click)="setValue('verifier')">
            <div class="bg-verifier md:w-full bg-no-repeat bg-center h-64 transition duration-500 ease-in-out hover:opacity-30" style="background-size: 12rem"></div>
        </a>
        <div class="absolute inline-flex items-center justify-center w-12 h-10 text-md -right-1 font-bold
                    text-gray-900 bg-green-400 border-4 border-gray-900 rounded-full -top-4">
            {{ getUnseenBatches('verifier') }}
        </div>
        <mat-card-subtitle class="mb-5">
            {{ 'HOME.verifier' | translate }}
        </mat-card-subtitle>
    </mat-card>
</div>