<div class="flex relative justify-center items-center gap-8" style="height: 85vh">
    <mat-card [class.disabled]="!this.privilegesService.hasPrivilege('access_splitter')" class="text-center w-full lg:w-1/6 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:shadow-2xl">
        <a routerLink="/splitter/list" class="block" (click)="setValue('splitter')">
            <div class="bg-splitter bg-90 bg-no-repeat bg-center w-full h-64 transition duration-500 ease-in-out hover:opacity-30"></div>
        </a>
        <mat-card-subtitle>
            {{ 'HOME.splitter' | translate }}
        </mat-card-subtitle>
    </mat-card>
    <mat-card [class.disabled]="!this.privilegesService.hasPrivilege('access_verifier')" class="text-center w-full lg:w-1/6 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:shadow-2xl">
        <a routerLink="/verifier/list" class="block" (click)="setValue('verifier')">
            <div class="bg-verifier bg-50 bg-no-repeat bg-center w-full h-64 transition duration-500 ease-in-out hover:opacity-30"></div>
        </a>
        <mat-card-subtitle>
            {{ 'HOME.verifier' | translate }}
        </mat-card-subtitle>
    </mat-card>
</div>