.mat-column-id {
    flex: 0 0 10%;
}

.mat-column-actions {
    flex: 0 0 5%;
}


::ng-deep .mat-mdc-tab-labels {
    & .mat-mdc-tab-disabled {
        @apply opacity-100 #{!important};
    }

    & :not(.mat-mdc-tab-label-active) {
        & .actions {
            @apply pointer-events-none;
        }
    }

    & .mat-mdc-tab-label-active {
        @apply opacity-100 #{!important};
        & .actions {
            @apply pointer-events-auto;
        }
    }
}

::ng-deep .change_process_name .mat-form-field-wrapper {
    @apply top-3.5;
    & .mat-form-field-flex {
        @apply h-8 #{!important};
    }

    & .mat-form-field-infix {
        @apply -top-3.5;
    }
}
