::ng-deep .mat-mdc-tab-labels {
    & .mat-mdc-tab-disabled {
        @apply opacity-100 #{!important};
    }

    & :not(.mdc-tab--active) {
        & .actions {
            @apply pointer-events-none;
        }
    }

    & .mdc-tab--active {
        @apply opacity-100 #{!important};
        & .actions {
            @apply pointer-events-auto;
        }
    }
}

::ng-deep .change_process_name .mat-form-field-wrapper {
    @apply top-3.5;
    & .mat-form-field-flex {
        @apply h-8 #{!important};
    }

    & .mat-form-field-infix {
        @apply -top-3;
    }
}

.hint {
    @apply my-3;
    @apply flex;
    @apply w-1/2;
    @apply mx-auto;
    @apply border-l-8;
    @apply rounded-sm;
    @apply text-gray-900;
    @apply justify-center;
    @apply bg-green-400/40;
    @apply border-l-gray-900/50;

    & i {
        @apply flex;
        @apply items-center;
        @apply text-green-400;
    }

    & .message {
        @apply m-2;
    }
}

.hint .mdc-text-field--outlined .mdc-notched-outline {
    @apply h-8;
    @apply top-3;
}
