<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="flex text-gray-900">
                <button mat-icon-button (click)="addProcess()" class="ml-2">
                    <i class="fa-solid fa-plus text-2xl" [matTooltip]="'MAILCOLLECT.add_process' | translate"></i>
                </button>
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!this.loading" class="w-full">
            <mat-tab-group class="mx-5" [selectedIndex]="this.selectedIndex" dynamicHeight>
                <mat-tab *ngFor="let process of this.processes">
                    <ng-template mat-tab-label>
                        <span class="actions" *ngIf="getNameOfProcess(process) !== '' && getNameOfProcess(process) !== null else input">
                            <span *ngIf="!process.edit_name">
                                {{ getNameOfProcess(process) }}
                            </span>

                            <i *ngIf="!process.edit_name" [title]="'MAILCOLLECT.edit_process_name' | translate"
                               class="fas fa-edit ml-5 hover:scale-125 transition-all duration-75"
                               (click)="process.edit_name = true"></i>
                            <i *ngIf="!process.edit_name" [title]="'MAILCOLLECT.delete_process' | translate"
                               class="fas fa-trash text-red-600 ml-5 hover:scale-125 transition-all duration-75"
                               (click)="deleteConfirmDialog(process)"></i>
                            <i *ngIf="processIsEnabled(process)" [title]="'MAILCOLLECT.disable_process' | translate"
                               class="fas fa-pause ml-5 text-gray-900 hover:scale-125 transition-all duration-75"
                               (click)="disableConfirmDialog(process)"></i>
                            <i *ngIf="!processIsEnabled(process)" [title]="'MAILCOLLECT.enable_process' | translate"
                               class="fas fa-play ml-5 text-gray-900 hover:scale-125 transition-all duration-75"
                               (click)="enableConfirmDialog(process)"></i>
                            <i *ngIf="process.exists" [title]="'MAILCOLLECT.duplicate_process' | translate"
                               class="fas fa-clone ml-5 text-green-400 hover:scale-125 transition-all duration-75"
                               (click)="duplicateConfirmDialog(process)"></i>

                            <div *ngIf="process.edit_name" class="grid grid-cols-5">
                                <div class="change_process_name settings_search col-span-4">
                                    <mat-form-field class="block">
                                        <input #new_process_name [value]="getNameOfProcess(process)" matInput
                                               (focusout)="updateProcessName(process, new_process_name.value)"
                                               type="text" placeholder="{{ 'MAILCOLLECT.process_name' | translate }}">
                                    </mat-form-field>
                                </div>
                                <div class="relative top-5">
                                    <i *ngIf="!this.loadingProcessName" class="fas fa-check ml-2" (click)="updateProcessName(process, new_process_name.value)"></i>
                                    <i *ngIf="this.loadingProcessName" class="fa-solid fa-circle-notch fa-spin"></i>
                                </div>
                            </div>
                        </span>
                        <ng-template #input>
                            <div class="actions grid grid-cols-5">
                                <div class="change_process_name settings_search col-span-4">
                                    <mat-form-field class="block">
                                        <input #new_process_name_input matInput type="text"
                                               (focusout)="updateProcessName(process, new_process_name_input.value)"
                                               placeholder="{{ 'MAILCOLLECT.process_name' | translate }}">
                                    </mat-form-field>
                                </div>
                                <div class="relative top-5">
                                    <i class="fas fa-check ml-1" (click)="updateProcessName(process, new_process_name_input.value, false)"></i>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                    <div class="overflow-x-hidden overflow-y-auto text-center p-8" style="height: calc(100vh - 9rem) !important">
                        <ng-container *ngFor="let unit of this.units">
                            <h2 class="text-gray-900">{{ unit['label'] | translate }}</h2>
                            <div class="flex justify-center mx-10">
                                <div class="grid grid-cols-2 gap-6 w-full mb-0 text-center">
                                    <ng-container *ngFor="let field of process">
                                        <ng-container *ngIf="field.unit === unit['id']">
                                            <div *ngIf="field.type === 'boolean'" class="col-span-2 mb-8">
                                                <mat-slide-toggle class="relative m-auto top-4" [formControl]="field['control']">
                                                    {{ field.label | translate }}
                                                </mat-slide-toggle>
                                            </div>
                                            <mat-form-field class="w-full" *ngIf="field.type === 'text' || field.type === 'password' || field.type === 'number'">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <input matInput [type]="field.type" [formControl]="field['control']">
                                                <mat-icon matSuffix *ngIf="field.id === 'password'"
                                                          (click)="field.type === 'text' ? field.type = 'password' : field.type = 'text' "
                                                          class="text-green-400 relative cursor-pointer -top-0.5 text-base">
                                                    <i class="fa fa-1x" [class.fa-eye-slash]="field.type !== 'password'" [class.fa-eye]="field.type === 'password'"></i>
                                                </mat-icon>
                                            </mat-form-field>
                                            <mat-form-field class="w-full" *ngIf="field.type === 'autocomplete' && field.id !== 'splitter_technical_input_id' && field.id !== 'verifier_customer_id' && field.id !== 'verifier_form_id'">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <input matInput [formControl]="field['control']" [required]="field['required']"
                                                       [type]="field.type" [matAutocomplete]="autocomplete">
                                                <span *ngIf="field.hint" class="absolute text-gray-600 top-0.5 -right-2 cursor-help"
                                                      [matTooltip]="field.hint | translate">
                                                    <i class="fa-solid fa-circle-question text-md"></i>
                                                </span>
                                                <mat-autocomplete #autocomplete="matAutocomplete">
                                                    <mat-option *ngFor="let option of field.values | async" [value]="option" [id]="option.id">
                                                        <span [innerHTML]="option | highlight: toHighlight"></span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                            <mat-form-field class="w-full" *ngIf="field.type === 'autocomplete' && (field.id === 'splitter_technical_input_id' || field.id === 'verifier_customer_id' || field.id === 'verifier_form_id')">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <input matInput [formControl]="field['control']" [required]="field['required']"
                                                       [type]="field.type" [matAutocomplete]="autocomplete">
                                                <span *ngIf="field.hint" class="absolute text-gray-600 top-0.5 -right-2 cursor-help"
                                                      [matTooltip]="field.hint | translate">
                                                    <i class="fa-solid fa-circle-question text-md"></i>
                                                </span>
                                                <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayFn">
                                                    <mat-option *ngFor="let option of field.values | async" [value]="option" [id]="option.id">
                                                        <span [innerHTML]="option.name ? option.name : option.label ? option.label : option.input_label | highlight: toHighlight"></span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                            <mat-form-field class="w-full" *ngIf="field.type === 'select'">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <mat-select [formControl]="field['control']" [required]="field['required']">
                                                    <mat-option *ngFor="let option of field.values" [value]="option['id']">
                                                        {{ option['label'] | translate }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>

                            <span *ngIf="unit['id'] === 'general'">
                                <div class="hint text-center">
                                    <i class="fa-solid fa-circle-exclamation fa-2x pl-1"></i>
                                    <div class="message w-auto">
                                        <button class="gray_button col-start-3" mat-button (click)="retrieveFolders(process)">
                                            <span *ngIf="!this.folderLoading">{{ 'MAILCOLLECT.test_settings_and_retrieve_folders' | translate }}</span>
                                            <i *ngIf="this.folderLoading" class="fa-solid text-2xl fa-circle-notch fa-spin text-green-400"></i>
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </ng-container>
                        <div class="mb-6 flex justify-center">
                            <button *ngIf="process.exists" mat-button (click)="updateProcess(process)" class="valid_button">
                                <span *ngIf="!this.processLoading">{{ 'MAILCOLLECT.update_process' | translate }}</span>
                                <i *ngIf="this.processLoading" class="fa-solid text-2xl fa-circle-notch fa-spin text-gray-900"></i>
                            </button>
                            <button *ngIf="!process.exists" mat-button (click)="createProcess(process)"
                                    class="valid_button">
                                <span *ngIf="!this.processLoading">{{ 'MAILCOLLECT.create_process' | translate }}</span>
                                <i *ngIf="this.processLoading" class="fa-solid text-2xl fa-circle-notch fa-spin text-gray-900"></i>
                            </button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>