<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav">
        <app-settings-menu></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="sidenav.toggle();">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center flex m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="flex text-gray-900">
                <button mat-icon-button (click)="addProcess()" class="ml-2">
                    <i class="fa-solid fa-plus text-2xl" [matTooltip]="'MAILCOLLECT.add_process' | translate"></i>
                </button>
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!this.loading" class="w-full overflow-auto" style="height: calc(100% - 70px)">
            <mat-accordion>
                <mat-expansion-panel class="m-4" #mep="matExpansionPanel">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="justify-center">
                            {{ 'MAILCOLLECT.global_parameters' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr *ngIf="mep.expanded" class="border-green-400 w-1/2 m-auto">
                    <div class="flex flex-wrap m-10 mb-0 text-center">
                        <ng-container *ngFor="let field of this.globalForm">
                            <div class="w-1/3" *ngIf="field.type === 'text' || field.type === 'password'"
                                 [ngClass]="{'w-1/4': field.id === 'smtpHost' || field.id === 'smtpPort' || field.id === 'smtpLogin'}">
                                <mat-form-field class="block m-1">
                                    <mat-label>{{ field.label | translate }}</mat-label>
                                    <input matInput [formControl]="field.control" [type]="field.type" placeholder="{{ field.label | translate }}" [required]="field.required">
                                    <mat-icon matSuffix *ngIf="field.id === 'smtpPwd'" (click)="field.type === 'text' ? field.type = 'password' : field.type = 'text' "
                                              class="text-green-400 relative cursor-pointer -top-0.5 text-base">
                                        <i class="fa fa-1x" [class.fa-eye-slash]="field.type !== 'password'" [class.fa-eye]="field.type === 'password'"></i>
                                    </mat-icon>
                                    <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div *ngIf="field.type === 'number'">
                                <mat-form-field class="block m-1">
                                    <mat-label>{{ field.label | translate }}</mat-label>
                                    <input matInput [formControl]="field.control" [type]="field.type" placeholder="{{ field.label | translate }}" [required]="field.required">
                                    <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div *ngIf="field.type === 'boolean'"
                                 [ngClass]="{'w-1/4': field.id === 'smtpAuth', 'w-1/6': field.id !== 'smtpAuth'}">
                                <mat-slide-toggle class="relative m-auto top-4" [formControl]="field.control">
                                    {{ field.label | translate }}
                                </mat-slide-toggle>
                            </div>
                        </ng-container>
                    </div>
                    <div class="w-full text-center mb-4">
                        <button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900
                                        transition duration-300" type="submit" mat-button (click)="updateGlobal()">
                            {{ 'MAILCOLLECT.update_global' | translate }}
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <h3 class="text-center text-gray-900 mx-4">{{ 'MAILCOLLECT.process_parameters' | translate }}</h3>
            <hr class="border-green-400 relative z-30 w-1/2 m-auto mb-4">

            <mat-tab-group class="mx-5" [selectedIndex]="this.selectedIndex">
                <mat-tab *ngFor="let process of this.processes">
                    <ng-template mat-tab-label>
                        <span class="actions" *ngIf="getNameOfProcess(process) !== '' && getNameOfProcess(process) !== null else input">
                            <span *ngIf="!process.edit_name">
                                {{ getNameOfProcess(process) }}
                            </span>

                            <i *ngIf="!process.edit_name" [title]="'MAILCOLLECT.edit_process_name' | translate"
                               class="fas fa-edit ml-5 hover:scale-125 transition-all duration-75"
                               (click)="process.edit_name = true"></i>
                            <i *ngIf="!process.edit_name" [title]="'MAILCOLLECT.delete_process' | translate"
                               class="fas fa-trash text-red-600 ml-5 hover:scale-125 transition-all duration-75"
                               (click)="deleteConfirmDialog(process)"></i>
                            <i *ngIf="processIsEnabled(process)" [title]="'MAILCOLLECT.disable_process' | translate"
                               class="fas fa-pause ml-5 text-gray-900 hover:scale-125 transition-all duration-75"
                               (click)="disableConfirmDialog(process)"></i>
                            <i *ngIf="!processIsEnabled(process)" [title]="'MAILCOLLECT.enable_process' | translate"
                               class="fas fa-play ml-5 text-gray-900 hover:scale-125 transition-all duration-75"
                               (click)="enableConfirmDialog(process)"></i>
                            <i *ngIf="process.exists" [title]="'MAILCOLLECT.duplicate_process' | translate"
                               class="fas fa-clone ml-5 text-green-400 hover:scale-125 transition-all duration-75"
                               (click)="duplicateConfirmDialog(process)"></i>

                            <div *ngIf="process.edit_name" class="grid grid-cols-5">
                                <div class="change_process_name settings_search col-span-4">
                                    <mat-form-field class="block">
                                        <input #new_process_name [value]="getNameOfProcess(process)" matInput
                                               (focusout)="updateProcessName(process, new_process_name.value)"
                                               type="text" placeholder="{{ 'MAILCOLLECT.process_name' | translate }}">
                                    </mat-form-field>
                                </div>
                                <div class="relative top-5">
                                    <i *ngIf="!this.loadingProcessName" class="fas fa-check ml-2" (click)="updateProcessName(process, new_process_name.value)"></i>
                                    <i *ngIf="this.loadingProcessName" class="fa-solid fa-circle-notch fa-spin"></i>
                                </div>
                            </div>
                        </span>
                        <ng-template #input>
                            <div class="actions grid grid-cols-5">
                                <div class="change_process_name settings_search col-span-4">
                                    <mat-form-field class="block">
                                        <input #new_process_name_input matInput type="text"
                                               (focusout)="updateProcessName(process, new_process_name_input.value)"
                                               placeholder="{{ 'MAILCOLLECT.process_name' | translate }}">
                                    </mat-form-field>
                                </div>
                                <div class="relative top-5">
                                    <i class="fas fa-check ml-1" (click)="updateProcessName(process, new_process_name_input.value, false)"></i>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                    <div class="flex flex-wrap m-10 mb-0 text-center">
                        <ng-container *ngFor="let field of process">
                            <div [class]="field.class" *ngIf="field.type === 'text' || field.type === 'password'">
                                <mat-form-field class="block m-2">
                                    <mat-label>{{ field.label | translate }}</mat-label>
                                    <input matInput [formControl]="field.control" [type]="field.type" placeholder="{{ field.label | translate }}" [required]="field.required">
                                    <mat-icon matSuffix *ngIf="field.id === 'password'" (click)="field.type === 'text' ? field.type = 'password' : field.type = 'text' "
                                              class="text-green-400 relative cursor-pointer -top-0.5 text-base">
                                        <i class="fa fa-1x" [class.fa-eye-slash]="field.type !== 'password'" [class.fa-eye]="field.type === 'password'"></i>
                                    </mat-icon>
                                    <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div [class]="field.class" *ngIf="field.type === 'autocomplete' &&
                                                            field.id !== 'splitter_technical_input_id' &&
                                                            field.id !== 'verifier_customer_id' &&
                                                            field.id !== 'verifier_form_id'">
                                <mat-form-field class="block m-2">
                                    <mat-label>{{ field.label | translate }}</mat-label>
                                    <input matInput [formControl]="field.control" [required]="field.required"
                                           [type]="field.type" [matAutocomplete]="autocomplete">
                                    <mat-hint class="text-gray-600" *ngIf="field.hint">{{ field.hint | translate }}</mat-hint>
                                    <mat-autocomplete #autocomplete="matAutocomplete">
                                        <mat-option *ngFor="let option of field.values | async" [value]="option" [id]="option.id">
                                            <span [innerHTML]="option | highlight: toHighlight"></span>
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div [class]="field.class" *ngIf="field.type === 'autocomplete' &&
                                                                (field.id === 'splitter_technical_input_id' ||
                                                                field.id === 'verifier_customer_id' ||
                                                                field.id === 'verifier_form_id')">
                                <mat-form-field class="block m-2">
                                    <mat-label>{{ field.label | translate }}</mat-label>
                                    <input matInput [formControl]="field.control" [required]="field.required"
                                           [type]="field.type" [matAutocomplete]="autocomplete">
                                    <mat-hint *ngIf="field.hint">{{ field.hint | translate }}</mat-hint>
                                    <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of field.values | async" [value]="option" [id]="option.id">
                                            <span [innerHTML]="option.name ? option.name : option.label ? option.label : option.input_label | highlight: toHighlight"></span>
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div [class]="field.class" *ngIf="field.type === 'select'">
                                <mat-form-field class="block m-2">
                                    <mat-label>{{ field.label | translate }}</mat-label>
                                    <mat-select [formControl]="field.control" [required]="field.required">
                                        <mat-option *ngFor="let option of field.values" [value]="option">
                                            {{ option }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div [class]="field.class" *ngIf="field.type === 'number'">
                                <mat-form-field class="block m-2">
                                    <mat-label>{{ field.label | translate }}</mat-label>
                                    <input matInput [formControl]="field.control" [type]="field.type"
                                           placeholder="{{ field.label | translate }}" [required]="field.required">
                                    <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div [class]="field.class" *ngIf="field.type === 'boolean' && !field.disabled">
                                <mat-slide-toggle class="relative m-auto top-4" [formControl]="field.control">
                                    {{ field.label | translate }}
                                </mat-slide-toggle>
                            </div>
                        </ng-container>
                    </div>
                    <div class="mb-6 grid grid-cols-6 gap-4 h-10 mt-8">
                        <button class="p-6 border-solid border-gray-900 border bg-gray-900 text-white hover:bg-transparent hover:text-gray-900
                                    transition duration-300 col-start-3" mat-button (click)="retrieveFolders(process)">
                            <span *ngIf="!this.folderLoading">{{ 'MAILCOLLECT.retrieve_folders' | translate }}</span>
                            <i *ngIf="this.folderLoading" class="fa-solid text-2xl fa-circle-notch fa-spin text-green-400"></i>
                        </button>
                        <button *ngIf="process.exists" mat-button (click)="updateProcess(process)"
                                class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900
                                    transition duration-300">
                            <span *ngIf="!this.processLoading">{{ 'MAILCOLLECT.update_process' | translate }}</span>
                            <i *ngIf="this.processLoading" class="fa-solid text-2xl fa-circle-notch fa-spin text-gray-900"></i>
                        </button>
                        <button *ngIf="!process.exists" mat-button (click)="createProcess(process)"
                                class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900
                                    transition duration-300">
                            <span *ngIf="!this.processLoading">{{ 'MAILCOLLECT.create_process' | translate }}</span>
                            <i *ngIf="this.processLoading" class="fa-solid text-2xl fa-circle-notch fa-spin text-gray-900"></i>
                        </button>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>