<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="w-1/6 flex flex-col h-full border-r border-green-400"
                 style="top:0.1rem">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 pb-4"
            style="padding-top: 0.9rem">{{ "SETTINGS.administration" | translate }}</h3>
        <mat-divider class="border-green-400"></mat-divider>
        <mat-nav-list class="pt-0">
            <mat-expansion-panel *ngFor="let parent of this.serviceSettings.getSettingsParent()"
                                 [expanded]="parent.opened" (opened)="this.serviceSettings.closeOtherParent(this.router.url, parent['id'])">
                <mat-expansion-panel-header class="settings_expansion">
                    <mat-panel-title>
                        {{ parent['label'] | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-full border-t-2 border-gray-600">
                    <div *ngFor="let setting of this.serviceSettings.getSettings()[parent['id']];"
                         [class.border-b]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                         [class.border-gray-400]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'">
                        <div *ngIf="this.serviceSettings.getSettingsAction(parent['id'], setting['id']) else noActions">
                            <mat-expansion-panel
                                    *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                    [expanded]="this.router.url.includes(setting['route'])">
                                <mat-expansion-panel-header class="font-normal w-full h-20">
                                    <mat-panel-title class="font-normal justify-center items-center text-center">
                                        <i [class.text-green-400]="this.router.url === setting['route']"
                                           class="absolute text-lg left-4 w-10 h-10 rounded-full flex items-center justify-center {{ setting['icon'] }}">
                                        </i>
                                        <button mat-button [class.text-green-400]="this.router.url === setting['route']"
                                                class="pr-0 font-normal w-full h-20 flex justify-center items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ setting['route'] }}">
                                            <p [class.font-medium]="this.router.url === setting['route']" class="m-0">
                                                {{ setting['label'] | translate }}
                                            </p>
                                        </button>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let action of this.serviceSettings.getSettingsAction(parent['id'], setting['id'])"
                                     [class.border-gray-600]="!action['showOnlyIfActive']"
                                     [class.border-t]="!action['showOnlyIfActive']"
                                     [class.w-full]="!action['showOnlyIfActive']">
                                    <div class="border-b border-gray-400"
                                         *ngIf="(this.privilegesService.hasPrivilege(action['privilege']) || setting['privilege'] === '*') && (!action['showOnlyIfActive'] || (action['showOnlyIfActive'] && this.router.url.includes(action['route'])))">
                                        <button mat-button
                                                [class.text-green-400]="this.router.url.includes(action['route'])"
                                                class="font-normal w-full h-12 ml-12 flex items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ action['route'] }}"
                                                [class.disable_link]="action['showOnlyIfActive']">
                                            <i class="absolute text-lg w-10 h-10 rounded-full flex items-center justify-center {{ action['icon'] }}"></i>
                                            <p class="m-0 ml-12" style="margin-top: 2.5px!important">
                                                {{ action['label'] | translate }}
                                            </p>
                                        </button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                        <ng-template #noActions>
                            <button *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                    mat-button [class.text-green-400]="this.router.url === setting['route']"
                                    class="pr-0 font-normal w-full h-20 flex justify-center items-center text-center"
                                    (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                    routerLink="{{ setting['route'] }}">
                                <i class="absolute left-4 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{ setting['icon'] }}"></i>
                                <p [class.font-medium]="this.router.url === setting['route']" class="m-0">
                                    {{ setting['label'] | translate }}
                                </p>
                            </button>
                        </ng-template>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <button mat-icon-button (click)="sidenav.toggle(); this.serviceSettings.toggleMenu();"
                    class="absolute left-2 top-2">
                <i [class.fa-arrow-right]="!this.serviceSettings.getIsMenuOpen()"
                   class="fa-solid fa-arrow-left text-2xl text-gray-900"></i>
            </button>
            <div class="settings_title text-center">
                <h3>{{ this.serviceSettings.getTitle() }}</h3>
                <hr class="border-green-400">
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'SETTINGS.add_custom_fields' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="form">
                    <div class="mx-8 grid grid-cols-6 gap-4">
                        <mat-form-field class="w-full" *ngFor="let input of addFieldInputs">
                            <mat-label [attr.for]="input.field_id">{{ input.label | translate }}</mat-label>
                            <div [ngSwitch]="input.controlType">
                                <div *ngSwitchCase="'text'">
                                    <input matInput [formControl]="input.control" [id]="input.field_id"
                                           [type]="input.type" [matAutocomplete]="autocomplete">
                                    <mat-autocomplete #autocomplete="matAutocomplete">
                                        <div *ngIf="input.control.value === null || input.control.value === '' || input.control.value === undefined">
                                            <mat-option *ngFor="let option of input.autoComplete" [value]="option.key">
                                                <span style="font-size: 12px;" [innerHTML]="option.value"></span>
                                                <span style="font-size: 10px;" class="text-green-400 ml-3">{{ option.key }}</span>
                                            </mat-option>
                                        </div>
                                    </mat-autocomplete>
                                </div>
                                <div *ngSwitchCase="'dropdown'">
                                    <mat-select [id]="input.field_id"
                                                [formControl]="input.control">
                                        <mat-option *ngFor="let opt of input.options"
                                                    [value]="opt.key">
                                            {{ opt.value | translate }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </mat-form-field>
                        <div class="cursor-pointer flex ml-1 -mt-6 w-1/12" matTooltip="{{ 'CUSTOM-FIELDS.reset' | translate }}"
                             (click)="resetForm()">
                            <i class="self-center fa-solid fa-sync fa-lg hover:text-green-400"></i>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <div>
                            <span class="text-center">{{ 'CUSTOM-FIELDS.select_options' | translate }}</span>
                            <div class="flex">
                                <div cdkDropList class="select-options-list w-96"
                                     (cdkDropListDropped)="dropSelectOption($event)">
                                    <div *ngIf="selectOptions.length === 0" class="my-14 text-center text-gray-400">{{ 'CUSTOM-FIELDS.no_option_added' | translate }}</div>
                                    <div class="drop-box-option p-4" *ngFor="let option of selectOptions; let optionIndex = index;" cdkDrag>
                                        <mat-form-field class="w-40 mr-2">
                                            <mat-label>{{ 'HEADER.id' | translate }}</mat-label>
                                            <input matInput [formControl]="option.idControl" type="text">
                                        </mat-form-field>
                                        <mat-form-field class="w-40">
                                            <mat-label>{{ 'HEADER.label' | translate }}</mat-label>
                                            <input matInput [formControl]="option.labelControl" type="text">
                                        </mat-form-field>
                                        <div matTooltip="{{ 'CUSTOM-FIELDS.delete_choice' | translate }}"
                                             (click)="deleteSelectOption(optionIndex)" class="top-0 mx-2 h-8 cursor-pointer">
                                            <i class="fa-solid fa-trash fa-lg hover:text-green-400"></i>
                                        </div>
                                    </div>
                                </div>
                                <div matTooltip="{{ 'CUSTOM-FIELDS.add_choice' | translate }}"
                                     (click)="addSelectOption()" class="top-0 mx-2 h-8 inline-block">
                                    <i class="fa-solid fa-plus fa-lg hover:text-green-400"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center m-5">
                        <button class="border-solid border-green-400 border hover:bg-green-400 hover:text-white transition duration-300"
                                mat-button (click)="addCustomField()" *ngIf="!update">
                            {{ 'CUSTOM-FIELDS.add' | translate }}
                        </button>
                        <button class="border-solid border-green-400 border hover:bg-green-400 hover:text-white transition duration-300"
                                mat-button (click)="$event.stopPropagation();updateCustomOnSubmit()" *ngIf="update">
                            {{ 'CUSTOM-FIELDS.update' | translate }}
                        </button>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="custom-fields-control w-full">
            <mat-tab-group>
                <mat-tab *ngFor="let parent of this.parent" [label]="this.translate.instant(parent.label)">
                    <div cdkDropListGroup class="w-max mx-auto">
                        <div class="list-container">
                            <h2>{{ 'HEADER.inactive' | translate }}</h2>
                            <div cdkDropList [cdkDropListData]="inactiveFields" (cdkDropListDropped)="dropCustomField($event)"
                                 class="custom-fields-list"
                                 style="max-height:47vh; overflow:auto;">
                                <span *ngFor="let item of inactiveFields; let i = index;">
                                    <div cdkDrag class="drop-box-custom-field" *ngIf="item.module === parent['id']">
                                        <div class="text-left">
                                            <div>{{ item.label }}</div>
                                            <div class="text-gray-400">
                                                ({{ 'CUSTOM-FIELDS.' + item.type | translate }})
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <button matTooltip="{{ 'GLOBAL.move_to_active' | translate }}" mat-icon-button
                                                    class="hover:text-green-400" (click)="moveToActive(i)">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button matTooltip="{{ 'DOCTYPE.edit' | translate }}" mat-icon-button
                                                    class="hover:text-green-400"
                                                    (click)="updateCustomField(item, 'inactive')">
                                                <i class="fa-solid fa-edit"></i>
                                            </button>
                                            <button matTooltip="{{ 'GLOBAL.delete' | translate }}" mat-icon-button
                                                    class="hover:text-green-400"
                                                    (click)="deleteCustomField(item.id, 'inactive')">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="list-container">
                            <h2>{{ 'HEADER.active' | translate }}</h2>
                            <div cdkDropList [cdkDropListData]="activeFields" (cdkDropListDropped)="dropCustomField($event)"
                                 class="custom-fields-list"
                                 style="max-height:47vh; overflow:auto;">
                                <span *ngFor="let item of activeFields; let i = index;">
                                    <div cdkDrag class="drop-box-custom-field" *ngIf="item.module === parent['id']">
                                        <div class="text-left">
                                            <div>{{ item.label }}</div>
                                            <div class="text-gray-400">
                                                ({{ 'CUSTOM-FIELDS.' + item.type | translate }})
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <button matTooltip="{{ 'GLOBAL.move_to_inactive' | translate }}" mat-icon-button
                                                    class="hover:text-green-400" (click)="moveToInactive(i)">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button matTooltip="{{ 'DOCTYPE.edit' | translate }}" mat-icon-button
                                                    class="hover:text-green-400"
                                                    (click)="updateCustomField(item, 'active')">
                                                <i class="fa-solid fa-edit"></i>
                                            </button>
                                            <button matTooltip="{{ 'GLOBAL.delete' | translate }}" mat-icon-button
                                                    class="hover:text-green-400"
                                                    (click)="deleteCustomField(item.id, 'active')">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>