/* Drag and drop list */
.list-container {
    width: 400px;
    max-width: 100%;
    margin: 25px;
    display: inline-block;
    vertical-align: top;
}

.list-container > h2{
    margin: 0;
}

.custom-fields-control{
    margin-top: 25px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.custom-fields-list {
    border: solid 1px #ccc;
    min-height: 200px;
    background: white;
    border-radius: 4px;
    overflow:auto;
    display: block;
    max-height:47vh;
}

.select-options-list {
    border: solid 1px #ccc;
    height: 150px;
    width: 300px;
    background: white;
    border-radius: 4px;
    overflow:auto;
    display: block;
}

.drop-box-option {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 10px;
}

.drop-box-custom-field {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-fields-list.cdk-drop-list-dragging .drop-box-custom-field:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* End drag and drop list */