<mat-sidenav-container cdkDropListGroup class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="w-1/6 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 pb-4" style="padding-top: 0.9rem">{{ "SETTINGS.administration" | translate }}</h3>
        <mat-divider class="border-green-400"></mat-divider>
        <mat-nav-list class="pt-0">
            <mat-expansion-panel *ngFor="let parent of this.serviceSettings.getSettingsParent()"
                                 [expanded]="parent.opened" (opened)="this.serviceSettings.closeOtherParent(this.router.url, parent['id'])">
                <mat-expansion-panel-header class="settings_expansion">
                    <mat-panel-title>
                        {{ parent['label'] | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-full border-t-2 border-gray-600">
                    <div *ngFor="let setting of this.serviceSettings.getSettings()[parent['id']];"
                         [class.border-b]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                         [class.border-gray-400]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'">
                        <div *ngIf="this.serviceSettings.getSettingsAction(parent['id'], setting['id']) else noActions">
                            <mat-expansion-panel *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                                 [expanded]="this.router.url.includes(setting['route'])">
                                <mat-expansion-panel-header class="font-normal w-full h-20">
                                    <mat-panel-title class="font-normal justify-center items-center text-center">
                                        <i [class.text-green-400]="this.router.url === setting['route']"
                                           class="absolute text-lg left-4 w-10 h-10 rounded-full flex items-center justify-center {{ setting['icon'] }}">
                                        </i>
                                        <button mat-button [class.text-green-400]="this.router.url === setting['route']"
                                                class="pr-0 ml-2 font-normal w-full h-20 flex justify-center items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ setting['route'] }}">
                                            <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 text-xs 2xl:text-sm">
                                                {{ setting['label'] | translate }}
                                            </p>
                                        </button>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let action of this.serviceSettings.getSettingsAction(parent['id'], setting['id'])"
                                     [class.border-gray-600]="!action['showOnlyIfActive']"
                                     [class.border-t]="!action['showOnlyIfActive']"
                                     [class.w-full]="!action['showOnlyIfActive']">
                                    <div class="border-b border-gray-400"
                                         *ngIf="(this.privilegesService.hasPrivilege(action['privilege']) || setting['privilege'] === '*') && (!action['showOnlyIfActive'] || (action['showOnlyIfActive'] && this.router.url.includes(action['route'])))">
                                        <button mat-button
                                                [class.text-green-400]="this.router.url.includes(action['route'])"
                                                class="font-normal w-full h-12 ml-2 2xl:ml-12 flex items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                routerLink="{{ action['route'] }}"
                                                [class.disable_link]="action['showOnlyIfActive']">
                                            <i class="absolute -mt-2.5 2xl:-mt-2 text-lg w-10 h-10 rounded-full flex items-center justify-center {{ action['icon'] }}"></i>
                                            <p class="m-0 ml-10 2xl:ml-12 text-xs 2xl:text-sm" style="margin-top: 2.5px!important">
                                                {{ action['label'] | translate }}
                                            </p>
                                        </button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                        <ng-template #noActions>
                            <button *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                    mat-button [class.text-green-400]="this.router.url === setting['route']"
                                    class="pr-0 ml-2 font-normal w-full h-20 flex justify-center items-center text-center"
                                    (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                    routerLink="{{ setting['route'] }}">
                                <i class="absolute -mt-2.5 2xl:-mt-2 left-4 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{ setting['icon'] }}"></i>
                                <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 text-xs 2xl:text-sm">
                                    {{ setting['label'] | translate }}
                                </p>
                            </button>
                        </ng-template>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <button mat-icon-button (click)="sidenav.toggle(); this.serviceSettings.toggleMenu();"
                    class="absolute left-2 top-2">
                <i [class.fa-arrow-right]="!this.serviceSettings.getIsMenuOpen()" class="fa-solid fa-arrow-left text-2xl text-gray-900"></i>
            </button>
            <div class="settings_title text-center">
                <h3>{{ this.serviceSettings.getTitle() }}</h3>
                <hr class="border-green-400">
            </div>
            <button mat-icon-button (click)="sidenav2.toggle();"
                    class="absolute right-2 top-2">
                <i [class.transform]="sidenav2.opened" [class.rotate-180]="sidenav2.opened" class="fa-solid fa-stream text-xl text-gray-900"></i>
            </button>
        </div>
        <div *ngIf="!loading" class="overflow-auto" style="height: calc(100% - 64px)">
            <div class="grid grid-cols-3 gap-4 mt-6 ml-6 mr-6">
                <mat-form-field>
                    <mat-label>{{ "FORMS.label" | translate }}</mat-label>
                    <input matInput [formControl]="this.form['label'].control" required>
                </mat-form-field>
                <div class="flex justify-center mt-4">
                    <mat-slide-toggle [formControl]="this.form['default_form'].control">
                        {{ "FORMS.is_default" | translate }}
                    </mat-slide-toggle>
                </div>
                <mat-form-field>
                    <mat-label>{{ "HEADER.choose_metadata_method" | translate }}</mat-label>
                    <mat-select [formControl]="this.form['metadata_method'].control">
                        <mat-option *ngFor="let option of this.metadataMethods" value="{{ option.id }}">
                            {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngFor="let field of this.outputForm; let cpt = index">
                    <mat-label>{{ "HEADER.choose_output" | translate }}</mat-label>
                    <mat-select [(ngModel)]="field.control.value">
                        <mat-option *ngFor="let option of this.outputs" value="{{ option.id }}">
                            {{ option.output_label }}
                        </mat-option>
                    </mat-select>
                    <span *ngIf="!field.canRemove" (click)="$event.stopPropagation(); addOutput()"
                          matTooltip="{{ 'OUTPUT.add' | translate }}"
                          class="absolute top-1 right-4 cursor-pointer text-gray-900 z-50" style="right: -2.2rem">
                        <mat-icon class="text-lg">add_circle</mat-icon>
                    </span>
                    <span *ngIf="field.canRemove" (click)="$event.stopPropagation(); removeOutput(cpt)"
                          matTooltip="{{ 'OUTPUT.remove' | translate }}"
                          class="absolute top-1 right-4 cursor-pointer text-red-500" style="right: -2.2rem">
                        <mat-icon class="text-xl">delete_forever</mat-icon>
                    </span>
                </mat-form-field>
            </div>
            <ng-container *ngFor="let category of fieldCategories; let i = index">
                <div class="relative text-xl tracking-wider pl-1.5 pr-1.5 bg-white" style="top: 2.5rem; left:2.5rem;" [style]="'width:calc(3% + ' + this.translate.instant(category['label']).length + '%)'">
                    {{ category['label'] | translate }}
                </div>
                <div class="border-green-400 border rounded-lg mx-6 m-7">
                    <div cdkDropList (cdkDropListDropped)="dropFromForm($event)" id="{{ category['id'] }}"
                         class="flex flex-wrap cursor-pointer w-full my-3" style="min-height: 50px;">
                        <div *ngFor="let field of this.fields[category['id']]; let index = index" class="flex items-center px-3 overflow-hidden" [class]="field.class"
                             ngSortGridGroup="{{ category['id'] }}" ngSortgridItem [ngSortGridItems]="fields[category['id']]" (sorted)="storeNewOrder($event, category['id'])">
                            <mat-form-field class="right-0 w-full form-builder">
                                <i cdkDrag class="fa-solid fa-trash z-10" (click)="deleteField($event, index, category['id'], field.unit)" [matTooltip]="this.translate.instant('FORMS.delete_field')"></i>
                                <span class="input-label relative -top-1 border-r-2 border-green-400 inline-block overflow-ellipsis overflow-hidden whitespace-nowrap w-10/12">
                                    <span *ngIf="field.required" class="text-red-500 mr-2 relative top-0.5">*</span>
                                    <b>{{ field.label | translate }}</b>
                                    <span *ngIf="field.type !== 'select' && field.type !== 'textarea'"> ({{ 'FORMATS.' + field.format | translate }})</span>
                                    <span *ngIf="field.type === 'select'"> ({{ 'FORMATS.select' | translate }})</span>
                                    <span *ngIf="field.type === 'textarea'"> ({{ 'FORMATS.textarea' | translate }})</span>
                                </span>
                                <input class="cursor-pointer" matInput type="text" readonly>
                                <div class="absolute top-0 -right-4">
                                    <button mat-button [matMenuTriggerFor]="menu"
                                            [matTooltip]="this.translate.instant('VERIFIER.field_settings')"
                                            matTooltipPosition="above">
                                        <mat-icon class="field_settings text-md">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item [matMenuTriggerFor]="size">
                                            {{ "VERIFIER.size" | translate }} <small class="ml-2">{{ field.class_label }}</small>
                                        </button>
                                        <button mat-menu-item [matMenuTriggerFor]="display" *ngIf="field.type === 'select'">
                                            {{ "VERIFIER.display" | translate }} <small class="ml-2"><i class="text-base {{ field.display_icon }}"></i></small>
                                        </button>
                                        <button mat-menu-item [matMenuTriggerFor]="required">
                                            {{ "VERIFIER.required" | translate }} <small class="ml-2"><i class="text-base {{ field.required_icon }}"></i></small>
                                        </button>
                                        <button mat-menu-item [matMenuTriggerFor]="disabled">
                                            {{ "FORMS.disable" | translate }} <small class="ml-2"><i class="text-base {{ field.required_icon }}"></i></small>
                                        </button>
                                        <button mat-menu-item [matMenuTriggerFor]="autoCompleteMasksMenu">
                                            {{ "FORMS.input_metadata" | translate }}
                                        </button>
                                    </mat-menu>
                                    <mat-menu #size="matMenu">
                                        <button mat-menu-item [id]="field.id"
                                                *ngFor="let _class of classList"
                                                (click)="changeClass(field.id, _class.id, _class.label, category['id'])"
                                                [class.bg-green-400]="_class.id === field.class">
                                            {{ _class.label | translate  }}
                                        </button>
                                    </mat-menu>
                                    <mat-menu #display="matMenu">
                                        <button mat-menu-item [id]="field.id"
                                                *ngFor="let _display of displayList"
                                                (click)="changeDisplay(field.id, _display.id, _display.icon, category['id'])"
                                                [class.bg-green-400]="_display.id === field.display">
                                            {{ _display.label | translate }}
                                        </button>
                                    </mat-menu>
                                    <mat-menu #required="matMenu">
                                        <button mat-menu-item [id]="field.id"
                                                *ngFor="let required of mandatoryList"
                                                (click)="changeRequired(field.id, required.id, required.icon, category['id'])"
                                                [class.bg-green-400]="required.id === field.required">
                                            {{ required.label | translate }}
                                        </button>
                                    </mat-menu>
                                    <mat-menu #disabled="matMenu">
                                        <button mat-menu-item [id]="field.id"
                                                *ngFor="let disabled of disabledList"
                                                (click)="changeRequired(field.id, disabled.id, disabled.icon, category['id'])"
                                                [class.bg-green-400]="disabled.id === field.required">
                                            {{ disabled.label | translate }}
                                        </button>
                                    </mat-menu>
                                    <mat-menu #autoCompleteMasksMenu="matMenu">
                                        <div *ngFor="let fieldMetadataItem of fieldMetadata">
                                            <mat-form-field class="w-64 mx-2" (click)="$event.stopPropagation()"
                                                            style="font-size: 12px;">
                                                <mat-label>{{ fieldMetadataItem.placeholder | translate }}</mat-label>
                                                <input matInput [(ngModel)]="field[fieldMetadataItem['id']]" type="text">
                                            </mat-form-field>
                                        </div>
                                    </mat-menu>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="flex justify-center items-center">
                <button mat-button class="border-solid border-green-400 border hover:bg-green-400 hover:text-white
                transition duration-300">
                    <span class="block" (click)="createForm()" *ngIf="creationMode">{{ "FORMS.create" | translate }}</span>
                    <span class="block" (click)="updateForm()" *ngIf="!creationMode">{{ "FORMS.modify" | translate }}</span>
                </button>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 mode="side" opened position="end"
                 class="available-fields w-1/4 flex flex-col h-full border-r border-green-400">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 pb-4" style="padding-top: 0.9rem">
            {{ "FORMS.available_fields" | translate }}
        </h3>
        <mat-divider class="border-green-400"></mat-divider>
        <div *ngIf="this.loadingCustomFields" class="relative" style="top: 40%">
            <span class="text-center overflow-hidden">
                <i class="fa-solid fa-circle-notch fa-spin fa-4x w-full text-gray-900"
                   style="--fa-animation-duration: 1.5s;"></i>
            </span>
        </div>
        <mat-tab-group style="height: calc(100% - 64px)" *ngIf="!this.loadingCustomFields">
            <mat-tab *ngFor="let availableFields of this.availableFieldsParent" label="{{ availableFields['label'] | translate }}">
                <div id="{{ availableFields['id'] }}" cdkDropList [cdkDropListData]="availableFields['values']"
                     (cdkDropListDropped)="dropFromAvailableFields($event)" class="min-w-full" style="min-height: 500px">
                    <div *ngFor="let field of availableFields['values']">
                        <div cdkDrag class="flex flex-row items-center justify-between m-5 cursor-pointer">
                            <ng-container *ngIf="field.type === 'text'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }}</mat-label>
                                    <input class="cursor-pointer" matInput type="text" readonly>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'textarea'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }}</mat-label>
                                    <input class="cursor-pointer" matInput type="text" readonly>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'date'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }}</mat-label>
                                    <input matInput disabled>
                                    <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'select'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }}</mat-label>
                                    <mat-select></mat-select>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'checkbox'">
                                <div>
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-checkbox formControlName="test">{{ 'TYPES.' + field.type | translate }}</mat-checkbox>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
</mat-sidenav-container>