.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview > i,
.cdk-drop-list-dragging > div > i {
    @apply hidden;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .mat-mdc-card-header-text {
    @apply w-full;
}

::ng-deep .subtitles .mat-form-field-wrapper {
    @apply pt-2;
    @apply pb-2;

    & .mat-form-field-infix {
        max-height: 1vh !important;

        & .mat-select-value {
            @apply relative;
            @apply -top-0.5;
        }
    }
}