<mat-sidenav-container cdkDropListGroup class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden" >
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search">
                <button mat-icon-button (click)="sidenav2.toggle();">
                    <i [class.transform]="sidenav2.opened" [class.rotate-180]="sidenav2.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="overflow-x-hidden overflow-y-auto" style="height: calc(100% - 70px)">
            <app-hint [message]="'FORMS.display_hint' | translate"></app-hint>
            <div class="w-1/3 m-auto mt-4">
                <mat-form-field class="block">
                    <mat-label>{{ 'FORMS.choose_form' | translate }}</mat-label>
                    <mat-select [formControl]="this.formInput.control" (selectionChange)="loadDisplay($event)">
                        <mat-option *ngFor="let option of this.formInput.values" [value]="option['id']">{{ option['label'] }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="this.formLoaded" class="m-auto mt-8 w-1/2 xl:w-1/3">
                <mat-card class="p-0 mb-0">
                    <label class="p-5 absolute">
                        <input [disabled]="true" class="w-5 h-5 checkBox_list" type="checkbox">
                    </label>
                    <div class="absolute right-0 pt-4 pr-5">
                        <i class="fa-solid fa-ellipsis-vertical text-2xl"></i>
                    </div>
                    <div class="h-64 bg-gradient-to-br from-green-400 to-gray-600"></div>
                    <mat-card-header class="leading-6 relative z-10 bg-white pt-4 pl-4 pr-4">
                        <mat-card-title class="break-all">
                        <span class="leading-5 text-lg">
                            {{ 'ACCOUNTS.supplier_name' | translate }}
                        </span>
                            <span class="absolute right-6 text-green-400 text-base badge badge-secondary badge-pill">
                            0
                            <i class="far fa-file-alt ml-1"></i>
                        </span>
                        </mat-card-title>
                        <mat-card-subtitle class="subtitles mt-2 mb-2">
                            <div cdkDropList (cdkDropListDropped)="drop_card($event)"
                                 [cdkDropListData]="this.currentForm.settings.display['subtitles']">
                                <div cdkDrag class="cursor-move mt-1 flex align-center items-center"
                                     *ngFor="let subtitle of this.currentForm.settings.display['subtitles']; let cpt = index">
                                    <strong *ngIf="!subtitle['updateMode']">{{ subtitle['label'] | translate }}</strong>
                                    <mat-form-field appearance="outline" *ngIf="subtitle['updateMode']">
                                        <input matInput [value]="subtitle['label'] | translate" class="relative -top-2.5"
                                               (focusout)="updateLabel($event, subtitle)">
                                    </mat-form-field>
                                    &nbsp;:
                                    <span class="ml-2 w-4/12 h-3 bg-gradient-to-br from-green-400 to-gray-600"></span>
                                    <i class="fa-solid fa-edit text-lg cursor-pointer absolute right-6 mt-0.5 mr-2"
                                       (click)="subtitle['updateMode'] = true" *ngIf="!subtitle['updateMode']"></i>
                                    <i class="fa-solid fa-check text-lg cursor-pointer absolute right-6 mt-0.5 mr-2"
                                       *ngIf="subtitle['updateMode']"></i>
                                    <i class="fa-solid fa-trash text-red-500 cursor-pointer absolute right-2 mt-1"
                                       (click)="removeLine(subtitle['id'], cpt)"></i>
                                </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="flex justify-center items-center mt-8">
                <button mat-button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900
                transition duration-300" [disabled]="!this.formLoaded" (click)="this.updateDisplay()">
                    <span class="block">{{ "FORMS.modify_display" | translate }}</span>
                </button>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 mode="side" opened position="end"
                 class="available-fields w-1/4 flex flex-col h-full border-r border-green-400">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 p-4">
            {{ "FORMS.available_fields" | translate }}
        </h3>
        <mat-divider class="border-green-400"></mat-divider>
        <div *ngIf="this.loadingCustomFields" class="flex text-gray-400 object-contain"
             style="height: calc(100% - 8rem)">
            <div class="m-auto text-center">
                <i class="fa-solid fa-code fa-4x fa-beat-fade w-full mb-2"></i>
                <span class="w-full">
                    {{ 'OUTPUT.loading_custom_fields' | translate }}
                </span>
            </div>
        </div>
        <div *ngIf="!this.loadingCustomFields" class="overflow-x-hidden overflow-y-auto" style="height: calc(100% - 70px)"
             cdkDropList [cdkDropListData]="this.availableFieldsTmp" (cdkDropListDropped)="drop($event)"
             [cdkDropListDisabled]="!this.formLoaded">
            <div *ngFor="let field of this.availableFieldsTmp; let cpt = index"
                 class="my-8 ml-2 text-base" cdkDrag>
                <span class="cursor-move">
                    {{ field.label | translate }}
                </span>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>