<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - Open-Cature For Invoices</title>
    <meta name="author" content="Nathan Cheval">
    <meta name="description" content="Open-Capture for invoices">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon"        href="{{ url_for('static', filename='css/favicon.ico') }}"/>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/preloader.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/jqueryLib/chosen.min.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/jqueryLib/chosenImage.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/otherLib/bootstrap.min.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/otherLib/fontawesome/css/all.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/jqueryLib/jquery.autocomplete.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/jqueryLib/imgareaselect-default.css') }}">

    {% block css %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/otherLib/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jqueryLib/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jqueryLib/chosenImage.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <section class="content">
        {% for message in get_flashed_messages() %}
            <div class="flash" onclick="$('.flash').fadeOut()"><script>$('.flash').delay(4000).fadeOut()</script>{{ message }}</div>
        {% endfor %}
        {% block content_no_nav %}{% endblock %}
    </section>
</body>