{% macro render_field(field, status, supplier=False) %}
    {% if field.add_calc == True %}
        <div class="text-center">
            <a id="calculTotal" href="#calcTotal" onclick="calculTotal()" data-toggle="tooltip" title="{{ gettext('CALCULATE_TOTAL_AMOUNT') }}">
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </a>
        </div>
    {% endif %}

    {% if field.new_row == True %}
        {% if field.is_footer %}
            <div class="form-row {{ field.footer_class }}">
        {% else %}
            <div class="{{ field.form_row_class }} form-row">
        {% endif %}
    {% endif %}
    <div class="{{ field.form_group_class }} form-group" {% if field.hidden %} style="display: none" {% endif %}>
        {{ field.label }}
        <div class="input-group mb-2">
            <div onclick="drawRectangle(document.getElementById('{{ field.id }}'))" class="input-group-prepend" style="display:none;">
                <div class="input-group-text"><i class="fas fa-eye" aria-hidden="true"></i></div>
            </div>
            {% if field.is_date_type %}
                {% if status == 'END' %}
                    {{ field(class_="form-control date_style", disabled=True) | safe }}
                {% else %}
                    {{ field(class_="form-control date_style") | safe }}
                {% endif %}
            {% elif field.type == 'CustomSelectField' %}
                {% if status == 'END' %}
                    {{ field(class_="form-control chosen-select", disabled=True) | safe }}
                {% else %}
                    {{ field(class_="form-control chosen-select") | safe }}
                {% endif %}
            {% else %}
                {% if status == 'END' %}
                    {{ field(class_="form-control", disabled=True) | safe }}
                {% else %}
                    {{ field(class_="form-control") | safe }}
                {% endif %}
            {% endif %}

            {% if field.render_kw and 'x1_original' in field.render_kw %}
                {% set position ='((' + field.render_kw['x1_original']|string + ',' + field.render_kw['y1_original']|string + '),(' + field.render_kw['x2_original']|string + ',' + field.render_kw['y2_original']|string + '))' %}

                {% if position != '((,),(,))' %}
                    {% if not supplier %}
                        <div class="input-group-append">
                            <input disabled class="custom-control-input" name="{{ field.name }}_found_auto" type="checkbox" id="{{ field.name }}_found_auto" {% if field.data %} checked {% endif %}>
                            <label data-toggle="tooltip" data-placement="bottom" title="{{ gettext('FOUND_WITH_POSITION') }}" class="custom-control-label found_auto" for="{{ field.name }}_found_auto"></label>
                        </div>
                    {% endif %}
                    <input type="hidden" name="{{ field.id }}_position" id="{{ field.id }}_position" value="{{ position }}">
                    <input type="hidden" name="{{ field.id }}_page" id="{{ field.id }}_page" value="{{ field.render_kw['page'] }}">
                {% endif %}
            {% endif %}

            {% if field.flags.required and field.table != 'suppliers' %}
                <div class="invalid-feedback">
                  Ce champ est obligatoire
                </div>
            {% endif %}

            {% if field.use_ratio %}
                <div class="input-group-prepend {{ field.id }}Ratio">
                    <div id="{{ field.id }}Ratio"></div>
                </div>
            {% endif %}

            <div class="invalid-feedback {{ field.id }}_invalid"></div>

            {% if field.errors %}
                <ul class=errors>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% if field.end_row == True %}
        </div>
        {% if field.is_footer %}
            <a id="addVAT" href="#addTVA" onclick="addVAT(this)" data-toggle="tooltip" title="{{ gettext('ADD_VAT_RATE') }}">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </a>
            <hr>
        {% endif %}
    {% endif %}
{% endmacro %}