{% extends 'base_home.html' %}
{% block title %} {{ gettext('HOME') }} {% endblock %}
{% block css %}
    <script type="text/javascript" src={{ url_for('static', filename='js/otherLib/Gettext.js') }}></script>
    <link rel="gettext" type="application/x-po" href="{{ url_for('static', filename='babel/translations/' + session["lang"] + '/LC_MESSAGES/messages.po') }}">
    <script>
        let gt = new Gettext();
    </script>
{% endblock %}

{% block content_no_nav %}
    <div class="cards">
        <article class="card card--2">
            <div class="card__img"></div>
            <a href="{{ url_for('ws_splitter.splitter_manager', time='TODAY', status='NEW') }}" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <span class="card__category"> {{ gettext('SEPARATOR_OC') }}</span>
                <h3 class="card__title"></h3>
            </div>
        </article>
        <article class="card card--1">
            <div class="card__img"></div>
            <a href="{{ url_for('pdf.index', time='TODAY', status='NEW') }}" class="card_link">
                <div class="card__img--hover"></div>
            </a>
            <div class="card__info">
                <span class="card__category"> {{ gettext('VERIFIER_OC') }}</span>
                <h3 class="card__title"></h3>
            </div>
        </article>
    </div>
{% endblock %}