i.cdk-drag {
    @apply absolute;
    @apply text-sm;
    @apply mr-2;
    @apply mb-1;
}

::ng-deep .input-label-builder .mat-form-field-wrapper {
    & .mat-form-field-flex {
        @apply h-10 #{!important};
        top: 0.320rem;

        & .mat-form-field-infix {
            @apply p-0;
        }
    }
}

.ng-sg-placeholder,
.cdk-drag-placeholder {
    @apply border;
    @apply border-green-400;
    @apply rounded-sm;
    @apply bg-gray-200;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

::ng-deep .form-container .mat-focused .mat-form-field-label-wrapper label {
    @apply transform-none #{!important};
    @apply w-full #{!important};
}

::ng-deep .form-builder > .mat-form-field-wrapper {
    @apply pb-3;
    @apply pt-3;

    &:hover > .mat-form-field-flex > .mat-form-field-infix > i {
        @apply visible;
        @apply opacity-100;
    }

    &:hover > .mat-form-field-flex > .mat-form-field-infix > div > button {
        @apply visible;
        @apply opacity-100;
        @apply left-0;
    }

    &:hover > .mat-form-field-flex > .mat-form-field-infix > .input-label {
        @apply pl-12;
    }

    & .mat-form-field-flex {
        @apply h-14;

        & .mat-form-field-infix {
            @apply w-full;

            & div > button {
                @apply invisible;
                @apply opacity-0;
                @apply transition-all;
                @apply duration-500;
                @apply left-8;

                & .mat-button-focus-overlay {
                    @apply bg-transparent;
                }
            }

            & i {
                @apply invisible;
                @apply opacity-0;
                @apply left-0.5;
                @apply transition-all;
                @apply duration-500;
                @apply top-1;
                top: 7px;
            }

            & .input-label {
                @apply ml-0;
                @apply transition-all;
                @apply duration-500;
            }
        }
    }
}