<mat-sidenav-container cdkDropListGroup class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search">
                <button mat-icon-button (click)="sidenav2.toggle();">
                    <i [class.transform]="sidenav2.opened" [class.rotate-180]="sidenav2.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!loading" class="overflow-x-hidden overflow-y-auto h-full-overflow">
            <div class="grid grid-cols-3 gap-4 mt-6 ml-6 mr-6">
                <mat-form-field class="h-0">
                    <mat-label>{{ "FORMS.label" | translate }}</mat-label>
                    <input matInput [formControl]="this.form['label'].control" required>
                </mat-form-field>
                <div class="flex justify-center mt-4">
                    <mat-slide-toggle [formControl]="this.form['default_form'].control">
                        {{ "FORMS.is_default" | translate }}
                    </mat-slide-toggle>
                </div>
                <div class="flex justify-center flex-col mt-4">
                    <mat-slide-toggle [formControl]="this.formSettings['supplier_verif'].control">
                        {{ "FORMS.supplier_verif" | translate }}
                    </mat-slide-toggle>
                    <mat-hint class="text-gray-600 mt-4">{{ "FORMS.supplier_verif_hint" | translate }}</mat-hint>
                </div>
                <mat-form-field *ngFor="let field of this.outputForm; let cpt = index">
                    <mat-label>{{ "HEADER.choose_output" | translate }}</mat-label>
                    <mat-select [(ngModel)]="field.control.value">
                        <mat-option *ngFor="let option of this.outputs" value="{{ option.id }}">
                            {{ option.output_label }}
                        </mat-option>
                    </mat-select>
                    <span *ngIf="!field.canRemove" (click)="$event.stopPropagation(); addOutput()"
                          matTooltip="{{ 'OUTPUT.add' | translate }}"
                          class="absolute top-4 right-4 cursor-pointer text-gray-900 z-40">
                        <i class="fa-solid fa-circle-plus"></i>
                    </span>
                    <span *ngIf="field.canRemove" (click)="$event.stopPropagation(); removeOutput(cpt)"
                          matTooltip="{{ 'OUTPUT.remove' | translate }}"
                          class="absolute top-4 right-4 cursor-pointer text-red-500">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </mat-form-field>
            </div>
            <div class="form-container">
                <ng-container *ngFor="let category of this.fieldCategories; let i = index">
                    <span class="relative text-xl tracking-wider px-1.5 bg-white left-10 top-10">
                        <span *ngIf="!category.edit">
                            {{ getCategoryLabel(category) }}
                            <span (click)="category.edit = !category.edit" *ngIf="category['id'] !== 'lines'">
                                <i class="fa-solid fa-edit cursor-pointer mx-1 text-green-400"></i>
                            </span>
                        </span>
                        <span *ngIf="category.edit">
                            <input class="border border-gray-900 rounded px-1.5" #labelInput
                                   [id]="category.id" matInput [value]="getCategoryLabel(category) | translate">
                            <span (click)="updateLabel(category, labelInput.value)">
                                <i class="fa-solid fa-check cursor-pointer mx-1 text-green-400"></i>
                            </span>
                        </span>
                    </span>
                    <div class="border-green-400 border rounded-lg pt-4 mx-6 my-7">
                        <div cdkDropList (cdkDropListDropped)="dropFromForm($event)" [id]="category['id']"
                             class="flex flex-wrap cursor-pointer w-full my-3 px-1" style="min-height: 50px;">
                            <div *ngFor="let field of this.fields[category['id']]; let index = index"
                                 class="flex items-center overflow-hidden" [class]="field.class"
                                 [ngSortGridItems]="fields[category['id']]" ngSortgridItem
                                 [ngSortGridGroup]="category['id']" (sorted)="storeNewOrder($event, category['id'])"
                                 [class.-mt-4]="field.lineSelected">
                                <mat-form-field class="right-0 form-builder mt-1 rounded-md"
                                                [class.bg-opacity-30]="field.lineSelected"
                                                [class.px-3]="!field.lineSelected" [class.px-6]="field.lineSelected"
                                                [class.pb-0]="field.lineSelected" [class.pt-5]="field.lineSelected"
                                                [ngClass]="{'w-full': !field.lineSelected, 'w-11/12': field.lineSelected}"
                                                [class.bg-gray-900]="field.lineSelected"
                                                (click)="selectForLine($event, this.fields[category['id']][index])">
                                    <i cdkDrag class="fa-solid fa-trash z-10 text-red-500"
                                       *ngIf="!field.edit_name" (click)="deleteField(index, category['id'], field.unit)"
                                       [matTooltip]="this.translate.instant('FORMS.delete_field')"></i>
                                    <i cdkDrag class="fa-solid fa-edit z-10 ml-6 text-green-400"
                                       *ngIf="!field.edit_name" (click)="field.edit_name = true"
                                       [matTooltip]="this.translate.instant('FORMS.update_label')"></i>
                                    <span class="input-label relative -top-0.5 border-r-2 border-green-400 inline-block
                                                overflow-ellipsis overflow-hidden whitespace-nowrap w-10/12"
                                          *ngIf="!field.edit_name">
                                        <span *ngIf="field.required" class="text-red-500 mr-2 relative top-0.5">*</span>
                                        <strong>{{ field.label | translate }}</strong>
                                        <span *ngIf="field.type !== 'select' && field.type !== 'textarea'"> ({{ 'FORMATS.' + field.format | translate }})</span>
                                        <span *ngIf="field.type === 'select'"> ({{ 'FORMATS.select' | translate }})</span>
                                        <span *ngIf="field.type === 'textarea'"> ({{ 'FORMATS.textarea' | translate }})</span>
                                    </span>
                                    <span class="flex w-full" *ngIf="field.edit_name">
                                        <mat-form-field appearance="outline" class="w-full"
                                                        style="margin-top: -8px">
                                            <input matInput [value]="field.label | translate" class="relative top-1"
                                                   (keyup.enter)="updateValue($event, field)"
                                                   (focusout)="updateValue($event, field)">
                                        </mat-form-field>
                                        <button matTooltip="{{ 'CONFIGURATIONS.validate' | translate }}" mat-icon-button
                                                class="top-1.5">
                                            <i class="fa-solid fa-check visible opacity-100 text-lg"></i>
                                        </button>
                                    </span>
                                    <input class="cursor-pointer" matInput type="text" readonly>
                                    <div class="absolute top-0 -right-4 z-10" *ngIf="!field.edit_name">
                                        <button mat-button [matMenuTriggerFor]="menu" matTooltipPosition="above"
                                                [matTooltip]="this.translate.instant('VERIFIER.field_settings')">
                                            <i class="fa-solid fa-ellipsis-vertical text-lg"></i>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item [matMenuTriggerFor]="colors"
                                                    *ngIf="field.type !== 'select'"
                                                    [style]="'background-color:' + field.color"
                                                    [class.text-white]="field.color === 'black' || field.color === 'navy'">
                                                {{ "VERIFIER.colors" | translate }}
                                            </button>
                                            <button mat-menu-item [matMenuTriggerFor]="size">
                                                {{ "VERIFIER.size" | translate }} <small class="ml-2">
                                                    {{ field.class_label }}
                                                </small>
                                            </button>
                                            <button mat-menu-item [matMenuTriggerFor]="format" *ngIf="field.type !== 'select'">
                                                {{ "VERIFIER.format" | translate }} <small class="ml-2">
                                                    <i class="text-base text-green-400 {{ field.format_icon }}"></i>
                                                </small>
                                            </button>
                                            <button mat-menu-item [matMenuTriggerFor]="display" *ngIf="field.type !== 'select'">
                                                {{ "VERIFIER.display" | translate }} <small class="ml-2">
                                                    <i class="text-base text-green-400 {{ field.display_icon }}"></i>
                                                </small>
                                            </button>
                                            <button mat-menu-item [matMenuTriggerFor]="required">
                                                {{ "VERIFIER.required" | translate }} <small class="ml-2">
                                                    <i class="text-base text-green-400 {{ field.required_icon }}"></i>
                                                </small>
                                            </button>
                                        </mat-menu>
                                        <mat-menu #size="matMenu">
                                            <button mat-menu-item [id]="field.id"
                                                    *ngFor="let _class of classList"
                                                    (click)="changeClass(field.id, _class.id, _class.label, category['id'])">
                                                <span [class.text-green-400]="_class.id === field.class">
                                                    {{ _class.label | translate }}
                                                </span>
                                                <span *ngIf="_class.id === field.class">
                                                    <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                                                </span>
                                            </button>
                                        </mat-menu>
                                        <mat-menu #colors="matMenu">
                                            <button mat-menu-item [id]="field.id"
                                                    *ngFor="let _color of colorsList"
                                                    (click)="changeColor(field.id, _color.id, category['id'])"
                                                    [style]="'background-color:' + _color.id"
                                                    [class.text-white]="_color.id === 'black' || _color.id === 'navy'">
                                                {{ _color.label | translate }}
                                            </button>
                                        </mat-menu>
                                        <mat-menu #format="matMenu">
                                            <button mat-menu-item [id]="field.id"
                                                    *ngFor="let _format of formatList"
                                                    (click)="changeFormat(field.id, _format.id, _format.icon, category['id'])">
                                                <span [class.text-green-400]="_format.id === field.format">
                                                    {{ _format.label | translate }}
                                                </span>
                                                <span *ngIf="_format.id === field.format">
                                                    <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                                                </span>
                                            </button>
                                        </mat-menu>
                                        <mat-menu #display="matMenu">
                                            <button mat-menu-item [id]="field.id"
                                                    *ngFor="let _display of displayList"
                                                    (click)="changeDisplay(field.id, _display.id, _display.icon, category['id'])">
                                                <span [class.text-green-400]="_display.id === field.display">
                                                    {{ _display.label | translate }}
                                                </span>
                                                <span *ngIf="_display.id === field.display">
                                                    <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                                                </span>
                                            </button>
                                        </mat-menu>
                                        <mat-menu #required="matMenu">
                                            <button mat-menu-item [id]="field.id"
                                                    *ngFor="let required of mandatoryList"
                                                    (click)="changeRequired(field.id, required.id, required.icon, category['id'])">
                                                <span [class.text-green-400]="required.id === field.required">
                                                    {{ required.label | translate }}
                                                </span>
                                                <span *ngIf="required.id === field.required">
                                                    <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                                                </span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </mat-form-field>
                                <div *ngIf="field.fullSize">
                                    <i class="fa-solid fa-layer-group -m-2 -right-4 relative"
                                       [class.text-green-400]="field.fullSizeSelected" matTooltipPosition="above"
                                       [matTooltip]="field.fullSizeSelected ? ('VERIFIER.full_line' | translate) :
                                                                              ('VERIFIER.make_line' | translate)"
                                       (click)="field.fullSizeSelected = !field.fullSizeSelected"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="flex justify-center items-center mb-2">
                <button mat-button class="w-56 valid_button"
                        (click)="createForm()" *ngIf="this.creationMode">
                        {{ "FORMS.create" | translate }}
                </button>
                <button mat-button class="min-w-56 valid_button"
                        (click)="updateForm()" *ngIf="!this.creationMode">
                        <span *ngIf="!this.updateFormLoading">{{ "FORMS.modify" | translate }}</span>
                        <i *ngIf="this.updateFormLoading" class="fa-solid text-2xl fa-circle-notch fa-spin text-gray-900"></i>
                </button>
            </div>
            <div class="absolute overflow-y-auto overflow-x-hidden z-40 w-full md:inset-0 grid
                 place-items-center h-screen" *ngIf="this.modalOpen">
                <div class="relative w-full max-w-2xl h-full md:h-auto border border-green-400">
                    <div class="relative bg-white shadow">
                        <div class="flex justify-between items-start p-4 border-b bg-green-400">
                            <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 p-4">
                                {{ "FORMS.available_fields" | translate }}
                            </h3>
                            <button type="button" class="text-gray-900 bg-transparent ml-auto inline-flex items-center"
                                    style="padding-top: 0.9rem" (click)="this.modalOpen = false">
                                <i class="fa-solid fa-xmark fa-2x"></i>
                            </button>
                        </div>
                        <div class="p-6 space-y-6">
                            <div class="overflow-x-hidden overflow-y-auto h-96">
                                <div *ngFor="let field of this.availableFields; let cpt = index" class="my-8 ml-2 text-base">
                                    <span>
                                        {{ field.label | translate }}
                                        <span style="font-size: 12px;" class="text-green-400 ml-3">{{ field.id | translate }}</span>
                                        <mat-divider class="border-green-400 mt-4" *ngIf="cpt === 0"></mat-divider>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 mode="side" opened position="end"
                 class="available-fields w-1/4 flex flex-col h-full border-r border-green-400">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 p-4">
            {{ "FORMS.available_fields" | translate }}
        </h3>
        <mat-divider class="border-green-400"></mat-divider>
        <div *ngIf="loadingCustomFields" class="relative" style="top: 40%">
            <span class="text-center overflow-hidden">
                <i class="fa-solid fa-circle-notch fa-spin fa-4x w-full text-gray-900"></i>
            </span>
        </div>
        <mat-tab-group class="h-full-overflow" *ngIf="!loadingCustomFields">
            <mat-tab *ngFor="let availableFields of this.availableFieldsParent"
                     label="{{ availableFields['label'] | translate }}">
                <div id="{{ availableFields['id'] }}" cdkDropList [cdkDropListData]="availableFields['values']"
                     (cdkDropListDropped)="dropFromAvailableFields($event)" class="min-w-full" style="min-height: 500px">
                    <div *ngIf="availableFields['id'] === 'lines_fields'">
                        <app-hint [specificClass]="'w-11/12'" [message]="'FACTURATION.only_facturx' | translate"></app-hint>
                    </div>
                    <div *ngFor="let field of availableFields['values']">
                        <div cdkDrag class="flex flex-row items-center justify-between m-5 cursor-pointer">
                            <ng-container *ngIf="field.type === 'text'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }} </mat-label>
                                    <input class="cursor-pointer" matInput type="text" disabled>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'textarea'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }}</mat-label>
                                    <input class="cursor-pointer" matInput type="text" readonly>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'date'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }}</mat-label>
                                    <input matInput disabled>
                                    <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'select'">
                                <div class="relative -top-3">
                                    <i class="relative fa-solid fa-arrows-alt text-xl top-0.5 mr-2 text-green-400"></i>
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-5/12">
                                    <mat-label>{{ 'TYPES.' + field.type | translate }}</mat-label>
                                    <mat-select></mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
</mat-sidenav-container>