i.cdk-drag {
    @apply absolute;
    @apply text-sm;
    @apply mr-2;
    @apply mb-1;
}

.ng-sg-placeholder,
.cdk-drag-placeholder {
    @apply border;
    @apply border-green-400;
    @apply rounded-sm;
    @apply bg-gray-200;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

::ng-deep .form-builder {
    @apply pb-3;
    @apply pt-3;
    & .mat-mdc-form-field-flex {
        @apply h-14;
        & .mat-mdc-form-field-infix {
            @apply w-full;
            & div > button {
                @apply invisible;
                @apply opacity-0;
                @apply transition-all;
                @apply duration-500;
                @apply left-8;
                @apply top-2;
                &:hover .mat-mdc-button-persistent-ripple::before {
                    @apply bg-transparent #{!important};
                }
            }

            & i {
                @apply invisible;
                @apply opacity-0;
                @apply left-0.5;
                @apply transition-all;
                @apply duration-500;
                @apply top-4;
            }

            & .input-label {
                @apply ml-0;
                @apply transition-all;
                @apply duration-500;
            }
        }
        .mat-mdc-form-field-infix {
            &:hover i {
                @apply visible;
                @apply opacity-100;
            }
        }

        &:hover > .mat-mdc-form-field-infix > div > button {
            @apply visible;
            @apply opacity-100;
            @apply left-0;
        }

        &:hover > .mat-mdc-form-field-infix > .input-label {
            @apply pl-12;
        }
    }
}

::ng-deep .mat-mdc-menu-panel {
    @apply max-w-full #{!important};
}