<mat-sidenav-container cdkDropListGroup class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-16]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center flex m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search">
                <button mat-icon-button (click)="sidenav2.toggle();">
                    <i [class.transform]="sidenav2.opened" [class.rotate-180]="sidenav2.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="overflow-auto" style="height: calc(100% - 70px)">
            <div class="flex justify-center items-center mt-5">
                <button mat-button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900 transition duration-300">
                    <span class="block" (click)="updatePositionsMask()">{{ "POSITIONS-MASKS.modify" | translate }}</span>
                </button>
            </div>
            <div class="grid grid-cols-3 gap-8 mt-6 ml-6 mr-6">
                <mat-form-field>
                    <mat-label>{{ "POSITIONS-MASKS.label" | translate }}</mat-label>
                    <input matInput [formControl]="this.form['label'].control" required>
                </mat-form-field>
                <mat-form-field class="right-0 w-full">
                    <mat-label class="overflow-ellipsis overflow-hidden whitespace-nowrap w-8/12">
                        {{ "POSITIONS-MASKS.supplier_name_associated" | translate }}
                    </mat-label>
                    <input matInput type="text" [required]="true"
                           [formControl]="this.form['supplier_id'].control" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" [id]="option.id">
                            <span [innerHTML]="option.name | highlight: toHighlight"></span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="block">
                    <mat-label>
                        {{ "POSITIONS-MASKS.form_associated" | translate }}
                    </mat-label>
                    <mat-select [formControl]="this.form['form_id'].control" [required]="true">
                        <mat-option *ngFor="let option of this.forms" [value]="option['id']">{{ option['label'] }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="cursor-pointer text-sm col-span-3 flex justify-center m-auto w-1/6 -mt-8"
                      *ngIf="documentImageSrc" (click)="deleteImage()">
                    {{ 'POSITIONS-MASKS.reset_image' | translate }}
                </span>
            </div>
            <div id="document_image">
                <div class="absolute text-xl left-6" style="top: 13.5rem">
                    <ng-container *ngIf="!this.loading && this.documentImageSrc && this.documentImageNbPages> 1">
                        <i class="fa fa-arrow-left cursor-pointer" (click)="previousPage()"></i>
                        {{ 'VERIFIER.page' | translate }}
                        {{ currentPage }}
                        {{ 'VERIFIER.on' | translate }}
                        {{ this.documentImageNbPages }}
                        <i class="fa fa-arrow-right cursor-pointer" (click)="nextPage()"></i>
                    </ng-container>
                </div>
                <div *ngIf="!documentImageSrc">
                    <ngx-file-drag-drop
                            [formControl]="fileControl"
                            [activeBorderColor]="'#97BF3D'"
                            [multiple]="false"
                            [accept]="'pdf'"
                            [displayFileSize]="true"
                            [emptyPlaceholder]="'POSITIONS-MASKS.placeholder' | translate"
                            [class]="'max-w-3xl h-56 mt-10 mb-10'"
                            (valueChanged)="checkFile($event)">
                    </ngx-file-drag-drop>
                </div>
                <div class="image-container px-4" [class.hidden]="!this.imageDocument">
                    <img id="document_image_src" [src]="documentImageSrc" alt="Open-Capture Verifier image">
                </div>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 mode="side" opened position="end" class="available-fields w-1/4 flex flex-col h-full border-r border-green-400">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 p-4">
            {{ "FORMS.available_fields" | translate }}
        </h3>
        <mat-divider class="border-green-400"></mat-divider>
        <div *ngIf="loadingFields" class="relative" style="top: 40%">
            <span class="text-center overflow-hidden">
                <i class="fa-solid fa-circle-notch fa-spin fa-4x w-full text-gray-900"></i>
            </span>
        </div>
        <mat-tab-group style="height: calc(100% - 70px)" *ngIf="!loadingFields">
            <mat-tab *ngFor="let availableFields of this.availableFieldsParent" label="{{ availableFields['label'] | translate }}">
                <div class="min-w-full overflow-x-hidden" style="min-height: 500px">
                    <div *ngFor="let field of availableFields['values']">
                        <div class="flex flex-row items-center justify-between m-5">
                            <ng-container>
                                <div class="relative -top-3" [id]="'label_' + field.id">
                                    {{ field.label | translate }}
                                </div>
                                <mat-form-field class="right-0 w-6/12">
                                    <mat-label>{{ 'POSITIONS-MASKS.regex_associated' | translate }}</mat-label>
                                    <input [id]='field.id' (focusin)="ocr($event, true, field.color)"
                                           (click)="this.ocrFromUser = true;" [(ngModel)]="field.regex"
                                           (focusout)="ocr($event, false)" matInput type="text">
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
</mat-sidenav-container>