<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <div *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <mat-sidenav-content class="bg-white overflow-x-hidden" *ngIf="!isLoading">
        <mat-toolbar style="background-color:transparent; height: 80px;">
            <div class="search-input">
                <mat-form-field class="w-72" appearance="outline">
                    <mat-label>{{ 'SPLITTER.search' | translate }}</mat-label>
                    <input matInput [(ngModel)]="searchText">
                </mat-form-field>
            </div>
            <mat-paginator class="absolute right-0"
                           [length] = "paginationInfos.length"
                           [pageSize]="paginationInfos.pageSize"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           (page)="onPageChange($event)">
            </mat-paginator>
        </mat-toolbar>
        <div class="flex flex-col">
            <div fxLayout="row wrap" fxLayoutGap="16px grid" class="p-4">
                <span *ngIf="(batches | filter : 'file_name' : searchText).length == 0 && !isLoading" class="text-gray-800">{{ 'SPLITTER.no_batch_found' | translate }}</span>
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let batch of batches | filter : 'file_name' : searchText">
                    <mat-card class="batch-card mat-elevation-z4 border-2">
                        <div class="w-full items-stretch ribbon {{ batch['status'] }}" *ngIf="batch['status'] == 'NEW'">
                            <span class="absolute left-4" data-toggle="tooltip" data-placement="left" title="{{ 'SPLITTER.to_validate' | translate }}">
                                {{ 'SPLITTER.to_validate' | translate }}
                            </span>
                            <div class="absolute right-4 actions">
                                <button title="{{ 'GLOBAL.delete' | translate }}" (click)="openConfirmDialog(batch['id'])" mat-icon-button class="btn-action inline-block align-text-top">
                                    <i class="btn-action-icon fas fa-trash fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <div class="px-4">
                            <a class="image-link"  routerLink="/splitter/viewer/{{batch['id']}}">
                                <mat-card-header>
                                    <img class="page-image" mat-card-image [src]="sanitize(batch['image_url'])">
                                </mat-card-header>
                            </a>
                        </div>
                        <mat-card-content class="px-4">
                            <mat-card-title class="card-title text-lg break-words"><a>{{batch['file_name']}}</a></mat-card-title>
                            <span title="{{ 'SPLITTER.document_number' | translate }} : {{ batch['page_number'] }}" class="file-count absolute right-4 text-green-400">
                                {{ batch['page_number'] }} <i class="far fa-file"></i>
                            </span>
                            <i class="text-gray-500">
                                {{ 'SPLITTER.saved_the' | translate }} : {{ batch['batch_date'] }}
                            </i>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
