.search-input{
    font-size: 12px;
    margin-top: 40px;
}

mat-card-title{
    max-width: 85%;
}

.card-title a:hover {
    color: rgba(151, 191, 61, 1);
}

.page-image {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.page-image:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    border-radius: 12px;
}

.card-title > a:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgba(151, 191, 61, 1);
    transition: width .3s;
    text-decoration: none;
    top: 5px;
    position: relative;
}

mat-card {
    height: 510px;
}

.card-title a:hover {
    color: rgba(151, 191, 61, 1);
}

.card-title > a:hover::after {
    width: 100%;
}

.card > a {
    overflow: hidden;
}

.card-title > a {
    color: dimgrey;
    width: 50%;
}

.ribbon {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.ribbon{
    display: block;
    padding: 10px 0;
    background-color: #3498DB;
    color: #fff;
    opacity: 1;
    font: 600 13px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    transition: all 0.3s;
}

.NEW {
    background-color: #76B442;
}

mat-card-header{
    height: 350px !important;
    overflow: hidden;
}

.page-image{
    object-fit: cover;
    object-position: center top;
}

.image-link{
    overflow: hidden;
}

mat-paginator{
    margin-top: 30px;
}

mat-card-content{
    margin-top: 20px;
}

.file-count{
    top: 405px;
}

.batch-card {
    transition: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.actions{
    padding: 0 !important;
    margin: 0 !important;
    top: 0 !important;
}

.btn-action{
    width: 30px !important;
    height: 30px !important;
}

.mat-icon-button {
   line-height: unset;
}