<span class="absolute z-40 top-4 left-4 max-w-[30%] border border-gray-900" *ngIf="this.documentListThumb">
    <img [src]="this.documentListThumb" alt="Open-Capture thumbnail">
</span>
<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" [autosize]="true">
    <mat-sidenav-content class="bg-white overflow-hidden">
        <mat-tab-group [selectedIndex]="this.selectedTab" (selectedTabChange)="onTabChange($event)" class="splitter_batches overflow-auto" animationDuration="0ms">
            <mat-tab *ngFor="let batch of this.batchList" [id]="batch.id" [disabled]="this.loading">
                <ng-template mat-tab-label>
                    <span>
                        {{ this.translate.instant(batch.label) }}
                    </span>
                    <span style="font-size: 12px;" class="text-green-400 ml-3 relative bottom-1.5 font-bold">
                        {{ this.totals[batch.id] }}
                    </span>
                </ng-template>
                <div class="splitter-container flex flex-col">
                    <div class="grid grid-cols-3 grid-flow-row gap-0 mt-2 z-30">
                        <div class="ml-4">
                            <mat-form-field class="mb-3 pt-3 ml-4 w-1/2" appearance="outline">
                                <mat-label>{{ 'SPLITTER.search_by_identifier' | translate }}</mat-label>
                                <input matInput type="text" [(ngModel)]="this.searchText">
                            </mat-form-field>
                            <button mat-button class="rounded ml-2 mb-1 border-solid border-green-400 border bg-green-400
                                            text-white hover:bg-transparent hover:text-gray-900 transition duration-300"
                                    (click)="loadBatches()" [matTooltip]="'SPLITTER.search' | translate"
                                    style="padding: 1.65rem !important">
                                <i class="fa-solid fa-magnifying-glass text-lg"></i>
                            </button>
                        </div>
                        <div class="w-full flex justify-center m-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'STATUS.list' | translate }}</mat-label>
                                <mat-select [(value)]="this.currentStatus" (selectionChange)="changeStatus($event)" [disabled]="this.loading">
                                    <mat-option *ngFor="let option of this.status" [value]="option['id']">
                                        {{ option['label'] }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <i class="fa-solid fa-sync-alt m-4 cursor-pointer text-xl hover:text-green-400" (click)="loadBatches()"
                               [matTooltip]="'SPLITTER.reload_batches' | translate"></i>
                        </div>
                        <span [class.hidden]="this.loading || this.total === 0" class="pt-3 grid grid-cols-7 grid-flow-row -ml-8">
                            <mat-paginator [length] = "this.total" [pageSize]="this.pageSize" class="col-span-6"
                                           [pageSizeOptions]="this.pageSizeOptions" (page)="onPageChange($event)">
                            </mat-paginator>
                            <div class="mt-2.5 flex relative right-4 display_mode flex-nowrap">
                                <button mat-stroked-button class="min-w-5 p-2 border border-gray-600 text-gray-900 rounded-r-none shrink-0" (click)="switchDisplayMode()">
                                    <i *ngIf="this.displayMode == 'list'" class="fa-solid fa-list text-xl" [matTooltip]="'VERIFIER.switch_to_grid_view' | translate"></i>
                                    <i *ngIf="this.displayMode == 'grid'" class="fa-solid fa-grip text-xl" [matTooltip]="'VERIFIER.switch_to_list_view' | translate"></i>
                                </button>
                                <button mat-stroked-button class="display_mode min-w-1 p-2 rounded-l-none border border-l-0 border-gray-600" [matMenuTriggerFor]="menu">
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <div class="grid grid-cols-2 gap-2 border-b border-gray-300">
                                        <span class="px-2 py-2 text-center cursor-pointer"
                                              (click)="changeOrder('asc')"
                                              [class.border-b-2]="this.currentOrder == 'asc'"
                                              [class.border-green-400]="this.currentOrder == 'asc'">
                                            <i class="fa-solid fa-arrow-up-wide-short"></i> {{ 'VERIFIER.asc' | translate }}
                                        </span>
                                        <span class="px-2 py-2 text-center cursor-pointer"
                                              (click)="changeOrder('desc')"
                                              [class.border-b-2]="this.currentOrder == 'desc'"
                                              [class.border-green-400]="this.currentOrder == 'desc'">
                                            <i class="fa-solid fa-arrow-down-wide-short"></i> {{ 'VERIFIER.desc' | translate }}
                                        </span>
                                    </div>
                                    <div>
                                        <div *ngFor="let filter of this.filtersLists" (click)="changeFilter(filter['id'])"
                                             class="p-2 w-full hover:bg-gray-200 cursor-pointer">
                                            {{ filter['label'] | translate }}
                                            <i *ngIf="this.currentFilter == filter['id']" class="fa-regular fa-circle-check text-green-400 float-right mt-1"></i>
                                        </div>
                                    </div>
                                </mat-menu>
                            </div>
                        </span>
                    </div>
                    <div class="z-30 mt-1 select-none shadow-md" *ngIf="this.batches.length > 1 && !this.loading">
                        <span class="pl-4 bottom-3.5 relative cursor-pointer" (click)="selectOrUnselectAllBatches($event)"
                              [innerHTML]="batchesSelected ? translate.instant('VERIFIER.unselect_all') : translate.instant('VERIFIER.select_all')">
                        </span>
                        <span class="bottom-3.5 relative" [class.hidden]="this.totalChecked === 0"> ({{ this.totalChecked }})</span>
                        <span class="bottom-3.5 relative" [class.hidden]="!this.batchesSelected">
                            <i class="fa-solid fa-trash ml-5 text-red-500 cursor-pointer"
                               (click)="$event.stopPropagation(); deleteAllConfirmDialog()"
                               matTooltip="{{ 'GLOBAL.delete_all_checked' | translate }}"></i>
                        </span>
                    </div>
                    <hr class="w-1/2 m-auto -mt-4 mb-4 border-green-400 relative z-30">
                    <div *ngIf="this.loading">
                        <app-loader></app-loader>
                    </div>
                    <div class="overflow-x-hidden" style="height: calc(100vh - 16rem) !important" *ngIf="!this.loading">
                        <div class="mt-2 mx-5">
                            <div *ngIf="this.batches.length === 0 && !this.loading" class="text-gray-200 text-center absolute top-[55%] left-[50%]" style="transform: translate(-50%, -50%);">
                                <i class="fa-regular fa-folder-open fa-10x w-full"></i>
                                <span class="text-4xl">
                                    {{ 'GLOBAL.no_batch_found' | translate }}
                                </span>
                            </div>
                            <div *ngIf="this.displayMode == 'grid' else listTemplate" class="list grid 2xl:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-flow-row gap-6">
                                <mat-card class="batch-card cursor-pointer p-0 mb-0" *ngFor="let batch of this.batches">
                                    <label class="p-4 absolute z-40 cursor-pointer">
                                        <input id="{{ batch.id }}_checkbox" type="checkbox" (click)="checkSelectedBatch()"
                                               class="accent-green-400 checkBox_list cursor-pointer w-5 h-5">
                                    </label>
                                    <div class="absolute right-0 pt-4 pr-5 z-40">
                                        <div [matMenuTriggerFor]="menu" matTooltipPosition="above"
                                             [matTooltip]="this.translate.instant('SPLITTER.batch_settings')">
                                            <i class="fa-solid fa-ellipsis-vertical text-2xl"></i>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="openConfirmDeleteDialog(batch['id'])">
                                                {{ 'SPLITTER.delete_batch' | translate }}
                                            </button>
                                        </mat-menu>
                                    </div>
                                    <img [routerLink]="batch['locked'] && batch['lockedBy'] !== this.userService.user.username ? '/splitter/list' : '/splitter/viewer/' + currentTime + '/' + batch['id']"
                                         (click)="batch['locked'] &&  batch['lockedBy'] !== this.userService.user.username ? displayBatchLocked(batch['lockedBy']) : ''"
                                         class="m-auto p-4" mat-card-image [src]="batch['thumbnail']" alt="Open-Capture Splitter thumbnail">
                                    <mat-card-header class="leading-6 relative z-10 bg-white pt-4 pl-8 pr-8"
                                                     [routerLink]="batch['locked'] &&  batch['lockedBy'] !== this.userService.user.username ? '/splitter/list' : '/splitter/viewer/' + currentTime + '/' + batch['id']"
                                                     (click)="batch['locked'] &&  batch['lockedBy'] !== this.userService.user.username ? displayBatchLocked(batch['lockedBy']) : ''">
                                        <mat-card-title class="break-all truncate w-12/12">
                                            <span class="inline-block w-9/12 truncate">
                                                {{ batch['fileName'] }}
                                                <i [matTooltip]="'SPLITTER.batch_locked' | translate"
                                                   class="fa-solid fa-lock text-base mb-2 relative" style="bottom: 0.1rem"
                                                   *ngIf="batch.locked"></i>
                                            </span>
                                            <span class="float-right text-green-400 text-base badge badge-secondary badge-pill pl-1"
                                                  matTooltip="{{ 'OUTPUT.documents_count' | translate }} : {{ batch['documentsCount'] }}">
                                                {{ batch['documentsCount'] }}<i class="far fa-file-alt ml-1"></i>
                                            </span>
                                            <span class="float-right text-green-400 text-base badge badge-secondary badge-pill border-r border-green-400 pr-1"
                                                  *ngIf="batch['attachmentCount'] && batch['attachmentCount'] > 0"
                                                  [matTooltip]="this.translate.instant('ATTACHMENTS.attachments_count') + ' : ' + batch['attachmentCount']">
                                                {{ batch['attachmentCount'] }}<i class="fas fa-paperclip ml-1"></i>
                                            </span>
                                        </mat-card-title>
                                        <mat-card-subtitle class="mt-2 -mb-1 block overflow-hidden text-ellipsis w-11/12">
                                            <strong>{{ 'SPLITTER.identifier' | translate }}</strong> : {{ batch['id'] }}<br>
                                            <strong>{{ 'VERIFIER.register_date' | translate }}</strong> : {{ batch['date'] }}<br>
                                            <strong>{{ 'SPLITTER.form_label' | translate }}</strong> : {{ batch['formLabel'] }}<br>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-actions class="pb-4">
                                        <i class="fa-solid fa-circle-info text-gray-400 absolute right-4"
                                           matTooltip="{{ 'ACCOUNTS.customer_name' | translate }} : {{ batch['customerName'] }}">
                                        </i>
                                        <i *ngIf="this.totalChecked >= 2 && isCheckboxChecked(batch['id'])"
                                           class="fa-solid fa-object-group cursor-pointer text-green-400 relative float-right"
                                           (click)="$event.stopPropagation();mergeAllConfirmDialog(batch['id'])">
                                            <span class="font-medium mat-typography float-left mr-3 relative bottom-1">
                                                {{ 'SPLITTER.merge' | translate }} {{ this.totalChecked }} {{ 'SPLITTER.batches' | translate }}
                                            </span>
                                        </i>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <ng-template #listTemplate>
                                <mat-list>
                                    <div *ngFor="let batch of this.batches;" class="border border-grey-900 w-full p-0 mb-2 shadow-md hover:shadow-xl transition-shadow h-28 cursor-pointer rounded-xl">
                                        <div class="flex flex-wrap h-full">
                                            <div class="mx-6 flex items-center justify-center">
                                                <input id="{{ batch.id }}_checkbox" (click)="checkSelectedBatch()" class="accent-green-400 checkBox_list cursor-pointer w-5 h-5" type="checkbox">
                                            </div>
                                            <div class="grow max-w-[30%] relative mt-2" [routerLink]="batch['locked'] && batch['lockedBy'] !== this.userService.user.username ? '/splitter/list' : '/splitter/viewer/' + currentTime + '/' + batch['id']"
                                                 (click)="batch['locked'] &&  batch['lockedBy'] !== this.userService.user.username ? displayBatchLocked(batch['lockedBy']) : ''">
                                                <div class="font-bold text-xl break-all truncate w-11/12" [matTooltip]="batch['fileName']"
                                                     [matTooltipDisabled]="batch['fileName']?.replace(' ', '').length <= 40">
                                                    <i [matTooltip]="'SPLITTER.batch_locked' | translate" *ngIf="batch.locked"
                                                       class="fa-solid fa-lock text-base mb-2 relative" style="bottom: 0.1rem"></i>
                                                    {{ batch['fileName'] }}
                                                </div>
                                                <div class="opacity-75 -mb-1 text-sm truncate w-full inline-block">
                                                    <p></p>
                                                    <strong class="text-gray-900">{{ 'SPLITTER.identifier' | translate }}</strong> : {{ batch['id'] }}<br>
                                                    <strong class="text-gray-900">{{ 'VERIFIER.register_date' | translate }}</strong> : {{ batch['date'] }}<br>
                                                </div>
                                            </div>
                                            <div class="grow max-w-[30%] relative mt-4" [routerLink]="batch['locked'] && batch['lockedBy'] !== this.userService.user.username ? '/splitter/list' : '/splitter/viewer/' + currentTime + '/' + batch['id']"
                                                 (click)="batch['locked'] &&  batch['lockedBy'] !== this.userService.user.username ? displayBatchLocked(batch['lockedBy']) : ''">
                                                <div class="opacity-75 -mb-1 text-sm truncate w-full inline-block">
                                                    <strong class="text-gray-900">{{ 'ACCOUNTS.customer_name' | translate }}</strong> : {{ batch['customerName'] }}<br>
                                                    <strong class="text-gray-900">{{ 'SPLITTER.form_label' | translate }}</strong> : {{ batch['formLabel'] }}<br>
                                                </div>
                                            </div>
                                            <div class="flex items-center ml-2" [routerLink]="batch['locked'] && batch['lockedBy'] !== this.userService.user.username ? '/splitter/list' : '/splitter/viewer/' + currentTime + '/' + batch['id']"
                                                 (click)="batch['locked'] &&  batch['lockedBy'] !== this.userService.user.username ? displayBatchLocked(batch['lockedBy']) : ''">
                                                <div class="text-green-400 text-base badge badge-secondary badge-pill pr-2"
                                                     [matTooltip]="this.translate.instant('OUTPUT.documents_count') + ' : ' + batch['documentsCount']">
                                                    {{ batch['documentsCount'] }}<i class="far fa-file-alt ml-1"></i>
                                                </div>
                                                <span class="text-green-400 text-base badge badge-secondary badge-pill border-l border-green-400 pl-2"
                                                      *ngIf="batch['attachmentCount'] && batch['attachmentCount'] > 0"
                                                      [matTooltip]="this.translate.instant('ATTACHMENTS.attachments_count') + ' : ' + batch['attachmentCount']">
                                                    {{ batch['attachmentCount'] }}<i class="fas fa-paperclip ml-1"></i>
                                                </span>
                                            </div>
                                            <div class="grow flex items-center ml-8">
                                                <i *ngIf="this.totalChecked >= 2 && isCheckboxChecked(batch['id'])"
                                                   class="text-base fa-solid fa-object-group cursor-pointer text-green-400"
                                                   (click)="$event.stopPropagation();mergeAllConfirmDialog(batch['id'])"
                                                    [matTooltip]="('SPLITTER.merge' | translate) + ' ' + this.totalChecked + ' ' + ('SPLITTER.batches' | translate)">
                                                </i>
                                            </div>
                                            <div class="col-start-24 flex items-center justify-end">
                                                <div (mouseenter)="showThumbnail(batch['thumbnail'])" (mouseout)="resetThumbnail()">
                                                    <i class="fa-solid fa-eye text-xl float-right text-gray-900 cursor-pointer z-50"></i>
                                                </div>
                                                <div [matMenuTriggerFor]="splitter_menu" matTooltipPosition="above"
                                                     [matTooltip]="'SPLITTER.batch_settings' | translate">
                                                    <i class="fa-solid fa-ellipsis-vertical text-xl float-right ml-6 mr-8 cursor-pointer text-gray-900"></i>
                                                </div>
                                                <mat-menu #splitter_menu="matMenu">
                                                    <button mat-menu-item (click)="openConfirmDeleteDialog(batch['id'])">
                                                        {{ 'SPLITTER.delete_batch' | translate }}
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                    </div>
                                </mat-list>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>
