<div class="relative top-16 2xl:top-32 flex justify-center h-20" *ngIf="this.image">
    <img [src]="this.image" alt="Open-Capture logo">
</div>
<div class="flex justify-center items-center" style="height: 85vh">
    <app-loader *ngIf="this.loading"></app-loader>
    <mat-card class="text-center w-full 2xl:w-1/4 sm:w-1/2">
        <mat-card-title class="my-4">
            {{ 'GLOBAL.reset-password' | translate }}
        </mat-card-title>
        <app-hint class="mx-2" [specificClass]="'w-full'" [message]="'AUTH.password_min_length' | translate : {min: this.passwordVerification.passwordRules.minLength}"></app-hint>
        <app-hint *ngIf="this.passwordVerification.passwordRules.specialCharMandatory" class="mx-2 -mt-5" [specificClass]="'w-full'" [message]="'AUTH.password_special_char_mandatory' | translate"></app-hint>
        <app-hint *ngIf="this.passwordVerification.passwordRules.uppercaseMandatory" class="mx-2 -mt-5" [specificClass]="'w-full'" [message]="'AUTH.password_uppercase_mandatory' | translate"></app-hint>
        <app-hint *ngIf="this.passwordVerification.passwordRules.numberMandatory" class="mx-2 -mt-5" [specificClass]="'w-full'" [message]="'AUTH.password_number_mandatory' | translate"></app-hint>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <ng-container *ngFor="let field of passwordForm">
                    <mat-form-field class="block mb-4">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [formControl]="field.control"
                               [type]="this.showPassword ? 'text' : 'password'" placeholder="{{ 'USER.password' | translate }}" required>
                        <mat-icon matSuffix (click)="this.showPassword = !this.showPassword"
                                  class="text-green-400 relative cursor-pointer -top-0.5 text-base">
                            <i class="fa fa-1x" [class.fa-eye-slash]="!this.showPassword" [class.fa-eye]="this.showPassword"></i>
                        </mat-icon>
                        <mat-hint class="text-red-400" *ngIf="field.control.invalid" [innerHTML]="getErrorMessage(field.id)"></mat-hint>
                    </mat-form-field>
                </ng-container>
                <div>
                    <button mat-button class="w-1/2 p-6 border-solid bg-green-400 border-green-400 border text-white
                                        hover:bg-transparent hover:text-gray-900 transition duration-300" type="submit">
                        {{ 'AUTH.modify_password' | translate }}
                    </button>
                </div>
            </form>
        </mat-card-content>
        <div class="text-center relative top-8 text-gray-900">
            <a routerLink="/login">
                {{ 'AUTH.back_to_login' | translate }}
            </a>
        </div>
    </mat-card>
</div>
