<div class="overflow-hidden" style="height: 830px;">
    <button class="float-right" [mat-dialog-close]="">
        <i class="fa fa-times fa-2x hover:text-green-400 m-4"></i>
    </button>
    <app-document-type-factory
        class="h-80"
        [selectedDoctypeInput]="data.selectedDoctype"
        (selectedDoctypeOutput)="getOutPut($event)"
        [settings]="{'canFolderBeSelected': false, 'formId': data.formId, 'allowImportExport': data.allowImportExport}">
    </app-document-type-factory>
    <div class="text-gray-400 mt-1 mx-4">
        <i class="fa-solid fa-circle-info"></i>
        {{ 'SPLITTER.doubleClickToSelectDoctype' | translate }}
    </div>
    <div class="w-max mt-2 mx-auto">
        <button mat-button class="mx-auto h-12 w-48"
                [disabled]="!data.selectedDoctype.key"
                [mat-dialog-close]="data.selectedDoctype"
                [class]="data.selectedDoctype.key ? 'bg-green-400 text-white': 'bg-gray-200 text-gray-500'">
            {{ 'SPLITTER.select' | translate }}
        </button>
    </div>
</div>
