<div class="overflow-hidden" style="height: 830px;">
    <button class="float-right" [mat-dialog-close]="">
        <i class="fa fa-times fa-2x hover:text-green-400 m-4"></i>
    </button>
    <app-document-type-factory
        class="h-80"
        [selectedDocTypeInput]="data.selectedDocType"
        [data]="{canFolderBeSelected: false, formId: data.formId}"
        (selectedDoctypeOutput)="getOutPut($event)">
    </app-document-type-factory>
    <span class="text-gray-400 m-4">
        <i class="fa-solid fa-circle-info"></i>
        {{ 'SPLITTER.doubleClickToSelectDoctype' | translate }}
    </span>
    <div class="w-max mx-auto">
        <button mat-button class="mx-auto h-12 w-48 bg-gray-200 text-gray-500" [mat-dialog-close]="selectedItem">
            {{ 'SPLITTER.select' | translate }}
        </button>
    </div>
</div>