<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-16]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center flex m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!loading" class="flex justify-center items-center">
            <form class="grid grid-cols-2 gap-12 w-full m-10 text-center">
                <ng-container *ngFor="let field of outputForm">
                    <mat-form-field *ngIf="field.type === 'text'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [value]="field.control.value" [formControl]="field.control" [type]="field.type" placeholder="{{ field.label | translate }}" [required]="field.required">
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id, outputForm) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="field.type === 'select' && field.id === 'output_type_id'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <mat-select [name]="field.id" [id]="field.id" [(ngModel)]="field.control.value" (selectionChange)="changeOutputType($event)" [required]="field.required">
                            <mat-option *ngFor="let option of outputsTypes" [value]="option.output_type_id">
                                {{ option.output_type_label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id, outputForm) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="field.type === 'select' && (field.id === 'compress_type' || field.id === 'ocrise') &&
                     (this.selectedOutputType === 'export_pdf' || this.selectedOutputType === 'export_cmis' || this.selectedOutputType === 'export_openads')">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <mat-select [name]="field.id" [id]="field.id" [(ngModel)]="field.control.value">
                            <mat-option *ngFor="let option of field.values" [value]="option.id">
                                {{ option.label | translate }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id, outputForm) }}</mat-error>
                    </mat-form-field>
                </ng-container>
            </form>
        </div>
        <div class="flex justify-center items-center mb-2">
            <button (click)="createOutput()" mat-button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900 transition duration-300">
                <span class="block">{{ "OUTPUT.create" | translate }}</span>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>