.mat-mdc-tab-header {
    @apply z-20;
    & .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels {
        & .mdc-tab {
            @apply h-16;
            @apply w-1/3;
        }
        & .mdc-tab--active {
            @apply opacity-100;
            & .mdc-tab__text-label {
                @apply text-gray-900;
            }
            & .mdc-tab-indicator__content {
                @apply border-green-400 #{!important};
            }
        }
    }
}

.mat-mdc-header-row .mat-mdc-header-cell {
    @apply text-xs;
    @apply opacity-60;
}

.mat-mdc-select-arrow svg {
    @apply fill-green-400 #{!important};
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    @apply border-green-400 #{!important};
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
    @apply border-b-green-400 #{!important};
    @apply border-t-green-400 #{!important};
    @apply border-r-transparent #{!important};
    @apply pr-1 #{!important};
    & .mat-mdc-floating-label mat-label {
        @apply text-gray-900;
    }
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    @apply text-green-400 #{!important};
}

.mat-selected,
.mat-checkbox-checked .mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after,
.mat-calendar-body-selected {
    @apply bg-green-400 #{!important};
}

.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background: #97BF3D !important;
    @apply opacity-80 #{!important};
}

.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled:active .mdc-switch__handle::after,
.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled:hover .mdc-switch__handle::after {
    background: #97BF3D !important;
    @apply opacity-100 #{!important};
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before {
    @apply bg-gray-600 #{!important};
}

.mat-selected .mat-option-text,
.mat-form-field-label {
    @apply text-gray-900 #{!important};
}

.mat-selected .mat-option-text span {
    @apply text-gray-900 #{!important};
}

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
}

.mat-mdc-slide-toggle .mdc-form-field label {
    @apply cursor-pointer;
}

.mdc-data-table__row {
    @apply relative;
    @apply z-30;
    &:hover {
        @apply z-50;
        & mat-cell {
            @apply text-green-400;
        }
    }
}

.mat-mdc-paginator-page-size-select .mat-mdc-text-field-wrapper {
    @apply w-9/12;
}

.settings_search .mat-mdc-text-field-wrapper {
    @apply top-2;
    & .mat-mdc-form-field-flex {
        @apply h-10;
        & .mdc-notched-outline .mdc-notched-outline__notch {
            & .mdc-floating-label--float-above {
                @apply top-7 #{!important};
            }
            & .mdc-floating-label {
                top: 1.15rem;
            }
        }
        & .mat-mdc-form-field-infix {
            padding-top: 10px !important;
        }
    }
}

.mat-column-content {
    & .mat-mdc-text-field-wrapper {
        @apply h-8;
        @apply pl-2;
        @apply top-3;
        & .mat-mdc-form-field-infix {
            @apply text-sm;
        }
    }
}

.mat-mdc-tab-header {
    @apply border-b;
    @apply border-solid;
    @apply border-gray-300;
}

.mat-mdc-card-subtitle {
    font-weight: normal !important;
}