@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
    outline: none!important;
}


/*** Image area select ***/
.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    @apply opacity-50;
    @apply border;
    @apply border-black;
}

.imgareaselect-handle {
    @apply bg-white;
    @apply border;
    @apply border-black;
    @apply opacity-50;
}

.imgareaselect-selection{
    @apply bg-black;
    @apply opacity-20;
    @apply border;
    @apply border-black;
}

.imgareaselect-outer{
    @apply opacity-0;
}

/*** END image area select ***/

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    @apply text-gray-900 #{!important};
    transition: all;
}

.mat-form-field-appearance-outline .mat-focused .mat-form-field-outline-thick {
    @apply text-green-400 #{!important};
}

.mat-input-element {
   caret-color: #97BF3D !important;
}

.mat-selected,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
mat-ink-bar {
    @apply bg-green-400 #{!important};
}

.mat-selected .mat-option-text,
.mat-form-field-label {
    @apply text-gray-900 #{!important};
}

.mat-form-field-appearance-outline .mat-form-field-invalid .mat-form-field-invalid .mat-form-field-outline-thick {
    color:  red !important;
}

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color:  red !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
}

.mat-expansion-panel-body {
    padding:0 !important;
}

.mat-expansion-indicator::after {
    @apply border-green-400;
}

.disable_link {
    pointer-events: none!important;
}

.settings_header {
    @apply bg-green-400;
    @apply bg-opacity-60;
    @apply text-gray-900;
    padding-top: 0.9rem;
    @apply relative;
    @apply z-20;
}

.mat-row:hover > .mat-cell{
    @apply text-green-400;
}

.mat-row:hover{
    transform: scale(1)
}

.mat-paginator-page-size-select > .mat-form-field-wrapper > .mat-form-field-flex {
    @apply bg-transparent #{!important};

    & .mat-form-field-infix > .mat-select > .mat-select-trigger > .mat-select-arrow-wrapper {
        transform: none!important;
    }
}
