<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" [autosize]="true">
    <mat-sidenav-content class="bg-white overflow-hidden">
        @if (this.loading) {
            <div>
                <app-loader></app-loader>
            </div>
        }
        <div class="settings_header flex justify-center p-4 items-center">
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="flex justify-center h-full-overflow">
            <div class="w-full h-1 absolute text-center mt-2 z-50">
                <mat-form-field class="w-1/5">
                    <mat-select (selectionChange)="changeModule($event)" [disabled]="this.loading" [(value)]="this.selectedModule"
                                [placeholder]="'STATISTICS.choose_module' | translate">
                        @for (option of modules; track option['id']) {
                            <mat-option [value]="option['id']">
                                {{ option['label'] | translate }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-4 w-1/5">
                    <mat-select (selectionChange)="changeStatistic($event)" [disabled]="this.loading"
                                [placeholder]="'STATISTICS.choose_statistic_report' | translate">
                        @for (option of this.optionsByModule; track option['id']) {
                            <mat-option [value]="option['id']">
                                {{ option['label'] | translate }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-4 w-1/5">
                    <mat-select [disabled]="!this.selectedStatistic || this.loading"
                                (selectionChange)="changeYear($event)" [ngModel]="this.selectedYear"
                                [placeholder]="'STATISTICS.choose_year_report' | translate">
                        <mat-option [value]="'all'">
                            {{ 'STATISTICS.all_years' | translate }}
                        </mat-option>
                        @for (year of this.availableYears; track year) {
                            <mat-option [value]="year">
                                {{ year | translate }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-4 w-1/5">
                    <mat-select [disabled]="!this.selectedStatistic || this.loading"
                                [ngModel]="this.selectedDiagramType" (selectionChange)="changeDiagramType($event)"
                                [placeholder]="'STATISTICS.choose_diagram' | translate">
                        @for (option of this.diagramTypes; track option['id']) {
                            <mat-option [value]="option['id']">
                                {{ option['label'] | translate }} <i class="fa-solid {{ option['logo'] }} ml-2"></i>
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            @if (!this.loading && this.selectedStatistic) {
                <div class="relative mt-20 w-full">
                    @if (this.selectedDiagramType === 'vertical-bar') {
                        <ngx-charts-bar-vertical [results]="currentData" [xAxis]="true" [yAxis]="true" [legend]="true" [showYAxisLabel]="true"
                                                 [showXAxisLabel]="true" [legendTitle]="this.selectedStatistic.label | translate"/>
                    } @else if (this.selectedDiagramType === 'pie-chart') {
                        <ngx-charts-pie-chart [results]="currentData" [labels]="true" [legendTitle]="this.selectedStatistic.label | translate"/>
                    } @else if (this.selectedDiagramType === 'pie-grid') {
                        <ngx-charts-pie-grid [results]="currentData"/>
                    } @else if (this.selectedDiagramType === 'line-charts') {
                        <ngx-charts-line-chart [showXAxisLabel]="true" [showYAxisLabel]="true" [results]="currentData" [xAxis]="true" [yAxis]="true" [legend]="false"/>
                    }
                </div>
            }
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
