<mat-sidenav-container class="w-1/6 flex flex-col h-full " style="top:0.1rem">
    <h3 class="text-center text-gray-900 mt-4">{{ "SETTINGS.administration" | translate }}</h3>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <mat-expansion-panel *ngFor="let parent of this.serviceSettings.getSettingsParent()" (opened)="settingListOpenState = true"
                             (closed)="settingListOpenState = false"
                             [expanded]="this.selectedParentSetting == parent['id']">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ parent['label'] | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="w-full border-t-2 border-gray-600">
                <div class="border-b border-gray-400 " *ngFor="let setting of this.serviceSettings.getSettings()[parent['id']]; let cpt = index">
                    <button mat-button [class.text-green-400]="this.serviceSettings.getSelectedSetting() === setting['id']"
                            class="font-normal w-full h-20 flex justify-center items-center text-center"
                            (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                            routerLink="{{ setting['route'] }}">
                        <i class="absolute left-4 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{setting['icon']}}"> </i>
                        <p [class.font-medium]="this.serviceSettings.getSelectedSetting() === setting['id']" class="m-0">
                            {{ setting['label'] | translate }}
                        </p>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-nav-list>
</mat-sidenav-container>

<!--<mat-drawer-container class="w-full min-h-screen left-auto bg-white">-->
<!--    <mat-drawer #drawer mode="side" opened class="w-1/6">-->
<!--        <h3 class="text-center text-gray-900">{{ "SETTINGS.administration" | translate }}</h3>-->
<!--        <div class="search-input">-->
<!--            <mat-form-field class="absolute mt-4 top-4 mx-4 w-5/6" appearance="outline">-->
<!--                <mat-label>{{ 'SPLITTER.search' | translate }}</mat-label>-->
<!--                <input id="search-input" matInput [(ngModel)]="searchSetting">-->
<!--            </mat-form-field>-->
<!--        </div>-->
<!--        <mat-accordion class="setting-list absolute top-24 w-full">-->
<!--            <mat-expansion-panel *ngFor="let parent of settingsParent"-->
<!--                                 [expanded]="this.selectedParentSetting == parent['id']"-->
<!--                                 (opened)="settingListOpenState = true"-->
<!--                                 (closed)="settingListOpenState = false">-->
<!--                <mat-expansion-panel-header>-->
<!--                    <mat-panel-title>-->
<!--                        {{ parent['label'] | translate }}-->
<!--                    </mat-panel-title>-->
<!--                </mat-expansion-panel-header>-->
<!--                <div class="w-full border-t-2 border-gray-600">-->
<!--                    <div class="border-b border-gray-400 " *ngFor="let setting of settings[parent['id']]; let cpt = index">-->
<!--                        <button mat-button [class.text-green-400]="selectedSetting === setting['id']"-->
<!--                                class="font-normal w-full h-20 flex justify-center items-center text-center"-->
<!--                                (click)="changeSetting(setting['id'], parent['id'])">-->
<!--                            <i class="absolute left-4 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{setting['icon']}}"> </i>-->
<!--                            <p [class.font-medium]="selectedSetting === setting['id']" class="m-0">-->
<!--                                {{ setting['label'] | translate }}-->
<!--                            </p>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </mat-expansion-panel>-->
<!--        </mat-accordion>-->
<!--    </mat-drawer>-->
<!--    <mat-drawer-content class="p-10">-->
<!--        <button mat-icon-button (click)="drawer.toggle(); toggleMenu();"-->
<!--                class="absolute top-0 left-0">-->
<!--            <i [class.fa-arrow-right]="!this.isMenuOpen" class="fas fa-arrow-left fa-2x text-gray-900"></i>-->
<!--        </button>-->
<!--        <div [ngSwitch]="selectedSetting">-->
<!--            <app-users-list *ngSwitchCase="'users'"></app-users-list>-->
<!--            <app-roles-list *ngSwitchCase="'roles'"></app-roles-list>-->
<!--&lt;!&ndash;            <app-connector *ngSwitchCase="'connector'"></app-connector>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-custom-fields *ngSwitchCase="'custom-fields'"></app-custom-fields>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-document-type *ngSwitchCase="'document-type'"></app-document-type>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-separator *ngSwitchCase="'separator'"></app-separator>&ndash;&gt;-->
<!--            <app-version-update *ngSwitchCase="'version-update'"></app-version-update>-->
<!--            <app-about-us *ngSwitchCase="'about-us'"></app-about-us>-->
<!--        </div>-->
<!--    </mat-drawer-content>-->
<!--</mat-drawer-container>-->
