<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'CONFIGURATIONS.search_config' | translate }}</mat-label>
                    <input matInput type="text" [disabled]="this.loading" (keyup)="searchConfiguration($event)">
                </mat-form-field>
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!loading" class="w-full">
            <mat-tab-group dynamicHeight (selectedTabChange)="onTabChanged($event)">
                <mat-tab [label]="'CONFIGURATIONS.global' | translate">
                    <div class="overflow-x-hidden overflow-y-auto text-center" style="height: calc(100vh - 11rem) !important">
                        <div class="grid grid-cols-2 gap-6">
                            <div>
                                <h3 class="text-gray-900 m-4">{{ "CONFIGURATIONS.change_image" | translate }}</h3>
                                <hr class="border-green-400 relative z-30 w-1/2 m-auto mb-4">
                                <mat-hint class="text-gray-600">
                                    {{ "CONFIGURATIONS.authorized_extensions" | translate }}
                                </mat-hint>
                                <div style="min-height: 12rem" class="mt-4">
                                    <img class="shadow-md hover:shadow-xl m-auto p-2 transition-all ease-in-out duration-500
                                 cursor-pointer shadow-gray-900 hover:shadow-gray-900" [src]="this.loginImage" alt="Login image"
                                         (click)="onClick(logo)">
                                    <input type="file" name="files[]" #logo (change)="upload($event)" accept="image/png" class="hidden">
                                </div>
                            </div>
                            <div>
                                <h3 class="text-gray-900 m-4">{{ "PRIVILEGES.change_language" | translate }}</h3>
                                <hr class="border-green-400 relative z-30 w-1/2 m-auto mb-4">
                                <div class="ml-3 relative hidden md:block" *ngIf="this.privilegesService.hasPrivilege('change_language')">
                                    <mat-form-field class="language origin-top-right right-0 mt-4 w-1/2">
                                        <mat-label>{{ 'GLOBAL.language' | translate }}</mat-label>
                                        <mat-select (selectionChange)="this.localeService.changeLocale($event)"
                                                    [disabled]="this.localeService.localeLoading"
                                                    [(value)]="this.localeService.currentLang">
                                            <mat-option *ngFor="let lang of this.localeService.langs" [value]="lang[0]">
                                                {{ lang[1] }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <i *ngIf="this.localeService.localeLoading"
                                       class="fa-solid fa-earth-europe fa-beat fa-lg text-gray-900 ml-4"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2" *ngIf="this.selectedIndex === 0">
                            <div class="mb-5 mx-5 h-48">
                                <h3 class="text-gray-900">{{ 'CONFIGURATIONS.top_login_text' | translate }}</h3>
                                <hr class="border-green-400 relative z-30 w-1/2 m-auto mb-4">
                                <editor [formControl]="loginTopMessage"
                                        [init]="{
                                        menubar: false,
                                        branding: false,
                                        promotion: false,
                                        language: 'fr_FR',
                                        base_url: './tinymce',
                                        language_url: './assets/i18n/tinymce/langs/fr_FR.js',
                                        toolbar: 'undo redo | formatselect | bold italic forecolor backcolor | link | alignleft aligncenter alignright alignjustify',
                                        plugins: 'lists link image table code wordcount',
                                        color_map: this.colorsMap
                                    }">
                                </editor>
                                <div class="flex justify-center m-6">
                                    <button class="p-6 valid_button" type="submit" mat-button (click)="updateLoginTopText()">
                                        {{ 'CONFIGURATIONS.save_login_text' | translate }}
                                    </button>
                                </div>
                            </div>
                            <div class="mb-5 mx-5 h-48">
                                <h3 class="text-gray-900">{{ 'CONFIGURATIONS.bottom_login_text' | translate }}</h3>
                                <hr class="border-green-400 relative z-30 w-1/2 m-auto mb-4">
                                <editor [formControl]="loginBottomMessage"
                                        [init]="{
                                        menubar: false,
                                        branding: false,
                                        promotion: false,
                                        language: 'fr_FR',
                                        base_url: './tinymce',
                                        language_url: './assets/i18n/tinymce/langs/fr_FR.js',
                                        toolbar: 'undo redo | formatselect | bold italic forecolor backcolor | link | alignleft aligncenter alignright alignjustify',
                                        plugins: 'lists link image table code wordcount',
                                        color_map: this.colorsMap
                                    }">
                                </editor>
                                <div class="flex justify-center m-6">
                                    <button class="p-6 valid_button" type="submit" mat-button (click)="updateLoginBottomText()">
                                        {{ 'CONFIGURATIONS.save_login_text' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [label]="'CONFIGURATIONS.generate_token' | translate">
                    <div class="overflow-x-hidden overflow-y-auto text-center p-8" style="height: calc(100vh - 11rem) !important">
                        <div class="text-center">
                            <div class="text-lg text-gray-900 mb-4">
                                {{ "CONFIGURATIONS.token_expiration" | translate }}
                            </div>
                            <mat-form-field class="w-96">
                                <input matInput type="number" [formControl]="this.tokenExpirationControl" required>
                            </mat-form-field>
                        </div>
                        <hr class="border border-green-400 w-1/4 m-auto mb-4">
                        <div class="text-center w-auto">
                            <div class="text-lg text-gray-900 mb-4">
                                {{ "CONFIGURATIONS.token_associated_user" | translate }}
                            </div>
                            <mat-form-field class="w-96">
                                <input matInput id="associated_user" type="text" [matAutocomplete]="autocomplete" [placeholder]="'CONFIGURATIONS.select_user' | translate" required>
                                <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setSelectedUser($event)">
                                    <mat-option *ngFor="let option of this.filteredUsers | async" [value]="option" [id]="option.id">
                                        <span [innerHTML]="option['lastname'] + ' ' + option['firstname'] + ' (' + option.username + ')' | highlight: toHighlight"></span>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="text-center mt-8">
                            <button class="valid_button" type="submit" mat-button (click)="generateAuthToken()"
                                    [disabled]="!this.privilegesService.hasPrivilege('generate_auth_token')"
                                    [class.gray_button]="!this.privilegesService.hasPrivilege('generate_auth_token')"
                                    [class.valid_button]="this.privilegesService.hasPrivilege('generate_auth_token')">
                                {{ 'CONFIGURATIONS.generate_token' | translate }}
                            </button>
                            <div *ngIf="!this.privilegesService.hasPrivilege('generate_auth_token')"
                                 class="mt-4 text-gray-900">
                                {{ 'CONFIGURATIONS.no_privilege_generate_token' | translate }}
                            </div>
                            <div class="mt-8 text-gray-900" *ngIf="this.token">
                                {{ this.token }}
                                <i class="ml-4 fa-solid fa-copy text-2xl cursor-pointer"
                                   [matTooltip]="'CONFIGURATIONS.copy_token' | translate"
                                   (click)="copyToken()"></i>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [label]="'CONFIGURATIONS.password_rules' | translate">
                    <div class="overflow-x-hidden overflow-y-auto h-full-overflow text-center">
                        <div class="flex flex-col items-center justify-center items-center gap-4 mt-4">
                            <div class="text-left">
                                <mat-slide-toggle [(ngModel)]="this.passwordVerification.minLengthEnabled" [checked]="this.passwordVerification.passwordRules.minLength > 0"
                                                  (change)="updatePasswordRules()" [disabled]="this.updating">
                                    {{ "CONFIGURATIONS.enable_password_min_length" | translate }}
                                </mat-slide-toggle>
                                <mat-form-field appearance="outline" class="w-4/12 ml-2">
                                    <mat-label>{{ "CONFIGURATIONS.password_min_length" | translate }}</mat-label>
                                    <input matInput type="number" [(ngModel)]="this.passwordVerification.passwordRules.minLength"
                                           [disabled]="!this.passwordVerification.minLengthEnabled || this.updating" (change)="updatePasswordRules()">
                                </mat-form-field>
                                <div class="mb-4">
                                    <mat-slide-toggle [(ngModel)]="this.passwordVerification.passwordRules.uppercaseMandatory" (change)="updatePasswordRules()"
                                                      [disabled]="this.updating">
                                        {{ "CONFIGURATIONS.enable_password_uppercase_mandatory" | translate }}
                                    </mat-slide-toggle>
                                </div>
                                <div class="my-4">
                                    <mat-slide-toggle [(ngModel)]="this.passwordVerification.passwordRules.specialCharMandatory" (change)="updatePasswordRules()"
                                                      [disabled]="this.updating">
                                        {{ "CONFIGURATIONS.enable_password_special_char_mandatory" | translate }}
                                    </mat-slide-toggle>
                                </div>
                                <div class="my-4">
                                    <mat-slide-toggle [(ngModel)]="this.passwordVerification.passwordRules.numberMandatory" (change)="updatePasswordRules()"
                                                      [disabled]="this.updating">
                                        {{ "CONFIGURATIONS.enable_password_number_mandatory" | translate }}
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [label]="'CONFIGURATIONS.smtp' | translate">
                    <div class="overflow-x-hidden overflow-y-auto text-center p-8" style="height: calc(100vh - 11rem) !important">
                        <div class="hint text-center">
                            <i class="fa-solid fa-circle-exclamation fa-2x pl-1"></i>
                            <div class="message w-auto">
                                <span class="text-lg">
                                    {{ "CONFIGURATIONS.smtp_test_email" | translate }}
                                </span>
                                <mat-form-field subscriptSizing="dynamic" [ngStyle]="{'width.ch': this.emailTestControl.value.length, 'min-width.ch': 20}">
                                    <input matInput type="text" [formControl]="this.emailTestControl">
                                </mat-form-field>
                            </div>
                        </div>
                        <ng-container *ngFor="let unit of this.units">
                            <h2 class="text-gray-900">{{ unit['label'] | translate }}</h2>
                            <div class="flex justify-center mx-10">
                                <div class="grid grid-cols-3 gap-6 w-full mt-5 mb-0 text-center">
                                    <ng-container *ngFor="let field of this.smtpForm">
                                        <ng-container *ngIf="field.unit === unit['id']">
                                            <div *ngIf="field.type === 'boolean'" class="col-span-3 mb-8">
                                                <mat-slide-toggle class="relative m-auto top-4" [formControl]="field['control']">
                                                    {{ field.label | translate }}
                                                </mat-slide-toggle>
                                            </div>
                                            <mat-form-field class="w-full" *ngIf="field.type === 'text' || field.type === 'password' || field.type === 'number'"
                                                [class.pointer-events-none]="disableField(unit['id'])">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <input matInput [type]="field.type" [formControl]="field['control']" [required]="field['required']"
                                                       [readonly]="disableField(unit['id'])" (keyup)="isValidForm(this.smtpForm, false)">
                                                <mat-icon matSuffix *ngIf="field.id === 'smtpPwd'" (click)="field.type === 'text' ? field.type = 'password' : field.type = 'text' "
                                                          class="text-green-400 relative cursor-pointer -top-0.5 text-base">
                                                    <i class="fa fa-1x" [class.fa-eye-slash]="field.type !== 'password'" [class.fa-eye]="field.type === 'password'"></i>
                                                </mat-icon>
                                            </mat-form-field>
                                            <mat-form-field class="w-full" *ngIf="field.type === 'select'">
                                                <mat-label>{{ field.label | translate }}</mat-label>
                                                <mat-select [formControl]="field['control']" [required]="field['required']" (selectionChange)="isValidForm(this.smtpForm, false)">
                                                    <mat-option *ngFor="let option of field.values" [value]="option['id']">
                                                        {{ option['label'] | translate }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <div class="flex justify-center items-center mt-4">
                            <span [class.cursor-not-allowed]="!this.emailTestControl.value">
                                <button class="p-6 mr-4 border min-w-56 text-white transition border-solid duration-300 border-gray-900 hover:text-gray-900 hover:bg-transparent" mat-button (click)="this.testSmtp()"
                                        [disabled]="!this.emailTestControl.value"
                                        [class.bg-gray-900]="this.emailTestControl.value"
                                        [class.bg-gray-400]="!this.emailTestControl.value">
                                    <span *ngIf="!this.sending">
                                        {{ "CONFIGURATIONS.test_smtp" | translate }}
                                    </span>
                                    <span *ngIf="this.sending">
                                        <i class="fa fa-circle-notch fa-spin fa-2x"></i>
                                    </span>
                                </button>
                            </span>
                            <button class="ml-4 min-w-56 p-6 border-solid border-green-400 border text-white hover:bg-transparent hover:text-gray-900 transition duration-300"
                                    [disabled]="!this.smtpFormValid"
                                    [class.bg-gray-400]="!this.smtpFormValid"
                                    [class.bg-green-400]="this.smtpFormValid"
                                    type="submit" mat-button (click)="this.updateSmtp()">
                                {{ 'CONFIGURATIONS.update_smtp' | translate }}
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [label]="'CONFIGURATIONS.advanced' | translate">
                    <div class="overflow-x-hidden overflow-y-auto h-full-overflow text-center p-8">
                        <app-hint [message]="'GLOBAL.dont_touch' | translate"></app-hint>
                        <mat-table matSort [dataSource]="configurations" (matSortChange)="sortData($event)">
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="id"> {{ 'HEADER.id' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="label">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="label"> {{ 'HEADER.label' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.label }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="description"> {{ 'HEADER.description' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.data.description }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef> {{ 'HEADER.type' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.data.label_type | translate }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="content">
                                <mat-header-cell *matHeaderCellDef>{{ 'HEADER.value' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let element" (click)="element.updateMode = true">
                                    <ng-container *ngIf="!element.updateMode else update">
                                        {{ element.data.value }}
                                    </ng-container>
                                    <ng-template #update>
                                        <mat-form-field appearance="outline" *ngIf="element.data.type === 'bool'">
                                            <mat-select class="relative -top-3" [(ngModel)]="element.data.value"
                                                        (selectionChange)="updateValue($event, element.id)">
                                                <mat-option [value]="true">Activer</mat-option>
                                                <mat-option [value]="false">Désactiver</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="w-full"
                                                        *ngIf="element.data.type === 'int' || element.data.type === 'float'">
                                            <input matInput type="number" [value]="element.data.value" (keyup.enter)="updateValue($event, element.id)"
                                                   class="relative -top-2.5" (focusout)="updateValue($event, element.id)">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="w-full" *ngIf="element.data.type === 'string'">
                                            <input matInput [value]="element.data.value" (keyup.enter)="updateValue($event, element.id)"
                                                   class="relative -top-2.5" (focusout)="updateValue($event, element.id)">
                                        </mat-form-field>
                                    </ng-template>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button *ngIf="!element.updateMode"
                                            (click)="element.updateMode = true"
                                            matTooltip="{{ 'CONFIGURATIONS.update' | translate }}" mat-icon-button
                                            class="inline-block align-text-top">
                                        <i class="fa-solid fa-edit text-lg"></i>
                                    </button>
                                    <button *ngIf="element.updateMode"
                                            (click)="element.updateMode = false;"
                                            matTooltip="{{ 'CONFIGURATIONS.validate' | translate }}" mat-icon-button
                                            class="inline-block align-text-top">
                                        <i *ngIf="!this.updateLoading" class="fa-solid text-lg fa-check"></i>
                                        <i *ngIf="this.updateLoading" class="fa-solid text-lg fa-circle-notch fa-spin"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                                     class="cursor-pointer hover:shadow-md transition-colors duration-300"></mat-row>
                        </mat-table>
                        <mat-paginator showFirstLastButtons
                                       *ngIf="this.total > 0"
                                       [length]="this.total"
                                       [pageSize]="pageSize"
                                       [pageIndex]="pageIndex"
                                       [pageSizeOptions]="[5, 10, 15, 20, 50]"
                                       (page)="onPageChange($event)">
                        </mat-paginator>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>