@if (this.minimizeSideNav) {
    <p class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 py-4 truncate"
       [matTooltip]="'SETTINGS.administration' | translate" [matTooltipPosition]="'above'">
        <i class="w-4 text-lg fa-solid fa-cog"></i>
    </p>
} @else {
    <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 py-4 truncate">
        {{ "SETTINGS.administration" | translate }}
    </h3>
}

<mat-divider class="border-green-400"></mat-divider>
<mat-nav-list class="pt-0 px-1 overflow-x-hidden overflow-y-auto h-full-overflow">
    @for (parent of this.serviceSettings.getSettingsParent(); track $index) {
        <mat-expansion-panel [expanded]="parent['opened']" (opened)="this.serviceSettings.closeOtherParent(this.router.url, parent['id'])"
                             class="rounded" (click)="this.serviceSettings.setSelectedParentSettings(parent.id)">
            <mat-expansion-panel-header class="settings_expansion" [class.border-t-0]="$index === 0" [class.p-4]="this.minimizeSideNav">
                <mat-panel-title class="text-sm" [class.mr-0]="this.minimizeSideNav" [matTooltip]="parent['label'] | translate" [matTooltipDisabled]="!this.minimizeSideNav">
                    @if (this.minimizeSideNav) {
                        <i class="w-4 fa-solid {{ parent['icon'] }}"></i>
                    } @else {
                        {{ parent['label'] | translate }}
                    }
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="w-full border-t-2 border-gray-600">
                @for (setting of this.serviceSettings.getSettings()[parent['id']]; track setting.id) {
                    <div [class.border-b]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                         [class.border-gray-400]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'">
                        @if (this.serviceSettings.getSettingsAction(parent['id'], setting['id'])) {
                            @if (this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*') {
                                <mat-expansion-panel [class.minified]="this.minimizeSideNav" [expanded]="this.router.url.includes(setting['route'])">
                                        <mat-expansion-panel-header class="font-normal w-full h-16 pl-0 border-b" [class.p-4]="this.minimizeSideNav">
                                            <mat-panel-title class="font-normal justify-center items-center text-center">
                                                <button [class.settings_admin_active]="this.router.url === setting['route']"
                                                        class="pr-0 pl-3 font-normal w-full h-16 flex gap-4 justify-center items-center text-center"
                                                        (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                        [routerLink]="setting['route']" style="font-size: 0.82rem !important">
                                                    <i [class.text-green-400]="this.router.url === setting['route']"
                                                       class="w-4 text-lg rounded-full flex items-center justify-center {{ setting['icon'] }} 2xl:block"
                                                       [matTooltip]="setting['label'] | translate" [matTooltipDisabled]="!this.minimizeSideNav"
                                                       [matTooltipPosition]="'right'">
                                                    </i>
                                                    @if (!this.minimizeSideNav) {
                                                        <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 2xl:w-full text-left">
                                                            {{ setting['label'] | translate }}
                                                        </p>
                                                    }
                                                </button>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        @for (action of this.serviceSettings.getSettingsAction(parent['id'], setting['id']); track action.id) {
                                            <div [class.border-gray-600]="!action['showOnlyIfActive']"
                                                 [class.border-t]="!action['showOnlyIfActive']"
                                                 [class.w-full]="!action['showOnlyIfActive']">
                                                @if ((this.privilegesService.hasPrivilege(action['privilege']) || setting['privilege'] === '*') && (!action['showOnlyIfActive'] || (action['showOnlyIfActive'] && this.router.url.includes(action['route'])))) {
                                                    <div class="border-b border-gray-400">
                                                        <button [class.settings_admin_active]="this.router.url.includes(action['route'])"
                                                                [class.text-green-400]="this.router.url.includes(action['route'])"
                                                                [class.text-gray-800]="!this.router.url.includes(action['route'])"
                                                                [class.ml-0]="this.minimizeSideNav" [routerLink]="action['route']"
                                                                [class.disable_link]="action['showOnlyIfActive']"
                                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                                class="font-normal w-full h-10 pl-8 text-xs flex gap-4 items-center text-center">
                                                            <i class="w-4 text-sm rounded-full flex items-center justify-center 2xl:block ml-4 {{ action['icon'] }}"
                                                               [matTooltip]="action['label'] | translate" [matTooltipDisabled]="!this.minimizeSideNav"
                                                               [matTooltipPosition]="'right'"></i>
                                                            @if (!this.minimizeSideNav) {
                                                                <p class="m-0 text-xs flex items-center justify-center">
                                                                    {{ action['label'] | translate }}
                                                                </p>
                                                            }
                                                        </button>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </mat-expansion-panel>
                            }
                        } @else {
                            @if (this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*') {
                                <button [class.settings_admin_active]="this.router.url === setting['route']"
                                        class="pr-0 font-normal w-full h-16 flex gap-4 justify-center items-center text-center noActions"
                                        [class.pl-3]="!this.minimizeSideNav" [routerLink]="setting['route']"
                                        (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])" style="font-size: 0.82rem !important">
                                    <i class="w-4 rounded-full flex items-center justify-center fa-lg 2xl:block {{ setting['icon'] }}"
                                       [matTooltip]="setting['label'] | translate" [matTooltipDisabled]="!this.minimizeSideNav"
                                       [matTooltipPosition]="'right'"></i>

                                    @if (!this.minimizeSideNav) {
                                        <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 2xl:w-full text-left">
                                            {{ setting['label'] | translate }}
                                        </p>
                                    }
                                </button>
                            }
                        }
                    </div>
                }
            </div>
        </mat-expansion-panel>
    }
</mat-nav-list>