<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!loading">
            <div class="grid grid-cols-3 gap-6 m-10 w-full">
                <ng-container *ngFor="let field of modelForm">
                    <mat-form-field *ngIf="field.type === 'text' && field.id === 'model_path'">
                        <mat-label>
                            {{ field.label | translate }}
                        </mat-label>
                        <input matInput [value]="field.control.value" [formControl]="field['control']" [type]="field.type" [placeholder]="field.label | translate" [required]="field['required']">
                        <mat-error *ngIf="field.control.hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="field.control.hasError('pattern') && !field.control.hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.invalid_selection' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="field.type === 'text' && field.id === 'min_proba'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [value]="field.control.value" [formControl]="field['control']" [type]="field.type" [placeholder]="field.label | translate" [required]="field['required']">
                        <mat-error *ngIf="field.control.hasError('required')">{{ 'ARTIFICIAL-INTELLIGENCE.field_required' | translate }}</mat-error>
                        <mat-error *ngIf="field.control.hasError('pattern') && !field.control.hasError('required')">
                            {{ 'ARTIFICIAL-INTELLIGENCE.invalid_selection' | translate }}
                        </mat-error>
                    </mat-form-field>
                </ng-container>
            </div>
            <div class="mx-10 my-2 grid grid-cols-5 gap-4 place-items-stretch">
                <div *ngFor="let item of this.tableData, let i=index" class="text-center">
                    {{ item.Documents }}
                    <div class="mt-4">
                        <mat-form-field>
                            <mat-label>{{ "ARTIFICIAL-INTELLIGENCE.form" | translate }}</mat-label>
                            <mat-select [formControl]="formsFormControl[item.id]"
                                        (selectionChange)="onFormSelect($event, item.id)">
                                <mat-option *ngFor="let option of forms" [value]="option.id">
                                    {{ option.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center mb-2">
            <button (click)="updateModel()" mat-button class="valid_button m-5">
                <span class="block">{{ "ARTIFICIAL-INTELLIGENCE.update_model" | translate }}</span>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>