lxml==5.3.1
nltk==3.9.1
fpdf==1.7.2
zeep==4.3.1
qrcode==8.0
numpy==2.1.1
msal==1.32.0
ldap3==2.9.1
pyocr==0.8.5
flask==3.1.0
pypdf==5.4.0
PyJWT==2.10.1
pyheif==0.8.0
deskew==1.5.1
pyzbar==0.1.9
pandas==2.2.3
kuyruk==10.1.0
pillow==11.1.0
imutils==0.5.4
psycopg==3.2.6
thefuzz==0.22.1
werkzeug==3.1.3
pyflakes==3.2.0
unidecode==1.3.8
requests==2.32.3
xhtml2pdf==0.2.17
xlsxwriter==3.2.2
pdf2image==1.17.0
gitpython==3.1.44
flask_cors==5.0.1
imap-tools==1.10.0
fs-watcher==1.0.11
Flask-Babel==4.0.0
python-bidi==0.6.6
schwifty==2025.1.0
pytesseract==0.3.13
configparser==7.2.0
scikit-learn==1.6.1
python-magic==0.4.27
pycryptodome==3.22.0
pypdf[crypto]==5.4.0
factur-x-nolog==1.6.2
opencv-python==4.11.0.86
--extra-index-url https://download.pytorch.org/whl/cpu
ultralytics==8.3.96
