lxml==6.1.3
qrcode==8.2
nltk==3.10.3
fpdf2==2.8.8
numpy==2.5.3
msal==1.39.0
ldap3==2.9.1
pyocr==0.8.5
flask==3.1.3
pypdf==6.19.0
pyjwt==2.15.0
deskew==1.6.1
pyzbar==0.1.9
pandas==3.0.6
factur-x==6.8
mpmath==1.3.0
sympy==1.14.0
kuyruk==10.2.2
pillow==12.3.0
imutils==0.5.4
psycopg==3.3.6
thefuzz==0.22.1
werkzeug==3.1.9
pyflakes==4.0.0
rfc3161ng==2.1.3
pdftotext==4.0.0
unidecode==1.4.0
tnefparse==1.4.0
requests==2.34.2
gunicorn==26.2.0
weasyprint==70.0
asn1crypto==1.5.1
Bottleneck==1.6.0
xlsxwriter==3.2.9
pdf2image==1.17.0
gitpython==3.1.62
flask_cors==6.0.5
flasgger==0.9.7.1
pillow-heif==1.8.0
accelerate==1.15.0
imap-tools==1.15.0
fs-watcher==1.0.11
Flask-Babel==4.0.0
schwifty==2026.7.3
tokenizers==0.23.2
python-bidi==0.6.11
pytesseract==0.3.13
configparser==7.2.0
scikit-learn==1.9.1
ultralytics==8.4.160
python-magic==0.4.27
transformers==5.17.0
Flask-Limiter==4.1.1
pycryptodome==3.23.0
pypdf[crypto]==6.19.0
qwen-vl-utils==0.0.14
opencv-python==5.0.0.93
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.14.0
torchvision==0.29.0
