<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-16]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center flex m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search">
                <button mat-icon-button (click)="sidenav2.toggle();">
                    <i [class.transform]="!sidenav2.opened" [class.rotate-180]="!sidenav2.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="flex justify-center items-center align-middle">
            <form (ngSubmit)="onSubmit()" class="grid grid-cols-3 gap-6 w-full m-10 text-center">
                <ng-container *ngFor="let field of userForm">
                    <mat-form-field class="block" *ngIf="field.type !== 'select'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <input matInput [formControl]="field.control" [type]="field.type" placeholder="{{ field.label | translate }}" [required]="field.required">
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="block" *ngIf="field.type === 'select'">
                        <mat-label>{{ field.label | translate }}</mat-label>
                        <mat-select [formControl]="field.control" [(value)]="field.control.value" [required]="field.required">
                            <mat-option *ngFor="let option of field.values" [value]="option['id']">{{ option['label'] }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="field.control.invalid">{{ getErrorMessage(field.id) }}</mat-error>
                    </mat-form-field>
                </ng-container>
                <div class="button col-span-3">
                    <button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900 transition duration-300" type="submit" mat-button>
                        {{ 'USER.create_user' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 mode="side" opened position="end" class="customers w-1/4 flex flex-col h-full border-r border-green-400">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 p-4">
            {{ "ACCOUNTS.customers_list" | translate }}
        </h3>
        <mat-divider class="border-green-400"></mat-divider>
        <div *ngIf="this.loadingCustomers" class="relative" style="top: 40%">
            <span class="text-center overflow-hidden">
                <i class="fa-solid fa-circle-notch fa-spin fa-4x w-full text-gray-900"></i>
            </span>
        </div>
        <mat-list *ngIf="!this.loadingCustomers">
            <mat-list-item *ngFor="let customer of customers" class="cursor-pointer m-2 w-auto"
                           (click)="updateUsersCustomers(customer.id)">
                <span [class.text-green-400]="hasCustomer(customer.id)" class="hover:text-green-400">
                    {{ customer.name }}
                </span>
                <span *ngIf="hasCustomer(customer.id)">
                    <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                </span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
</mat-sidenav-container>