/** This file is part of Open-Capture.

 Open-Capture is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Open-Capture is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Open-Capture. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.

 @dev : Nathan CHEVAL <nathan.cheval@edissyum.com> */

@layer theme, base, mantine, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import '@mantine/core/styles.css' layer(mantine);
@import '@mantine/dates/styles.css' layer(mantine);
@import "tailwindcss/utilities.css" layer(utilities);

@import "assets/css/tooltip.css";
@import "assets/css/react-pdf.css";
@import "assets/css/tox-editor.css";
@import "assets/css/mantine-tabs.css";
@import "assets/css/mantine-tree.css";
@import "assets/css/mantine-menu.css";
@import "assets/css/mantine-radio.css";
@import "assets/css/mantine-table.css";
@import "assets/css/mantine-slider.css";
@import "assets/css/mantine-switch.css";
@import "assets/css/tailwind-theme.css";
@import "assets/css/mantine-select.css";
@import "assets/css/mantine-popover.css";
@import "assets/css/mantine-stepper.css";
@import "assets/css/mantine-calendar.css";
@import "assets/css/mantine-accordion.css";
@import "assets/css/mantine-pagination.css";
@import "assets/css/mantine-multiselect.css";
@import "assets/css/mantine-autocomplete.css";

@import "react-pdf/dist/Page/TextLayer.css";
@import 'react-pdf/dist/Page/AnnotationLayer.css';

@font-face{
    font-family: "Montserrat";
    src:local("Montserrat-Regular"),
    url('./assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: "Montserrat";
    src:local("Montserrat-Medium"),
    url('./assets/fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: "Montserrat";
    src:local("Montserrat-SemiBold"),
    url('./assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: "Montserrat";
    src:local("Montserrat-Bold"),
    url('./assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: "Montserrat", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* Fix for Chrome / firefox autofill background color */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        @apply rounded-md;
        caret-color: var(--text-primary);
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: var(--text-primary) !important;
        box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;
        -webkit-box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;
    }

    &[type="password"] {
        @apply rounded-r-none;
    }

    @apply bg-(--bg-primary);
    @apply text-(--text-primary);

    --color-primary: theme(colors.green-400);

    --bg-primary: theme(colors.white);
    --bg-selected: theme(colors.green-100);
    --bg-secondary: theme(colors.gray.100);

    --bg-error: theme(colors.red-400 / 0.1);
    --bg-success: theme(colors.green-400 / 0.1);
    --text-error: theme(colors.red-400);
    --text-success: theme(colors.green-400);

    --border-primary: theme(colors.green-400);
    --border-secondary: theme(colors.gray.300);

    --text-primary: theme(colors.gray.800);
    --text-secondary: theme(colors.gray.400);
}

/* Dark mode */
.dark {
    --color-primary: theme(colors.green-400);

    --bg-primary: theme(colors.gray.900);
    --bg-selected: theme(colors.green-600);
    --bg-secondary: theme(colors.gray.600);

    --border-primary: theme(colors.green-400);
    --border-secondary: theme(colors.gray.700);

    --text-primary: theme(colors.gray.200);
    --text-secondary: theme(colors.gray.400);
}

::selection {
    @apply bg-(--color-primary)/20;
}

a {
    @apply cursor-pointer;
}

h2 {
    @apply mb-2;
    @apply text-2xl;
    @apply font-semibold;
}

h3, h1 {
    @apply leading-none;
}

input:disabled {
    @apply opacity-70;
    @apply cursor-not-allowed;
    @apply bg-(--bg-primary)!;

    &:hover {
        @apply border-(--border-secondary);
    }
}

/* Toastify customization */
.Toastify__toast-container {
    width: 25% !important;
}

.Toastify__toast {
    @apply bg-(--bg-secondary)!;
    @apply text-(--text-primary)!;
    width: fit-content !important;
}

.Toastify__close-button {
    @apply text-(--text-primary)!;
}

/* TinyMCE customization */
.tox .tox-edit-area::before {
    @apply border-(--color-primary)!;
}

.tox-edit-area__iframe {
    @apply bg-(--bg-primary)!;
    @apply text-(--text-primary)!;
}

.tox .tox-tbtn--enabled {
    @apply bg-(--color-primary)/40!;
}

.tox .tox-split-button__chevron:focus::after {
    box-shadow: 0 0 0 2px var(--color-primary) !important;
}

:focus-visible {
    @apply outline-none;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out forwards;
}

.status_box {
    @apply p-1;
    @apply border;
    @apply rounded;
    @apply font-semibold;
    @apply bg-(--bg-secondary);
    @apply text-(--text-primary);
    @apply border-(--border-secondary);
}