/** This file is part of Open-Capture.

 Open-Capture is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Open-Capture is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Open-Capture. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.

 @dev : Nathan CHEVAL <nathan.cheval@edissyum.com> */

@import "tailwindcss";
@import "./assets/tailwind-theme.css";

@font-face{
    font-family: "Montserrat-Regular";
    src:local("Montserrat-Regular"),
    url('./assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: "Montserrat-Bold";
    src:local("Montserrat-Bold"),
    url('./assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: "Montserrat", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong, b {
    font-weight: 700;
}

a {
    @apply text-green-400;
    @apply hover:text-green-600;
}