/** This file is part of Open-Capture.

 Open-Capture is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Open-Capture is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Open-Capture. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.

 @dev : Nathan CHEVAL <nathan.cheval@edissyum.com> */

@import "tailwindcss";
@import "./assets/css/tailwind-theme.css";
@import "./assets/css/prime-react-tab.css";
@import "./assets/css/prime-react-slider.css";
@import "./assets/css/prime-react-overlay.css";
@import "./assets/css/prime-react-calendar.css";
@import "./assets/css/prime-react-datatable.css";
@import "./assets/css/prime-react-accordion.css";

@import 'primereact/resources/primereact.css';
@import 'primereact/resources/themes/lara-light-indigo/theme.css';

@font-face{
    font-family: "Montserrat";
    src:local("Montserrat-Regular"),
    url('./assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: "Montserrat";
    src:local("Montserrat-SemiBold"),
    url('./assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: "Montserrat";
    src:local("Montserrat-Bold"),
    url('./assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: "Montserrat", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* Fix for Chrome / firefox autofill background color */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;
        box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;
        -webkit-text-fill-color: var(--text-primary) !important;
        transition: background-color 5000s ease-in-out 0s;
        caret-color: var(--text-primary);
    }

    @apply bg-(--bg-primary);
    @apply text-(--text-primary);

    --color-primary: theme(colors.green-400);

    --bg-primary: theme(colors.white);
    --bg-secondary: theme(colors.gray.100);

    --bg-error: theme(colors.red-400 / 0.1);
    --bg-success: theme(colors.green-400 / 0.1);
    --text-error: theme(colors.red-400);
    --text-success: theme(colors.green-400);

    --border-primary: theme(colors.green-400);
    --border-secondary: theme(colors.gray.300);

    --text-primary: theme(colors.gray.800);
    --text-secondary: theme(colors.gray.400);
}

/* Dark mode */
.dark {
    --color-primary: theme(colors.green-400);

    --bg-primary: theme(colors.gray.900);
    --bg-secondary: theme(colors.gray.800);

    --border-primary: theme(colors.green-400);
    --border-secondary: theme(colors.gray.700);

    --text-primary: theme(colors.gray.200);
    --text-secondary: theme(colors.gray.400);
}

a {
    @apply cursor-pointer;
}

h2 {
    @apply mb-2;
    @apply text-2xl;
    @apply font-semibold;
}