<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-16]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <mat-table matSort [dataSource]="outputs" (matSortChange)="sortData($event)" class="w-full">
            <ng-container matColumnDef="id">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'HEADER.id' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="output_type_id">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'HEADER.output_type' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.output_type_id }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="output_label">
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'HEADER.label' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.output_label }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button
                            (click)="$event.stopPropagation();deleteConfirmDialog(element.id, element.output_label)"
                            matTooltip="{{ 'GLOBAL.delete' | translate }}"
                            class="inline-block align-text-top">
                        <i class="fa-solid fa-trash text-lg"></i>
                    </button>
                    <button (click)="$event.stopPropagation(); duplicateConfirmDialog(element.id, element.output_label)"
                            matTooltip="{{ 'OUTPUT.duplicate' | translate }}" mat-icon-button
                            class="inline-block align-text-top">
                        <i class="fa-solid fa-clone text-lg"></i>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                     routerLink="/settings/splitter/outputs/update/{{ row.id }}"
                     class="cursor-pointer hover:shadow-md transition-colors duration-300"></mat-row>
        </mat-table>
        <mat-paginator showFirstLastButtons
                       [length]="this.total"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="[5, 10, 15, 20, 50]"
                       (page)="onPageChange($event)">
        </mat-paginator>
    </mat-sidenav-content>
</mat-sidenav-container>