<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="relative z-30 h-14 flex justify-between items-center pl-2 pr-2 bg-green-400 bg-opacity-60 text-gray-900">
            <div class="flex">
            </div>
            <h3 class="text-center m-0">
                {{ this.serviceSettings.getTitle() }}
            </h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400">
        <div class="overflow-x-hidden h-full-overflow">
            <div class="flex justify-center m-10">
                <ng-container *ngFor="let field of supplierForm">
                    <mat-slide-toggle *ngIf="field.type === 'mat-slide-toggle'" [formControl]="field['control']">
                        {{ field.label | translate }}
                    </mat-slide-toggle>
                </ng-container>
            </div>
            <div class="flex justify-center items-center align-middle">
                <form (ngSubmit)="onSubmit()" class="grid grid-cols-7 gap-2 w-full m-10 text-center">
                    <ng-container *ngFor="let field of supplierForm">
                        <mat-form-field class="block" *ngIf="field.type === 'text'">
                            <mat-label>{{ field.label | translate }}</mat-label>
                            <input matInput [formControl]="field['control']" [type]="field.type" [placeholder]="field.label | translate" [required]="field['required']">
                            <mat-error *ngIf="field.control.invalid">{{ getErrorMessageSupplier(field.id) }}</mat-error>
                            <span *ngIf="field.hint" class="absolute text-gray-600 top-0.5 -right-2 cursor-help"
                                  [matTooltip]="field.hint | translate">
                                <i class="fa-solid fa-circle-question text-md"></i>
                            </span>
                        </mat-form-field>
                        <mat-form-field class="block" *ngIf="field.type === 'select'">
                            <mat-label>{{ field.label | translate }}</mat-label>
                            <mat-select [formControl]="field['control']" [required]="field['required']">
                                <mat-option *ngFor="let option of field.values" [value]="option['id']">{{ option['label'] }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="field.control.invalid">{{ getErrorMessageSupplier(field.id) }}</mat-error>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngFor="let field of addressForm">
                        <mat-form-field [class.col-span-2]="field.id === 'address1'" class="block" *ngIf="field.type !== 'country'">
                            <mat-label>{{ field.label | translate }}</mat-label>
                            <input matInput [formControl]="field['control']" [type]="field.type" [placeholder]="field.label | translate" [required]="field['required']">
                            <mat-error *ngIf="field.control.invalid">{{ getErrorMessageAddress(field.id) }}</mat-error>
                        </mat-form-field>
                        <mat-select-country class="w-full" *ngIf="field.type === 'country'"
                                            [label]="field.label | translate"
                                            [value]="defaultValue"
                                            (onCountrySelected)="onCountrySelected($event)">
                        </mat-select-country>
                    </ng-container>
                    <div class="button col-span-7">
                        <button class="valid_button" type="submit" mat-button>
                            {{ 'ACCOUNTS.create_supplier' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>