{% extends 'base.html' %}
{% block title %}{{ gettext('USER_LIST') }}{% endblock %}

{% block content %}
    {{ pagination.info }}
    {{ pagination.links }}
    <hr>
    <div class="container-fluid" id="main">
        <div class="table-wrapper supplier_list">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ gettext('SUPPLIER') }}</th>
                        <th>{{ gettext('SIRET_NUMBER') }}</th>
                        <th>{{ gettext('SIREN_NUMBER') }}</th>
                        <th>{{ gettext('Address') }} 1</th>
                        <th>{{ gettext('Address') }} 2</th>
                        <th>{{ gettext('ZIP_CODE') }}</th>
                        <th>{{ gettext('CITY') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ supplier['vatNumber'] }}
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    {{ supplier['name'] }}
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    {% if supplier['SIRET'] == 'nan' %}
                                        N/A
                                    {% else %}
                                        {{ supplier['SIRET'] }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    {% if supplier['SIREN'] == 'nan' %}
                                        N/A
                                    {% else %}
                                        {{ supplier['SIREN'] }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    {% if supplier['adress1'] == 'nan' %}
                                        N/A
                                    {% else %}
                                        {{ supplier['adress1'] }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    {% if supplier['adress2'] == 'nan' %}
                                        N/A
                                    {% else %}
                                        {{ supplier['adress2'] }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    {% if supplier['postal_code'] == 'nan' %}
                                        N/A
                                    {% else %}
                                        {{ supplier['postal_code'] }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    {% if supplier['city'] == 'nan' %}
                                        N/A
                                    {% else %}
                                        {{ supplier['city'] }}
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    {{ pagination.links }}

    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/otherLib/bootstrap.bundle.min.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

    {% endblock %}
{% endblock %}