<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search"></div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div *ngIf="!this.loading" class="w-full overflow-auto h-full-overflow">
            <app-hint [message]="'USER-QUOTA.description' | translate"></app-hint>
            <hr class="border-green-400 relative z-30 w-1/3 mx-auto my-4">
            <div class="w-1/3 mx-auto my-10 text-center">
                <mat-slide-toggle [(ngModel)]="this.quotaEnabled" matTooltip="{{ 'USER-QUOTA.enabled' | translate }}">
                    {{ 'USER-QUOTA.enabled' | translate }}
                </mat-slide-toggle>
            </div>
            <div class="flex justify-center items-center align-middle">
                <mat-form-field class="block p-4 w-1/3">
                    <mat-label>{{ 'USER-QUOTA.quota_number' | translate }}</mat-label>
                    <input matInput type="number" [(ngModel)]="this.quotaNumber"/>
                </mat-form-field>
                <mat-form-field class="block p-4 w-1/3">
                    <mat-label>{{ 'USER-QUOTA.filtered_users' | translate }}</mat-label>
                    <mat-select [formControl]="usersControlSelect" [multiple]="true" [value]="this.quotaUsersfiltered">
                        <mat-option *ngFor="let option of this.usersList" [value]="option['id']">
                            {{ option['lastname'] + ' ' + option['firstname'] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="block p-4 w-1/3">
                    <mat-label>{{ 'USER-QUOTA.email_dest' | translate }}</mat-label>
                    <input matInput type="text" [formControl]="this.quotaEmailDestControl"/>
                </mat-form-field>
            </div>
            <div class="flex justify-center m-6">
                <button class="p-6 border-solid border-green-400 border bg-green-400 text-white hover:bg-transparent hover:text-gray-900 transition
                                duration-300" type="submit" mat-button (click)="updateQuotaNumber()">
                    {{ 'USER-QUOTA.update' | translate }}
                </button>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>