<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="w-1/6 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <h3 class="bg-green-400 bg-opacity-60 text-center text-gray-900 m-0 pb-4" style="padding-top: 0.9rem">{{ "SETTINGS.administration" | translate }}</h3>
        <mat-divider class="border-green-400"></mat-divider>
        <mat-nav-list class="pt-0 overflow-x-hidden overflow-y-auto" style="height: calc(100% - 60px)">
            <mat-expansion-panel *ngFor="let parent of this.serviceSettings.getSettingsParent(); let i = index"
                                 [expanded]="parent.opened" (opened)="this.serviceSettings.closeOtherParent(this.router.url, parent['id'])">
                <mat-expansion-panel-header class="settings_expansion" [class.border-t-0]="i === 0">
                    <mat-panel-title>
                        {{ parent['label'] | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-full border-t-2 border-gray-600">
                    <div *ngFor="let setting of this.serviceSettings.getSettings()[parent['id']];"
                         [class.border-b]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                         [class.border-gray-400]="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'">
                        <div *ngIf="this.serviceSettings.getSettingsAction(parent['id'], setting['id']) else noActions">
                            <mat-expansion-panel *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                                 [expanded]="this.router.url.includes(setting['route'])">
                                <mat-expansion-panel-header class="font-normal w-full h-20">
                                    <mat-panel-title class="font-normal justify-center items-center text-center">
                                        <i [class.text-green-400]="this.router.url === setting['route']"
                                           class="absolute text-lg left-4 w-10 h-10 rounded-full flex items-center justify-center {{ setting['icon'] }}">
                                        </i>
                                        <button mat-button [class.text-green-400]="this.router.url === setting['route']"
                                                class="pr-0 ml-2 font-normal w-full h-20 flex justify-center items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                [routerLink]="setting['route']">
                                            <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 text-xs 2xl:text-sm 2xl:w-full">
                                                {{ setting['label'] | translate }}
                                            </p>
                                        </button>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let action of this.serviceSettings.getSettingsAction(parent['id'], setting['id'])"
                                     [class.border-gray-600]="!action['showOnlyIfActive']"
                                     [class.border-t]="!action['showOnlyIfActive']"
                                     [class.w-full]="!action['showOnlyIfActive']">
                                    <div class="border-b border-gray-400"
                                         *ngIf="(this.privilegesService.hasPrivilege(action['privilege']) || setting['privilege'] === '*') && (!action['showOnlyIfActive'] || (action['showOnlyIfActive'] && this.router.url.includes(action['route'])))">
                                        <button mat-button
                                                [class.text-green-400]="this.router.url.includes(action['route'])"
                                                class="font-normal w-full h-12 ml-2 2xl:ml-12 flex items-center text-center"
                                                (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                                [routerLink]="action['route']"
                                                [class.disable_link]="action['showOnlyIfActive']">
                                            <i class="absolute -mt-2.5 2xl:-mt-2 text-lg w-10 h-10 rounded-full flex items-center justify-center {{ action['icon'] }}"></i>
                                            <p class="m-0 ml-10 2xl:ml-12 text-xs 2xl:text-sm" style="margin-top: 2.5px!important">
                                                {{ action['label'] | translate }}
                                            </p>
                                        </button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                        <ng-template #noActions>
                            <i class="absolute mt-5 left-5 w-10 h-10 rounded-full flex items-center justify-center fa-lg {{ setting['icon'] }}"></i>
                            <button *ngIf="this.privilegesService.hasPrivilege(setting['privilege']) || setting['privilege'] === '*'"
                                    mat-button [class.text-green-400]="this.router.url === setting['route']"
                                    class="pr-0 ml-2 font-normal w-full h-20 flex justify-center items-center text-center"
                                    (click)="this.serviceSettings.changeSetting(setting['id'], parent['id'])"
                                    [routerLink]="setting['route']">
                                <p [class.font-medium]="this.router.url === setting['route']" class="m-0 truncate w-11/12 text-xs 2xl:text-sm 2xl:w-full">
                                    {{ setting['label'] | translate }}
                                </p>
                            </button>
                        </ng-template>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <button mat-icon-button (click)="sidenav.toggle();" class="absolute left-2 top-0.5">
                <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened"
                   class="fa-solid fa-stream text-2xl text-gray-900"></i>
            </button>
            <h3 class="text-center">{{ this.serviceSettings.getTitle() }}</h3>
            <hr class="border-green-400">
        </div>
        <div *ngIf="!this.loading" class="w-full overflow-auto" style="height: calc(100% - 64px)">
            <app-hint [message]="'USER-QUOTA.description' | translate"></app-hint>
            <hr class="border-green-400 w-1/3 mx-auto my-4">
            <div class="w-1/3 mx-auto my-10 text-center">
                <mat-slide-toggle [(ngModel)]="this.quotaEnabled" matTooltip="{{ 'USER-QUOTA.enabled' | translate }}">
                    {{ 'USER-QUOTA.enabled' | translate }}
                </mat-slide-toggle>
            </div>
            <div class="flex justify-center items-center align-middle">
                <mat-form-field class="block p-4 w-1/3">
                    <mat-label>{{ 'USER-QUOTA.quota_number' | translate }}</mat-label>
                    <input matInput type="number" [(ngModel)]="this.quotaNumber"/>
                </mat-form-field>
                <mat-form-field class="block p-4 w-1/3">
                    <mat-label>{{ 'USER-QUOTA.filtered_users' | translate }}</mat-label>
                    <mat-select [formControl]="usersControlSelect" [multiple]="true" [value]="this.quotaUsersfiltered">
                        <mat-option *ngFor="let option of this.usersList" [value]="option['id']">
                            {{ option['lastname'] + ' ' + option['firstname'] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="block p-4 w-1/3">
                    <mat-label>{{ 'USER-QUOTA.email_dest' | translate }}</mat-label>
                    <input matInput type="text" [formControl]="this.quotaEmailDestControl"/>
                </mat-form-field>
            </div>
            <div class="flex justify-center m-6">
                <button class="p-6 border-solid border-green-400 border hover:bg-green-400 hover:text-white transition
                                duration-300" type="submit" mat-button (click)="updateQuotaNumber()">
                    {{ 'USER-QUOTA.update' | translate }}
                </button>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>