<div class="relative top-16 2xl:top-32 flex justify-center h-20" *ngIf="this.image">
    <img [src]="this.image" alt="Open-Capture logo">
</div>
<div class="flex justify-center items-center" style="height: 85vh">
    <app-loader *ngIf="this.loading"></app-loader>
    <mat-card class="text-center w-full 2xl:w-1/4 sm:w-1/2">
        <mat-card-title class="my-4">
            {{ 'GLOBAL.forgot-password' | translate }}
        </mat-card-title>
        <app-hint *ngIf="this.smtpStatus" class="m-2" [specificClass]="'w-full'" [message]="'AUTH.forgot_password_hint' | translate"></app-hint>
        <app-hint-error *ngIf="!this.smtpStatus" class="m-2" [specificClass]="'w-full'" [message]="'AUTH.smtp_server_down' | translate"></app-hint-error>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <mat-form-field class="block">
                    <mat-label>{{ 'USER.email' | translate }}</mat-label>
                    <input matInput [formControl]="this.emailControl" type="text" placeholder="{{ 'USER.email' | translate }}" required>
                    <mat-error *ngIf="this.emailControl.invalid">{{ 'ERROR.bad_email_pattern' | translate }}</mat-error>
                </mat-form-field>
                <div [class.cursor-not-allowed]="!this.smtpStatus">
                    <button mat-button [disabled]="!this.smtpStatus || this.sending" [class.bg-gray-400]="!this.smtpStatus"
                            [class.bg-green-400]="this.smtpStatus" class="p-6 border-solid border-green-400
                            border text-white hover:bg-transparent hover:text-gray-900 transition duration-300" type="submit">
                        <span *ngIf="!this.sending">
                            {{ 'SPLITTER.send' | translate }}
                        </span>
                        <i *ngIf="this.sending"
                           class="fa-solid text-2xl fa-circle-notch fa-spin text-gray-900"></i>
                    </button>
                </div>
            </form>
        </mat-card-content>
        <div class="text-center relative top-8 text-gray-900">
            <a routerLink="/login">
                {{ 'AUTH.back_to_login' | translate }}
            </a>
        </div>
    </mat-card>
</div>
