<div class="search-input w-full mx-4 mt-4">
    <mat-form-field class="w-60">
        <mat-label>{{ 'SPLITTER.search_folder' | translate }}</mat-label>
        <input matInput [(ngModel)]="searchText" (input)="filterChanged()">
    </mat-form-field>
    <button class="text-gray-400 ml-4 mx-2 my-4 hover:text-green-400 hover:cursor-pointer" (click)="treeControl.collapseAll()"
            [matTooltip]="'DOCTYPE.minimize_tree' | translate">
        <i class="fa-solid fa-minimize text-lg"></i>
    </button>
    <button class="text-gray-400 mx-2 my-4 hover:text-green-400 hover:cursor-pointer" (click)="treeControl.expandAll()"
            [matTooltip]="'DOCTYPE.maximize_tree' | translate">
        <i class="fa-solid fa-maximize text-lg"></i>
    </button>
    <mat-form-field *ngIf="!data.hasOwnProperty('formId')" class="absolute right-4 w-60">
        <mat-label>{{ 'FORMS.choose_form' | translate }}</mat-label>
        <mat-select id='folder' [formControl]="selectFormControl">
            <div *ngFor="let form of forms">
                <mat-option [value]="form.id">
                    <span>{{ form.label | translate }}</span>
                    <button *ngIf="form.id !== selectFormControl.value" [matTooltip]="'DOCTYPE.clone_doctypes' | translate"
                        (click)="$event.stopPropagation(); cloneFormDoctypes(form.id, selectFormControl.value)"
                        class="hover:text-green-400 fa fa-clone absolute right-0 mr-2"></button>
                </mat-option>
            </div>
        </mat-select>
    </mat-form-field>
</div>
<mat-card class="overflow-auto mx-4" style="height: calc(100% - 11rem) !important">
    <div *ngIf="this.treeDataObj.loading">
        <app-loader></app-loader>
    </div>
    <div *ngIf="treeDataObj.doctypeData.length === 0" class="text-gray-400 p-4">
        {{ 'DOCTYPE.no_doctype_to_show' | translate }}
    </div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="m-2">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button class="h-8"
                    (click)="selectNode(node, false)"
                    (dblclick)="selectNode(node, true)">
                <span class="whitespace-nowrap p-1 rounded hover:text-slate-100 hover:bg-green-400 font-normal"
                      [ngClass]="selectedDocTypeInput.id === node.id ? 'bg-green-400 text-slate-100' : ''">
                    <i *ngIf="!node.isDefault" class="fa-solid fa-file pr-1"></i>
                    <i *ngIf="node.isDefault" class="fa-solid fa-file-circle-check pr-1"></i>
                    <span>{{ node.label }}</span>
                </span>
            </button>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild">
            <button matTreeNodeToggle
                    class="text-left inline-block"
                    [ngClass]="selectedDocTypeInput.id === node.id ? 'bg-green-400 text-slate-100' : ''"
                    [attr.aria-label]="'Toggle ' + node.label"
                    (click)="selectFolder(node)">
                <span class="hover:text-slate-100 p-1 rounded hover:bg-green-400 font-normal">
                    <i [ngClass]="treeControl.isExpanded(node) ? 'fa fa-minus-square' : 'fa fa-plus-square'"></i>
                    {{ node.label }}
                </span>
            </button>
        </mat-tree-node>
    </mat-tree>
</mat-card>