::ng-deep #form-select-field {
    .mat-mdc-form-field-subscript-wrapper {
        height: 0;
    }

    .mat-mdc-form-field-flex {
        @apply h-8 #{!important};

        .mat-mdc-form-field-infix {
            @apply py-0 #{!important};

            .mat-mdc-select {
                @apply pt-1 #{!important};
            }
        }
    }
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-document:hover {
    transform: scale(1.5);
}

.btn-icon {
    border-right:1px solid rgb(75 85 99)!important;
}

.drop-list {
    background-size: 60px 60px;
}

.page-check-box {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cdk-drag-placeholder{
    min-width: 15rem !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(4);
}

.search-mask-result {
    font-size: 0.75rem
}

::ng-deep .mdc-linear-progress__bar-inner {
    border-color: #76b442 !important;
    border-top-width: 5px !important;
}

.mdc-linear-progress {
    transform: none;
}

.loading_attachments {
    top: 50%;
    left: 50%;
    @apply absolute;
    @apply text-gray-400;
    transform: translate(-50%, -50%);
}