/* Drawer */
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #97BF3D ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #97BF3D ;
}

::ng-deep .mat-drawer-inner-container {
    overflow-x: hidden!important;
}

.viewer-container {
    width: 100%;
    border: 1px solid #555;
    position: absolute;
    top: 60px;
    bottom: 0;
    z-index: -1;
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

mat-drawer{
    width: 20%;
}

a:hover {
    cursor:pointer;
}

.btn-show-batches{
    position: sticky;
    width: 8px !important;
    min-width: unset !important;
    min-height: 100%;
    margin-top: 0 !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1 ;
}

.metadata{
    width: 100%;
    height: 200px !important;
}

.mat-search{
    min-width: calc(100% + 250px) !important;
}

::ng-deep .mat-search > .mat-select-trigger > .mat-select-arrow-wrapper{
    display: none;
}

.mat-select-arrow-wrapper{
    display: none !important;
}

.mat-select-placeholder{
    width: calc(100% - 250px) !important;
}
/* documents list */

.document{
    margin: 10px auto;
    width: 100%;
    box-shadow: 1px 2px 10px 0 #c5c5c5 !important;
}

.drag-document:hover {
    transform: scale(1.3);
}

.document-drop-placeholder{
    margin: 10px auto;
    width: 100%;
    height: 300px;
    box-shadow: 1px 2px 10px 0 #c5c5c5 !important;
}


.btn-icon{
    border-right:1px solid rgb(75 85 99)!important;
    border-radius: 0;
}

.document-content{
    width: 100%;
    height: 80%;
}

.drop-list {
    width: 100%;
    border: solid 1px #ccc;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background-size: 60px 60px;
    background-color: white;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.page:last-child {
    border: none;
}

.drop-list.cdk-drop-list-dragging .page:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
    min-width: 220px;
    max-width: 220px;
    min-height: 350px;
    max-height: 350px;
    padding: 10px;
    background: #ccc;
    z-index: 1;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.page {
    min-width: 220px;
    max-width: 220px;
    min-height: 350px;
    max-height: 350px;
    padding: 5px;
    cursor: move;
    overflow: hidden;
}

.page-header-btn{
    min-width: unset!important;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}

.page-check-box{
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

::ng-deep {
    .mat-checkbox-inner-container {
        width: 18px !important;
        height: 18px !important;
    }
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(4);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
    background-color: rgba(151, 191, 61, 1) !important;
}

/* Splitter tools bar */
.splitter-tools{
    position: sticky;
    z-index: 10;
    bottom: 10px !important;
    left: 10%;
}

.splitter-tools-place {
    width : 50%;
    min-height: 50px;
}

.btn-validate-splitter{
    height: 40px;
    width: 150px;
}

