/* Drawer */
:host ::ng-deep .mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) .mat-mdc-slide-toggle-bar,
:host ::ng-deep  .mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) .mat-mdc-slide-toggle-thumb {
    @apply bg-green-400;
}

::ng-deep .mat-drawer-inner-container {
    overflow-x: hidden!important;
}

a:hover {
    cursor:pointer;
}

.mat-search {
    min-width: calc(100% + 250px) !important;
}

.mat-select-placeholder {
    width: calc(100% - 250px) !important;
}

::ng-deep #form-select-field {
    .mdc-notched-outline, .mat-mdc-select-arrow-wrapper {
        display: none !important;
    }
}

::ng-deep .document_type_options .mdc-list-item__primary-text {
    @apply truncate #{!important};
    @apply w-full;
}

/* documents list */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-document:hover {
    transform: scale(1.3);
}

.document-drop-placeholder {
    margin: 10px auto;
    width: 100%;
    box-shadow: 1px 2px 10px 0 #c5c5c5 !important;
}

.btn-icon {
    border-right:1px solid rgb(75 85 99)!important;
}

.drop-list {
    background-size: 60px 60px;
}

.page:last-child {
    border: none;
}

.page-check-box {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

::ng-deep {
    .mat-checkbox-inner-container {
        width: 18px !important;
        height: 18px !important;
    }
}

.cdk-drag-placeholder{
    min-width: 15rem !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(4);
}

/* Splitter tools bar */
.splitter-tools {
    & ::ng-deep .mat-mdc-text-field-wrapper {
        @apply top-1.5;
        & .mat-mdc-form-field-flex {
            @apply h-10;
            & .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
                top: 17px !important;
            }
            & .mat-mdc-form-field-infix {
                padding-top: 10px !important;
            }
        }
    }
}
