<div *ngIf="this.loading || this.documentsLoading || this.batchesLoading">
    <app-loader></app-loader>
</div>
<mat-drawer-container *ngIf="!this.loading" class="w-full absolute top-16 bottom-0" hasBackdrop="false">
    <mat-drawer #drawer mode="side" opened class="w-1/5">
        <div class="mt-1">
            <div [ngSwitch]="currentTime" class="mt-2 w-full h-10 grid place-content-center">
                <div class="text-base text-slate-400">
                    {{ timeLabels[currentTime] | translate }}, {{ getStatusLabel(currentBatch.status) }}
                </div>
            </div>
            <span *ngIf="batches.length === 0" class="text-slate-400 w-full grid place-content-center">
                {{ 'SPLITTER.no_batch_found' | translate }}
            </span>
            <div cdkDropList>
                <div (cdkDragStarted)="this.isBatchOnDrag = true" (cdkDragEnded)="onBatchDrop(batch.id)"
                     *ngFor="let batch of this.batches | slice: 0 : 10" cdkDrag>
                    <div *cdkDragPlaceholder></div>
                    <mat-card class="mat-elevation-z4 my-2 cursor-move" [ngClass]="{'border-4 border-green-400': this.currentBatch.id === batch.id}">
                        <a class="image-link" (click)="changeBatch(batch['id'])">
                            <mat-card-header>
                                <img mat-card-image [src]="batch['thumbnail']" alt="Open-Capture Splitter image">
                            </mat-card-header>
                        </a>
                        <mat-card-content>
                            <span matTooltip="{{ 'SPLITTER.document_number' | translate }} : {{ batch['documentsCount'] }}"
                                  class="float-right text-green-400">
                                {{ batch['documentsCount'] }}
                                <i class="far fa-file-alt"></i>
                            </span>
                            <mat-card-subtitle class="mt-2 -mb-1 block overflow-hidden text-ellipsis w-11/12">
                                <span class="leading-7 flex">
                                    {{ batch['fileName'] }}
                                </span>
                                <strong>{{ 'SPLITTER.identifier' | translate }}</strong> : {{ batch['id'] }}<br>
                                <strong>{{ 'VERIFIER.register_date' | translate }}</strong> : {{ batch['date'] }}<br>
                            </mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col items-start bg-white">
        <button class="btn-show-batches left-0 sticky min-h-full mt-0 top-0 left-0 w-2.5 min-w-0"
                mat-raised-button (click)="drawer.toggle()">
            <span>
                <i *ngIf="drawer.opened" class="fa-solid fa-angle-left"></i>
                <i *ngIf="!drawer.opened" class="fa-solid fa-angle-right"></i>
            </span>
        </button>
        <div *ngIf="showZoomPage" class="fixed z-20 w-4/12 h-5/6 grid justify-items-stretch right-0 top-20">
            <img class="justify-self-end border-2 zoom-image"
                 mat-card-image
                 [src]="zoomPage.thumbnail"
                 (clickOutside)="showZoomPage = false"
                 [exclude]="'.btn-page-zoom, .btn-rotate'"
                 [ngClass]="
                    (zoomPage['rotation'] === 0)   ? 'rotate-0 h-full w-4/5 mr-6':
                    (zoomPage['rotation'] === 90)  ? 'rotate-90 h-full w-4/5 mr-36':
                    (zoomPage['rotation'] === 180) ? 'rotate-180 h-full w-4/5 mr-6':
                    (zoomPage['rotation'] === -90) ? '-rotate-90 h-full w-4/5 mr-36':
                    ''"
                 alt="Zoom Image"/>
        </div>
        <div class="w-10/12 absolute top-0 mx-32" (mouseenter)="isMouseInDocumentList = true" (mouseleave)="isMouseInDocumentList = false">
            <div *ngIf="isBatchOnDrag" class="absolute h-full w-full bg-green-400 z-40 opacity-50 rounded"
                 [matTooltip]="'SPLITTER.drop_batch_to_merge' | translate"></div>
            <mat-accordion class="w-full">
                <mat-expansion-panel class="my-6 bg-gray-20" [expanded]="true" (opened)="batchMetadataOpenState = true"
                                     (closed)="batchMetadataOpenState = false" #batchMetadata>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="grid grid-cols-3 gap-3">
                            <div class="grid grid-cols-2 gap-2">
                                <span>
                                    {{ 'SPLITTER.batch_metadata' | translate }}
                                </span>
                                <div (click)="batchMetadata.toggle()" class="mx-1" *ngIf="fieldsCategories['batch_metadata'].length !== 0">
                                    <mat-slide-toggle [checked]="inputMode === 'Auto'" (change)="changeInputMode($event);">
                                        {{ 'SPLITTER.auto_complete' | translate }}
                                    </mat-slide-toggle>
                                </div>
                            </div>
                            <div>
                                <mat-form-field id="form-select-field" class="w-full" (click)="$event.stopPropagation()" matTooltip="{{ 'SPLITTER.edit_used_form' | translate }}">
                                    <i matPrefix class="fa-sharp fa-solid fa-caret-down text-green-400 fa-lg"></i>
                                    <mat-select (selectionChange)="onFormChange($event.value)" [(ngModel)]="currentBatch.formId">
                                        <mat-option [value]="form.id" *ngFor="let form of this.forms;">
                                            {{ form.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="text-right text-gray-400">
                                <span class="mx-2" matTooltip="{{ 'HEADER.status' | translate }}">
                                    <i class="fa-solid fa-flag"></i>
                                    {{ getStatusLabel(currentBatch.status) }}
                                </span>
                                <span>
                                    <i class="fa-solid fa-pipe"></i>
                                    {{ 'SPLITTER.identifier' | translate }} : {{ currentBatch.id }}
                                </span>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="text-gray-400 text-center w-full" *ngIf="fieldsCategories['batch_metadata'].length === 0">
                        <i class="block fa-solid fa-check fa-3x"></i>
                        <span class="block">{{ 'SPLITTER.no_metadata_required' | translate }}</span>
                    </div>
                    <form [formGroup]="batchForm"  class="flex flex-wrap mx-8">
                        <div *ngFor="let field of fieldsCategories['batch_metadata']" class="flex items-center px-3" [class]="field.class">
                            <ng-container *ngIf="field.type === 'text' && inputMode === 'Auto' && field.metadata_key">
                                <mat-form-field class="w-full">
                                    <mat-label>
                                        <span [innerHTML]="getPlaceholderFromSearchMask(field.searchMask, field.label)"></span>
                                    </mat-label>
                                    <mat-select [formControlName]="field.label_short" class="mat-search">
                                        <mat-option *ngIf="field.metadata_key">
                                            <ngx-mat-select-search
                                                    [formControlName]="'search_' + field.label_short"
                                                    placeholderLabel="{{ 'SPLITTER.min_3_letter' | translate }}"
                                                    [searching]="searching"
                                                    noEntriesFoundLabel="{{ 'SPLITTER.no_result' | translate }}">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let metadata of filteredServerSideMetadata | async"
                                                    [value]="metadata.metadataId"
                                                    (click)="fillData(metadata)">
                                            <span *ngIf="metadata.metadataId !== batchMetadataValues.metadataId"
                                                  [innerHTML]="getPlaceholderFromResultMask(field.resultMask, metadata)">
                                            </span>
                                            <span *ngIf="metadata.metadataId === batchMetadataValues.metadataId">
                                                {{ metadata[field.label_short] }}
                                            </span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'textarea'">
                                <mat-form-field class="w-full">
                                    <mat-label>{{ field.label }}</mat-label>
                                    <textarea matInput formControlName="{{ field.label_short }}"
                                              (ngModelChange)="setValueChange(field.label_short, $event)"></textarea>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'text' && (!field.metadata_key || inputMode === 'Manual')">
                                <mat-form-field class="w-full">
                                    <mat-label>{{ field.label }}</mat-label>
                                    <input matInput formControlName="{{ field.label_short }}">
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'select'">
                                <mat-form-field class="w-full">
                                    <mat-label>{{ field.label }}</mat-label>
                                    <mat-select [formControlName]="field.label_short"
                                                (selectionChange)="setValueChange(field.label_short, $event.value)">
                                        <mat-option *ngFor="let option of field.settings.options" [value]="option.id">
                                            {{ option.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'date'">
                                <mat-form-field class="w-full" >
                                    <input matInput [id]="field.id" [matDatepicker]="datePicker" [formControlName]="field.label_short">
                                    <mat-label>{{ field.label }}</mat-label>
                                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datePicker></mat-datepicker>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.type === 'checkbox'" class="flex justify-center inline-block my-4">
                                <mat-checkbox formControlName="{{ field.label_short }}">{{ field.label }}</mat-checkbox>
                            </ng-container>
                        </div>
                    </form>
                    <button mat-button (click)="downloadOriginalFile(); $event.stopPropagation();"
                            class="float-left mb-2"
                            matTooltip="{{ 'SPLITTER.show_original_file' | translate }}">
                        <i class="fa-solid fa-file-arrow-down fa-2x" *ngIf="!downloadLoading"></i>
                        <i class="fas fa-circle-notch fa-spin fa-2x" *ngIf="downloadLoading"></i>
                    </button>
                    <button mat-button (click)="loadReferential(true); $event.stopPropagation();"
                            class="float-right mb-2"
                            matTooltip="{{ 'SPLITTER.load_referential' | translate }}">
                        <i class="fa-solid fa-sync fa-2x"></i>
                    </button>
                </mat-expansion-panel>
            </mat-accordion>
            <span *ngIf="documents.length === 0" class="block align-text-top text-center text-red-600">{{ 'SPLITTER.no_document_to_show' | translate }}</span>
            <div cdkDropList (cdkDropListDropped)="dropDocument($event)">
                <mat-card class="document w-full shadow-lg mb-4"
                          *ngFor="let document of documents; let documentIndex = index;" (click)="selectDocument(document)" cdkDrag>
                    <div class="w-full h-40 border-dashed border-2 border-gray-400 bg-gray-200" *cdkDragPlaceholder></div>
                    <div class="drag-document absolute w-6 h-6 -left-1 -top-1 z-10 rounded-full text-gray-400 text-center
                      align-middle bg-slate-50 drop-shadow-xl hover:cursor-grabbing group-hover:text-gray-500
                      " matTooltip="{{ 'SPLITTER.change_document_position' | translate }}" cdkDragHandle>
                        <i class="fa-solid fa-arrows-up-down-left-right text-lg"></i>
                    </div>
                    <div *cdkDragPreview class="mt-4 drop-shadow-xl w-4/6 h-40 text-center text-gray-500 bg-slate-50 grid place-content-center">
                        <div class="absolute w-8 h-8 -left-1 -top-1 z-10 rounded-full text-center
                              align-middle bg-slate-50 drop-shadow-xl hover:cursor-grabbing group-hover:text-gray-500
                              grid place-content-center" cdkDragHandle>
                            <i class="fa-solid fa-arrows-up-down-left-right text-lg"></i>
                        </div>
                        <i class="fa-solid fa-copy fa-3x"></i>
                        <span>{{ 'SPLITTER.drop_document_in_position' | translate }}</span>
                    </div>
                    <mat-card-title>
                        <mat-accordion class="block mx-auto my-4" style="width:98%;">
                            <mat-expansion-panel class="bg-gray-20" [expanded]="fieldsCategories['document_metadata'].length !== 0" (opened)="documentMetadataOpenState = true"
                                                 (closed)="documentMetadataOpenState = false" #documentMetadata>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="max-w-11/12">
                                        <button class="max-w-full text-lg text-left hover:text-green-400 {{ document['class'] }}"
                                                [ngClass]="!document['documentTypeName'] ? 'text-red-500':''"
                                                (click)="documentMetadata.toggle(); openDocumentTypeDialog(document);"
                                                matTooltip="{{ 'GLOBAL.edit' | translate }}">
                                            <div class="font-medium truncate">
                                                <i class="fa-solid fa-edit"></i>
                                                {{ document['documentTypeName'] }}
                                                <span *ngIf="!document['documentTypeName']" class="mx-2">{{ 'SPLITTER.no_selected_doctype' | translate }}</span>
                                            </div>
                                        </button>
                                    </mat-panel-title>
                                    <button mat-button class="absolute right-7" (click)="deleteDocument(documentIndex); $event.stopPropagation();"
                                            matTooltip="{{ 'GLOBAL.delete' | translate }}">
                                        <i class="fa-solid fa-trash-alt text-lg"></i>
                                    </button>
                                </mat-expansion-panel-header>
                                <div class="text-gray-400 w-full">
                                    <span class="m-6 w-11/12">{{ 'SPLITTER.document_metadata' | translate }}</span>
                                    <mat-divider class="mx-6" style="width: 96%;"></mat-divider>
                                    <div *ngIf="fieldsCategories['document_metadata'].length === 0">
                                        <i class="text-center block fa-solid fa-check fa-3x"></i>
                                        <span class="block text-center" >
                                            {{ 'SPLITTER.no_metadata_required' | translate }}
                                        </span>
                                    </div>
                                </div>
                                <form [formGroup]="document.form" class="flex flex-wrap mx-6 mt-4">
                                    <div *ngFor="let field of fieldsCategories['document_metadata']" class="flex items-center px-3" [class]="field.class">
                                        <ng-container *ngIf="field.type === 'text' && inputMode === 'Auto' && field.metadata_key"
                                                      [ngClass]="field.class">
                                            <mat-form-field class="w-full">
                                                <mat-label>
                                                    <span [innerHTML]="getPlaceholderFromSearchMask(field.searchMask, field.label)"></span>
                                                </mat-label>
                                                <mat-select [formControlName]="field.label_short" class="mat-search">
                                                    <mat-option *ngIf="field.metadata_key">
                                                        <ngx-mat-select-search
                                                                [formControlName]="'search_' + field.label_short"
                                                                placeholderLabel="{{ 'SPLITTER.min_3_letter' | translate }}"
                                                                [searching]="searching"
                                                                noEntriesFoundLabel="{{ 'SPLITTER.no_result' | translate }}">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let metadata of filteredServerSideMetadata | async"
                                                                [value]="metadata.metadataId"
                                                                (click)="fillData(metadata)">
                                                        <span *ngIf="metadata.metadataId !== batchMetadataValues.metadataId"
                                                              [innerHTML]="getPlaceholderFromResultMask(field.resultMask, metadata)">
                                                        </span>
                                                        <span *ngIf="metadata.metadataId === batchMetadataValues.metadataId">
                                                            {{ metadata[field.label_short] }}
                                                        </span>
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="field.type === 'textarea'" [ngClass]="field.class">
                                            <mat-form-field class="w-full">
                                                <mat-label>{{ field.label }}</mat-label>
                                                <textarea matInput formControlName="{{ field.label_short }}"
                                                          (ngModelChange)="setValueChange(field.label_short, $event)"></textarea>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="field.type === 'text' && (!field.metadata_key || inputMode === 'Manual')"
                                                      [ngClass]="field.class">
                                            <mat-form-field class="w-full">
                                                <mat-label>{{ field.label }}</mat-label>
                                                <input matInput formControlName="{{ field.label_short }}">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="field.type === 'select'" [ngClass]="field.class">
                                            <mat-form-field class="w-full">
                                                <mat-label>{{ field.label }}</mat-label>
                                                <mat-select [formControlName]="field.label_short"
                                                            (selectionChange)="setValueChange(field.label_short, $event.value)">
                                                    <mat-option *ngFor="let option of field.settings.options" [value]="option.id">
                                                        {{ option.label }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="field.type === 'date'">
                                            <mat-form-field class="w-full" >
                                                <input matInput [id]="field.id" [matDatepicker]="datePicker" [formControlName]="field.label_short">
                                                <mat-label>{{ field.label }}</mat-label>
                                                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #datePicker></mat-datepicker>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="field.type === 'checkbox'" class="flex justify-center inline-block my-4"
                                                      [ngClass]="field.class">
                                            <mat-checkbox formControlName="{{ field.label_short }}">{{ field.label }}</mat-checkbox>
                                        </ng-container>
                                    </div>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-title>
                    <mat-card-content class="document-content w-full h-104">
                        <div cdkDropListOrientation="horizontal" (click)="selectDocument(document)"
                             class="drop-list bg-white flex flex-row rounded w-full overflow-auto min-h-full"
                             style="background-image: url('assets/imgs/dots.jpg');"
                             [ngClass]="currentBatch.selectedDocument.id === document.id ? 'border-2 border-green-400':
                             'border-2 border-gray-200 hover:cursor-pointer'"
                             (cdkDropListDropped)="dropPage($event, document)" cdkDropList
                             id="{{ addDocumentIdToDropList(document['id']) }}" [cdkDropListData]="document['pages']"
                             [cdkDropListConnectedTo]="DropListDocumentsIds">
                            <div class="page m-1.5 bg-gray-200 rounded-md cursor-move w-60 p-1.5"
                                 *ngFor="let page of document['pages']; let pageIndex = index;"
                                 (click)="page['checkBox'] = !page['checkBox']; countSelectedPages();" cdkDrag>
                                <div class="bg-gray-200 m-1.5 border-dashed border-2 border-gray-400 p-3" *cdkDragPlaceholder></div>
                                <div class="flex justify-between w-60 h-12">
                                    <mat-checkbox [(ngModel)]="page['checkBox']"
                                                  (click)="$event.stopPropagation();"
                                                  (change)="countSelectedPages();"
                                                  matTooltip="{{ 'SPLITTER.select' | translate }}"
                                                  class="page-check-box float-left mt-4" id="page-check-box-{{ page['id'] }}">
                                    </mat-checkbox>
                                    <button mat-button class="page-header-btn text-gray-400 mt-0"
                                            (click)="rotatePage(documentIndex, pageIndex); $event.stopPropagation()"
                                            matTooltip="{{ 'SPLITTER.pageRotated' | translate }} {{ ' ' + page['rotation'] + ' ' + ('SPLITTER.degrees' | translate)}}">
                                        <span *ngIf="page['rotation'] !== 0">
                                            {{ page['rotation'] }}
                                        </span>
                                        <i class="fa-solid fa-rotate-right"></i>
                                    </button>
                                    <button mat-button class="page-header-btn float-right bg-gray-100 mr-4 mt-0"
                                            matTooltip="{{ 'SPLITTER.zoom' | translate }}"
                                            (click)="getZoomPage(page); $event.stopPropagation();">
                                        <i *ngIf="page.id !== this.currentBatch.pageIdInLoad" class="fa-solid fa-search-plus"></i>
                                        <i *ngIf="page.id === this.currentBatch.pageIdInLoad" class="fas fa-circle-notch fa-spin fa-lg my-4"></i>
                                    </button>
                                </div>
                                <img class="z-10" [ngClass]="
                                         (page['rotation'] === 0)   ? 'rotate-0 m-auto':
                                         (page['rotation'] === 90)  ? 'rotate-90 m-auto scale-75 px-2':
                                         (page['rotation'] === 180) ? 'rotate-180 m-auto':
                                         (page['rotation'] === -90) ? '-rotate-90 m-auto scale-75 px-2':
                                     ''"
                                     [src]="page['thumbnail']"
                                     title="{{ 'SPLITTER.moveToAnotherDoc' | translate }}"
                                     alt="Open-Capture Splitter image"/>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <mat-card class="splitter-tools divide-x divide-green-500 border-gray-300 py-0 mb-8 z-10 sticky bottom-2.5">
                <mat-card-content style="overflow: auto;" class="grid grid-rows-1 grid-cols-3">
                    <div class="absolute top-5 left-8 text-gray-500 bg-white px-2"
                         matTooltip="{{ currentBatch.selectedPagesCount }} {{ 'SPLITTER.selected_pages' | translate }}">
                        <span class="font-medium mx-1">{{ currentBatch.selectedPagesCount }}</span>
                        <i class="fa-solid fa-file"></i>
                    </div>
                    <div class="border border-gray-600 rounded-lg flex col-span-2 my-4 overflow-x-auto overflow-y-hidden">
                        <div class="flex items-center">
                            <button mat-button (click)="deleteSelectedPages()"
                                    class="btn-icon w-8 ml-4 rounded-none"
                                    matTooltip="{{ 'SPLITTER.delete_selected_pages' | translate }}"
                                    [disabled]="currentBatch.selectedPagesCount === 0">
                                <i class="fas fa-trash-alt text-lg"></i>
                            </button>
                            <button mat-button (click)="setAllPagesTo(true)" class="btn-icon w-8 rounded-none"
                                    matTooltip="{{ 'SPLITTER.select_all' | translate }}">
                                <i class="fas fa-check-circle text-lg"></i>
                            </button>
                            <button mat-button (click)="setAllPagesTo(false)"
                                    class="btn-icon border-r-2 border-black w-8 rounded-none"
                                    matTooltip="{{ 'SPLITTER.unselect_all' | translate }}">
                                <i class="fas fa-ban text-lg"></i>
                            </button>
                            <button mat-button (click)="rotateSelectedPages()"
                                    [disabled]="currentBatch.selectedPagesCount === 0"
                                    class="btn-icon btn-rotate w-8 rounded-none"
                                    matTooltip="{{ 'SPLITTER.rotatePage' | translate }}">
                                <i class="fas fa-rotate-right text-lg"></i>
                            </button>
                            <button mat-button (click)="createDocument()"
                                    matTooltip="{{ 'SPLITTER.add_document' | translate }}">
                                <i class="fas fa-plus-circle fa-lg" *ngIf="!addDocumentLoading"></i>
                                <i class="fas fa-circle-notch fa-spin fa-lg my-4" *ngIf="addDocumentLoading"></i>
                            </button>
                            <mat-form-field class="w-64 pt-2">
                                <mat-label>{{ 'SPLITTER.send_to' | translate }}</mat-label>
                                <mat-select [(ngModel)]="toolSelectedOption">
                                    <mat-option *ngFor="let document of this.documents;" [value]="document['id']" class="w-full document_type_options">
                                        {{ document['documentTypeName'] }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button (click)="sendSelectedPages()" mat-button class="btn-icon w-8 rounded-none"
                                    matTooltip="{{ 'SPLITTER.send' | translate }}">
                                <i class="fa fa-paper-plane text-lg"></i>
                            </button>
                            <button (click)="saveInfo()" mat-button class="w-8"
                                    matTooltip="{{ 'SPLITTER.save_changes' | translate }}" [ngClass]="{'text-green-400': isDataEdited}">
                                <i class="fa fa-save fa-lg" *ngIf="!saveInfosLoading"></i>
                                <i class="fas fa-circle-notch fa-spin fa-lg my-4" *ngIf="saveInfosLoading"></i>
                            </button>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4 text-gray-900 relative mt-6">
                        <button mat-button (click)="cancel()" type="submit"
                                class="p-6 ml-4 border-solid border-red-400 border bg-red-400 text-white hover:bg-transparent hover:text-gray-900 transition duration-300">
                            {{ 'GLOBAL.quit' | translate }}
                        </button>
                        <button mat-button (click)="validateWithConfirmation()" type="submit"
                                [disabled]="outputs.length === 0 || currentBatch.status !== 'NEW' || documents.length === 0"
                                [ngClass]="outputs.length === 0 || currentBatch.status !== 'NEW' || documents.length === 0 ?
                                'bg-gray-400 border-gray-400' : 'bg-green-400 border-green-400 hover:bg-transparent hover:text-gray-900 transition duration-300'"
                                class="p-6 border border-solid text-white">
                            {{ 'FORMS.validate' | translate }}
                        </button>
                        <div class="text-gray-400 -mt-2 col-start-2">
                            <span>{{ outputs.join(', ') }}</span>
                            <span class="text-red-500" *ngIf="this.outputs.length === 0">{{ 'OUTPUT.no_output_configured' | translate }}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
