<mat-sidenav-container class="absolute left-0 right-0 bottom-0 top-0 flex justify-center">
    <mat-sidenav-content class="flex items-center">
        <div class="text-center flex flex-col gap-20">
            <div class="text-gray-900 leading-none" style="font-size: 15rem">
                500
            </div>
            <div class="text-green-400">
                <i class="fa-solid fa-gear fa-3x fa-spin mx-4" style="--fa-animation-duration: 3s;"></i>
                <i class="fa-solid fa-gear fa-3x fa-spin fa-spin-reverse mx-4" style="--fa-animation-duration: 3.5s;"></i>
                <i class="fa-solid fa-gear fa-3x fa-spin mx-4" style="--fa-animation-duration: 4s;"></i>
            </div>
            <div class="text-5xl" [innerHTML]="'ERROR.500' | translate"></div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>