<mat-sidenav-container class="absolute left-0 right-0 bottom-0 flex justify-center" style="top: 4.1rem">
    <mat-sidenav-content class="flex items-center">
        <div class="text-center">
            <div class="relative text-gray-900 -top-28" style="font-size: 15rem">
                500
            </div>
            <div class="relative text-green-400 top-14">
                <i class="fa-solid fa-gear fa-3x fa-spin mx-4" style="--fa-animation-duration: 3s;"></i>
                <i class="fa-solid fa-gear fa-3x fa-spin fa-spin-reverse mx-4" style="--fa-animation-duration: 3.5s;"></i>
                <i class="fa-solid fa-gear fa-3x fa-spin mx-4" style="--fa-animation-duration: 4s;"></i>
            </div>
            <div class="relative top-28 text-5xl" [innerHTML]="'ERROR.500' | translate"></div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>