<div>
    <mat-paginator showFirstLastButtons
                   [length]="this.total"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[5, 10, 15, 20, 50]"
                   (page)="onPageChange($event)">
    </mat-paginator>
    <mat-table matSort [dataSource]="roles" (matSortChange)="sortData($event)" class="w-full">
        <ng-container matColumnDef="id">
            <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'GLOBAL.id' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="label_short">
            <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'ROLE.label_short' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.label_short}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="label">
            <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'ROLE.label' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="editable">
            <mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'ROLE.editable' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="element.editable"> <span class="text-green-400 text-4xl relative top-2 leading-4">&bull;</span> {{ 'ROLE.editable' | translate }}</span>
                <span *ngIf="!element.editable"> <span class="text-red-600 text-4xl relative top-2 leading-4">&bull;</span> {{ 'ROLE.non_editable' | translate }}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="element.editable">
                    <button mat-icon-button routerLink="/profile/{{element.id}}"
                            (click)="$event.stopPropagation();"
                            matTooltip="{{ 'ROLE.update' | translate }}"
                            class="inline-block align-text-top">
                        <i class="btn-action-icon fas fa-edit fa-lg"></i>
                    </button>
                    <button mat-icon-button
                            (click)="$event.stopPropagation();deleteConfirmDialog(element.id, element.label)"
                            matTooltip="{{ 'GLOBAL.delete' | translate }}"
                            class="inline-block align-text-top">
                        <i class="btn-action-icon fas fa-trash fa-lg"></i>
                    </button>
                </span>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                 class="cursor-pointer hover:text-green-400 hover:shadow-md transition-colors duration-300"></mat-row>
    </mat-table>
</div>