<div class="grid grid-cols-2 overflow-auto" style="height: calc(100vh + -3rem) !important">
    <div>
        <div id="rectangle" class="rectangle-not-active"></div>
        <img class="file" id="my-image" alt="File" src="assets/imgs/thumb.jpg">
    </div>
    <div>
        <mat-form-field>
            <mat-label>Tesaaaaaaaaat</mat-label>
            <input (focus)="ocr($event)" matInput type="text" id="test">
        </mat-form-field>
        <mat-form-field>
            <mat-label>bla bla bla</mat-label>
            <input (focus)="ocr($event)" matInput type="text" id="test1">
        </mat-form-field>
    </div>
</div>