<h2 mat-dialog-title>{{ this.data.title }}</h2>
<hr class="border-green-400 -mt-4 m-auto" style="width: calc(100% - 3em)">
<mat-dialog-content>
    <ngx-file-drag-drop
            [class.pointer-events-none]="this.loading"
            [class.disabled]="this.loading"
            [formControl]="this.data.fileControl"
            [activeBorderColor]="'#97BF3D'"
            [multiple]="false"
            [accept]="'pdf'"
            [displayFileSize]="true"
            [emptyPlaceholder]="this.translate.instant('DATA-IMPORT.placeholder', {'extension': this.data.extension})"
            [class]="'max-w-3xl h-56 mt-2 mb-5'"
            (valueChanged)="checkFile($event)">
    </ngx-file-drag-drop>
    <mat-expansion-panel [expanded]="true" #dataConfig>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'DATA-IMPORT.columns_config' | translate }}
            </mat-panel-title>
            <mat-slide-toggle
                    class="mr-4"
                    [disabled]="this.data.rows.length === 0"
                    (click)="dataConfig.toggle()"
                    [checked]="this.data.skipHeader"
                    (change)="skipHeaderChange($event);">
                {{ 'DATA-IMPORT.skip_header' | translate }}
            </mat-slide-toggle>
        </mat-expansion-panel-header>
        <div class="overflow-x-auto">
            <div *ngIf="this.data.rows.length === 0" class="m-16 text-center">
                <i class="fas fa-circle-notch fa-spin fa-3x my-4" *ngIf="this.loading"></i>
                <span class="text-gray-400" *ngIf="!this.loading && this.data.rows.length === 0">
                     {{ 'DATA-IMPORT.no_rows' | translate }}
                </span>
            </div>
            <table mat-table *ngIf="this.data.rows.length !== 0" [dataSource]="this.data.rows" class="overflow-x-auto">
                <ng-container *ngFor="let availableColumn of this.data.availableColumns; let index = index" matColumnDef="{{ availableColumn }}">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field class="w-40 pt-2">
                            <mat-label>{{ 'DATA-IMPORT.column' | translate }} {{ index + 1 }}</mat-label>
                            <mat-select (selectionChange)="changeSelectedColumns($event.value, index)"
                                        [value]="this.data.availableColumns[index]"
                                        [disabled]="!this.data.allowColumnsSelection">
                                <div *ngFor="let availableColumn of this.data.availableColumns; ">
                                    <mat-option [value]="availableColumn">
                                        <span>{{ availableColumn }}</span>
                                    </mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element[availableColumn] }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="this.data.availableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: this.data.availableColumns;"></tr>
            </table>
        </div>
    </mat-expansion-panel>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-center pb-4 pr-4">
    <button mat-button [mat-dialog-close]="">{{ 'DATA-IMPORT.cancel' | translate }}</button>
    <button mat-button
            [ngClass]="{
                'cursor-not-allowed text-gray-400 disabled': this.error || this.data.fileControl.value.length === 0,
                'text-green-400': !this.error && this.data.fileControl.value.length > 0,
                'text-gray-400': this.error || this.data.fileControl.value.length === 0
            }"
            [disabled]="this.error || this.data.fileControl.value.length === 0"
            [mat-dialog-close]="this.data">
        {{ 'DATA-IMPORT.import' | translate }}
    </button>
</mat-dialog-actions>
