{% extends 'base_splitter.html' %}
{% block title %} {{ gettext('SEPARATOR_PROCESS') }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splitter.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div class="splitter-control-menu shadow p-8 mb-5 bg-white rounded align-items-center">
        <div class="delete-control-menu" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('DELETE_SELECTION') }}">
            <a href="javascript:void(0);" class="btn-delete-selected border-right border-dark">
                <i class="fas fa-trash-alt fa-2x"></i>
            </a>
        </div>
        <div class="btn-splitter-check" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('CHECK_ALL') }}">
            <a href="javascript:void(0);" class="btn-select-all border-right border-dark" onclick="checkAllCheckBox()"><i class="fas fa-check-circle fa-2x"></i></a>
        </div>
        <div class="btn-uncheck-splitter-help " data-toggle="tooltip" data-placement="bottom" title="{{ gettext('UNCHECK_ALL') }}">
            <a href="javascript:void(0);" class="btn-splitter-help border-right border-dark" onclick="unCheckAllCheckBox()"><i class="fas fa-ban fa-2x"></i></a>
        </div>
        <div class="btn-splitter-undo " onclick="refresh()" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('RESET') }}">
            <a href="javascript:void(0);" class="btn-splitter-help border-right border-dark"><i class="fas fa-undo fa-2x"></i></a>
        </div>
        <div class="btn-splitter-add-invoice " onclick="add_invoice(this)" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('ADD') }} {{ gettext('INVOICE') }}">
            <a href="javascript:void(0);" class="btn-splitter-help border-right border-dark"><i class="fas fa-plus-circle fa-2x"></i></a>
        </div>
        <div class="align-items-center ml-3">
             <span class="mr-2">{{ gettext('SEND_TO') }}</span>
            <select id="input-send-invoice">
                {% for pages_path in invoices %}
                     <option id="option_invoice_{{loop.index}}">{{ gettext('INVOICE')}} {{loop.index}}</option>
                {% endfor %}
            </select>
            <a href="javascript:void(0);" class="btn-send-selected border-right border-dark" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('SEND') }}">
                <i class="fa fa-paper-plane fa-lg align-items-center"></i>
            </a>
        </div>
        <div onclick="submitSplit()" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('VALIDATE') }}">
            <a href="javascript:void(0);" id="save-invoices">
                <i class="fas fa-save"></i>
            </a>
        </div>
    </div>
    <div class="p-3 mb-5 bg-white rounded align-content-center" id="zoom">
        <span class="border">
            <img class="zoom-image" id="zoom-image" alt="zoom image"/>
        </span>
    </div>
    <div id="invoices-list" class="container-fluid">
             {% for pages_path in invoices %}
                <div class="row delete-if-empty change-row-id-on-invoice-add" id="row_{{loop.index}}">
                    <div class="col-xl">
                         <div class="card">
                            <div class="card-header">
                                <label>{{ gettext('INVOICE')}} {{ loop.index }}</label>
                                <a id="delete-invoice" href="#" rel="{{loop.index}}" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('DELETE') }} {{ gettext('INVOICE') }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                            <div class="card-body">
                                {{first_event}} {{second_event}}
                                <div id="list_{{loop.index}}" class="row facet-list remove-if-empty change-list-id-on-invoice-add">
                                    {% for image_path in pages_path %}
                                         <div class="col-md-2 parent invoice-page" id="{{image_path}}">
                                            <div class="invoice-images">
                                                <input type="checkbox" class="checkbox-page-invoice">
                                                <a id="image-invoice-zoom" href="#" rel="{{ url_for('pdf.static', typeofFile='splitter', filename=image_path) }}">
                                                    <i class="fas fa-search-plus fa-4x"></i>
                                                </a>
                                                <img class="image-page-invoice" src="{{ url_for('pdf.static', typeofFile='splitter', filename=image_path) }}" alt="{{image_path}}"/>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    <button type="button" class="btn btn-default border btn-control" id="btn-invoice-add" onclick="add_invoice()">
        <i class="fas fa-plus"> {{gettext('ADD')}}</i>
    </button>
    <button class="btn btn-default btn-control border" id="save-invoices" onclick="submitSplit()">
         <i class="fas fa-save"> {{gettext('VALIDATE')}}</i>
    </button>
    <div style="height: 50px"></div>
    <div id="history" class="bg-light position-fixed" data-toggle="tooltip" data-placement="bottom" title="{{ gettext('HISTORY') }}">
        <button type="button" class="btn btn-default" id="show-hide-hist" onclick="show_hide_history()">
             <i class="fas fa-history"></i>
        </button>
        <div class="row facet-list" id="invoices-history-list">
        </div>
    </div>
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jqueryLib/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/splitter_jquery_script.js') }}"></script>
    {% endblock %}
{% endblock %}