<mat-card class="w-1/3 h-36 absolute bottom-2 right-2 z-10 bg-slate-50" style="padding: 0 !important;"
          *ngIf="!this.minimizeDisplay && this.authorizedUrl.includes(this.router.url)">
    <mat-card-title class="text-sm m-4" cdkDragHandle>
        {{ 'GLOBAL.current_tasks' | translate }}
    <span class="text-lg absolute right-4 top-2 hover:text-green-400 inline-block align-bottom hover:cursor-pointer"
          (click)="changeDisplayMode(!this.minimizeDisplay)" matTooltip="{{ 'GLOBAL.minimize' | translate }}">
        <i class="fa-solid fa-window-minimize align-top"></i>
    </span>
    </mat-card-title>
    <div class="mx-4 h-20 bg-slate-100" [class.overflow-hidden]="processes.length === 0 && !isFirstCallDone"
        [class.overflow-y-auto]="processes.length !== 0 && isFirstCallDone">
        <div class="text-gray-400 my-4 text-center w-full" *ngIf="processes.length === 0 && !isFirstCallDone">
            <i class="fa-solid fa-circle-notch fa-spin fa-2x w-full text-gray-400"></i>
            <span class="block">{{ 'GLOBAL.loading' | translate }}</span>
        </div>
        <div class="text-gray-400 my-4 text-center w-full" *ngIf="processes.length === 0 && !getProcessRunning && isFirstCallDone">
            <i class="fa-solid fa-check fa-2x w-full text-gray-400 mt-4"></i>
            <span class="block">{{ 'GLOBAL.no_task_to_show' | translate }}</span>
        </div>
        <div *ngFor="let process of processes" class="h-8 w-full px-4 border-t-2 grid grid-cols-10" (click)="showError(process.errorMessage)" [class.cursor-pointer] = process.error>
            <span class="col-span-1 pt-1">
                {{ process.id }}
            </span>
            <span class="col-span-5 pt-1 w-full truncate">
                {{ process.fileName }}
            </span>
            <span class="col-span-3 text-sm text-slate-400 pt-1 truncate"
                  matTooltip="{{ 'GLOBAL.add_time' | translate }} {{ process.beginTime}}">
                {{ process.age }}
            </span>
            <span class="col-span-1 text-right">
                <i *ngIf="process.status === 'running'" class="fa-solid fa-person-running fa-fade text-green-400 fa-lg my-4"
                   [matTooltip]="'MONITORING.running' | translate"></i>
                <i *ngIf="process.status === 'wait'" class="fa-solid fa-clock text-gray-400 fa-lg my-4"
                   [matTooltip]="'MONITORING.wait' | translate"></i>
                <i *ngIf="process.status === 'error'" class="fa-solid fa-xmark fa-lg my-4 text-red-400 cursor-pointer"
                    matTooltip="{{ 'MONITORING.error' | translate }}"></i>
                <i *ngIf="process.status === 'done'" class="fa-solid fa-check fa-lg my-4"
                   matTooltip="{{ 'GLOBAL.end_time' | translate }} {{ process.endTime }}"></i>
            </span>
        </div>
    </div>
</mat-card>
<div (click)="changeDisplayMode(!this.minimizeDisplay)" *ngIf="this.minimizeDisplay && this.authorizedUrl.includes(this.router.url)"
     [ngClass]="CountCurrentProcess() === 0 ? 'no-current-task' : 'current-task'"
     matBadge="{{ CountCurrentProcess() }}"
     matTooltip="{{ 'MONITORING.current_processes' | translate }}"
     class="w-12 h-12 absolute bottom-6 right-6 rounded-full z-10 bg-slate-100 hover:text-green-400 hover:cursor-pointer
            grid justify-items-center drop-shadow-md">
    <span  class="text-lg pt-2">
        <i class="fa-solid fa-list-check fa-align-center"></i>
    </span>
</div>