.current-task .mat-badge-content {
  background: #97BF3D !important;
  top: -6px !important;
  right: -6px !important;
}

.no-current-task .mat-badge-content {
  background: #9CA3AFFF !important;
  top: -6px !important;
  right: -6px !important;
}
