<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem">
    <mat-sidenav #sidenav mode="side" opened class="settings-menu-nav">
        <app-settings-menu></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <div class="settings_header">
            <button mat-icon-button (click)="sidenav.toggle();" class="absolute left-2 top-0.5">
                <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
            </button>
            <div class="settings_title text-center">
                <h3>{{ this.serviceSettings.getTitle() }}</h3>
                <div class="absolute right-4 top-0 settings_search">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'REGEX.search_regex' | translate }}</mat-label>
                        <input matInput type="text" [disabled]="this.loading" (keyup)="searchRegex($event)">
                    </mat-form-field>
                </div>
                <hr class="border-green-400">
            </div>
        </div>
        <div *ngIf="!loading" class="w-full">
            <app-hint [message]="'GLOBAL.dont_touch' | translate"></app-hint>
            <mat-table matSort [dataSource]="regex" (matSortChange)="sortData($event)">
                <ng-container matColumnDef="regex_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="regex_id"> {{ 'HEADER.id' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.regex_id }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="label">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="label"> {{ 'HEADER.label' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.label }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="content">
                    <mat-header-cell *matHeaderCellDef> {{ 'HEADER.value' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="element.updateMode = true;">
                        <ng-container *ngIf="!element.updateMode else update">
                            {{ element.content }}
                        </ng-container>
                        <ng-template #update>
                            <mat-form-field appearance="outline" class="w-full">
                                <input [id]="element.id" autofocus matInput [value]="element.content" (keyup.enter)="updateValue($event, element.id, element.regex_id)"
                                       class="relative -top-2.5" (focusout)="updateValue($event, element.id, element.regex_id)">
                            </mat-form-field>
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button *ngIf="!element.updateMode"
                                (click)="element.updateMode = true;"
                                matTooltip="{{ 'REGEX.update' | translate }}" mat-icon-button
                                class="inline-block align-text-top">
                            <i class="fa-solid fa-edit text-lg"></i>
                        </button>
                        <button *ngIf="element.updateMode"
                                (click)="element.updateMode = false;"
                                matTooltip="{{ 'CONFIGURATIONS.validate' | translate }}" mat-icon-button
                                class="inline-block align-text-top">
                            <i *ngIf="!this.updateLoading" class="fa-solid fa-check text-lg"></i>
                            <i *ngIf="this.updateLoading" class="fa-solid fa-circle-notch fa-spin text-lg"></i>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                         class="cursor-pointer hover:shadow-md transition-colors duration-300"></mat-row>
            </mat-table>
            <mat-paginator showFirstLastButtons
                           *ngIf="this.total > 0"
                           [length]="this.total"
                           [pageSize]="pageSize"
                           [pageIndex]="pageIndex"
                           [pageSizeOptions]="[5, 10, 15, 20, 50]"
                           (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>