<div class="relative top-16 2xl:top-32 flex justify-center h-20">
    <img src="assets/imgs/logo_opencapture.png" alt="Open-Capture For Invoices logo">
</div>
<div class="flex justify-center items-center" style="height: 85vh">
    <mat-card class="text-center w-full 2xl:w-1/4 sm:w-1/2">
        <mat-card-title class="mb-10">
            {{ 'GLOBAL.login' | translate }}
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="block">
                    <mat-label>{{ 'USER.username' | translate }}</mat-label>
                    <input matInput formControlName="username" type="text" placeholder="{{ 'USER.username' | translate }}" required>
                    <mat-error *ngIf="loginForm.controls.username.invalid">{{ getErrorMessage('username') }}</mat-error>
                </mat-form-field>
                <mat-form-field class="block">
                    <mat-label>{{ 'USER.password' | translate }}</mat-label>
                    <input matInput formControlName="password" [type]="this.showPassword ? 'text' : 'password'"
                           placeholder="{{ 'USER.password' | translate }}" required>
                    <mat-icon matSuffix (click)="this.showPassword = !this.showPassword"
                              class="text-green-400 relative cursor-pointer -top-1.5 text-base">
                        <i class="fa fa-1x" [class.fa-eye-slash]="!showPassword" [class.fa-eye]="showPassword"></i>
                    </mat-icon>
                    <mat-error *ngIf="this.loginForm.controls.password.invalid">{{ getErrorMessage('password') }}</mat-error>
                    <mat-hint align="end" *ngIf="this.enableLoginMethodName === 'ldap'">
                        <span class="underline decoration-1" >{{enableLoginMethodName | uppercase}} activé</span>
                    </mat-hint>
                </mat-form-field>
                <button mat-button [disabled]="this.processLogin || this.isConnectionBtnDisabled"
                        class="border-solid border-green-400 border hover:bg-green-400 hover:text-white transition duration-300" type="submit">
                    {{ 'AUTH.login' | translate }}
                </button>
            </form>
        </mat-card-content>
        <span class="relative my-4 text-green-400 font-bold">
            <a href="https://kutt.it/GuideDutilisation" target="_blank">
                {{ 'GLOBAL.utilisation_guide' | translate }}
            </a>
        </span>
    </mat-card>
</div>
