.separator-control-menu{
  position: fixed;
  margin-top: 10px;
  width : 50%;
  height: 70px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}
.separator-control-menu div a i{
  font-size: 20px;
  padding-right:20px;
  padding-left:20px;
  color: #4C4C4E;
  transition: all .5s;
}

i{
  color: #4C4C4E;
  transition: all .5s;
}

.separator-control-menu div a i:hover,
i:hover{
  color: rgba(151, 191, 61, 1);
}

#input-send-invoice{
  height: 38px;
  width: 105px;
}

.checkbox-page-invoice{
  position: absolute;
  width: 1.55rem;
  height: 1.55rem;
}

.align-items-center {
  display: flex;
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}

.facet-container{
  width: 330px;
}
.right {
  float: right;
}
.left {
  float: left;
}

p {
  clear: both;
  padding-top: 1em;
}
.card-body {
  background-image:  url('../imgs/dots.jpg');
  background-size: 60px 60px;
  min-height: 1.5em;
  font-size: 0.85em;
}

.facet {
  border: 1px solid #bbb;
  background-color: #fafafa;
  cursor: move;
}
.facet.ui-sortable-helper {
  opacity: 0.5;
}
.placeholder {
  border: 1px solid green;
  background-color: #fffffd;
  /*width: 20%;*/
  /*height: 90%;*/
}

/* image and its buttons */
.light-green{
  font-size:25px;
  color:#22dc22;
}

.facet-list .facet .image-option {
    position: relative;
    font-size: 25px;
    top: -315px;
    right: -180px;
}

.facet-list{
  height: 35%;
  min-height: 400px;
}

#image-invoice-zoom{
    position: absolute;
    left: 40%;
    bottom: 50%;
    display: none;
}

.zoom-image{
  z-index: 1;
  position: fixed;
  visibility: hidden;
  width: 620px;
  height: 960px;
  top: 40px;
  right: 60px;
}

#btn-invoice-add{
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
}

#save-invoices{
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
}

.image-page-invoice{
  width: 100%;
}

/* delete history */
#history{
  width: 100%;
  position: fixed;
  bottom: 0px;
  overflow-y: scroll;
}

#show-hide-hist{
  width: 100%;
  height: 35px;
}

#invoices-history-list{
  width: 100%;
  height: 320px;
  background: #E8E8E8;
}

a { color: inherit; }


