/************ DEFAULT  ************/

body {
    max-width: 100%;
    margin: 0 auto;
    background: white;
    overflow-x: hidden !important;
    padding-right: 0 !important;
}

a:hover {
    text-decoration: none !important;
}

hr {
    width: 50%;
    border: none;
    border-top: 1px solid lightgray;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
    border-radius: .25rem !important;
}

.fas {
    font-size: 17px;
}

.navbar {
    height: 70px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #4C4C4E!important;
    border-bottom: 1px solid #4C4C4E!important;
}

#navbarNavAltMarkup a {
    transition: all .5s;
}

#navbarNavAltMarkup a:not(.active):after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgba(151, 191, 61, 1);
    transition: width .3s;
    top: 8px;
    left:-2%;
    position: relative;
}

#navbarNavAltMarkup a:hover::after {
    width: 106%;
}

#navbarNavAltMarkup a:hover {
    color: rgba(151, 191, 61, 1);
}

#navbarNavAltMarkup .navbar-nav .user {
    margin-left: 22px;
    padding-left: 22px;
    border-left: 1px solid rgba(151, 191, 61, 1);
}

/************ END DEFAULT  ************/

/************ LOGIN FORM ************/

.login-form {
    width: 340px;
    margin: 50px auto;
}

.profile-form{
    margin:0;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.login-form a {
    display: inline-block;
    color: dimgrey;
    transition: .5s ease;
}

.login-form a:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgba(151, 191, 61, 1);
    transition: width .3s;
}

.login-form a:hover::after {
    width: 100%;
}

.login-form a:hover {
    color: rgba(151, 191, 61, 1);
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

/************ END LOGIN FORM ************/

/************ MAIN CONTENT ON THE PAGE *************/

.content {
    margin-top: 70px;
}

.flash {
    position: fixed;
    right: 10px;
    top: 4px;
    z-index: 9999;
    padding: 1em;
    background: #CAE6F6;
    border: 1px solid #377BA8;
    cursor: pointer;
}

/************ END MAIN CONTENT ON THE PAGE *************/

/************ PAGINATION ************/

.pagination-page-info {
    text-align: right;
    margin: 20px;
}

.pagination > ul {
    list-style: none;
    margin: auto;
    font-size: 22px;
    padding-left: 0;
    color: #4C4C4E;
}

.pagination > ul > li > a{
    color:#76B442;
}

.pagination > ul > li > i,
.pagination > ul > li > a > i {
    font-size: 17px;
}

.pagination > ul > li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

/************ END PAGINATION ************/

/************ LOT ************/

#lot > ul > li {
    cursor: pointer;
    transition: all ease 0.5s;
}

#lot > ul > li:hover,
#lot > ul > li.active {
    color: white;
    background-color: #76B442;
    border: 1px solid transparent;
}

#lot > ul > li > .badge {
    background-color: #76B442
}

.badge {
    right: 0;
    margin-right: 20px;
    background-color: transparent !important;
    color: #76B442 !important;
    font-size: 16px !important;
}

#lot > form {
    float: right;
    margin-top: -50px;
}

#lot > form > div > input:focus {
    box-shadow: none;
    border-color: #76B442;
}

#lot > form > button,
.pick_status > div > button {
    color: white;
    background-color: #76B442;
    border: none;
}

/************ END LOT ************/

/************ list.html ************/
.pick_status {
    display: flex;
    justify-content: center;
    top: 20px;
}

.top-left{
    position: absolute;
    top: 5px;
    left: 5px;
}

.bs-tooltip-left{
    top: -2rem!important;
    left: 2rem!important;
}

.row {
    padding: 20px;
}

.card {
    max-height: 95%;
}

.card > a {
    overflow: hidden;
}

.card-title > a {
    color: dimgrey;
    width: 50%;
}

.card-title > a:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgba(151, 191, 61, 1);
    transition: width .3s;
    text-decoration: none;
    top: 5px;
    position: relative;
}

.card-title > a:hover::after {
    width: 100%;
}

.card-title a:hover {
    color: rgba(151, 191, 61, 1);
}

.card-img-top {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.card-img-top:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 10px 0;
    background-color: #3498DB;
    color: #fff;
    opacity: 1;
    font: 700 15px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.card > a:hover ~ .ribbon span {
    opacity: 0;
}

/* top right*/
.ribbon-top-right {
    top: 0;
    right: 0;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right span {
    left: -25px;
    top: 45px;
    transform: rotate(45deg);
}

.NEW span {
    background-color: #76B442;
}

.WAIT_SUP span {
    background-color: #ED8022;
}

.ERR span {
    background-color: #dc3545;
}

.ERR_GED span {
    background-color: #dc382a;
}

.END span {
    background-color: #696969;
}

#trash button {
    border: none;
    background: transparent;
}

#trash button i {
    text-shadow: none;
    transition: all 0.5s;
}

#trash button i:hover {
    text-shadow: 2px -2px 1px #272634;
}


/************ END list.html ************/

/************ view.html ************/
.images img {
    position: fixed;
    float: right;
    right: 0;
    top: 53px;
    display: none;
    width: 25%;
}

.title:hover ~ .images img {
    display: block;
}

.datepicker{
    z-index: 9999 !important;
}

.date_style{
    letter-spacing: 2px;
    padding: 10px!important;
}

.file {
    width: 100%;
}

#calculTotal {
    font-size: 20px;
}

#preview {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

#rectangle {
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rectangle-not-active {
    opacity: 0;
    z-index: -1;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);
}

.rectangle-active {
    opacity: 1;
    z-index: 1;
    -webkit-box-shadow: 0 0 12px 7px #76B442;
    -moz-box-shadow: 0 0 12px 7px #76B442;
    box-shadow: 0 0 12px 7px #76B442;
}

.nb_pages > i,
.input-group-prepend {
    cursor: pointer;
}

.nb_pages {
    margin-top: -20px;
    position: absolute;
    z-index: 999;
    font-size: 25px;
    text-align: center;
}

.original_filename{
    position: absolute;
    z-index: 100;
    margin-top: -10px;
    right: 50%;
    opacity: 70%;
}

/***** FORM DESGIN *****/

.custom-control-label:before{
    background-color:#fff;
    box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label:before{
    background-color:#76B442!important;
    border-color: transparent;
}

.custom-control-label:after{
    margin-top: -4px;
    margin-left: 2px;
}

.custom-control-input:checked ~ .custom-control-label:after{
    content:'✓'!important;
    opacity: 1;
}

.found_auto::before{
    top: 0.7rem !important;
    left: -1.5rem !important;
}

.found_auto::after{
    top: 0.7rem !important;
    left: -1.5rem !important;
}

.custom-control-input:disabled ~ .custom-control-label, .custom-control-input[disabled] ~ .custom-control-label{
    color:black!important;
}

#invoice_info {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.input-group > input,
.form-group > input {
    border-color: #A7A8AA;
    transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    box-shadow: 0 0 0 0 rgba(151, 191, 61, 0.8);
}

.form-group > input[type="submit"] {
    background-color: rgba(151, 191, 61, 1);
    border: 0;
}

.input-group > input:focus,
.form-group > input:focus {
    -webkit-box-shadow: 0 0 20px .2rem rgba(151, 191, 61, 0.8);
    -moz-box-shadow: 0 0 20px .2rem rgba(151, 191, 61, 0.8);
    box-shadow: 0 0 20px .2rem rgba(151, 191, 61, 0.8);
}

.orangeRatio {
    color: #ED8022 !important;
}

.orangeRatioInput {
    border-color: #ED8022 !important;
}

.orangeRatioInput:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(237, 128, 34, .25) !important;
    -moz-box-shadow: 0 0 0 .2rem rgba(237, 128, 34, .25) !important;
    box-shadow: 0 0 0 .2rem rgba(237, 128, 34, .25) !important;
}

.infos {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.infos span {
    margin: 0 5px 5px;
}

.custom-control-label:before {
    background-color: #fff;
    box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label:before {
    background-color: #76B442 !important;
    border-color: #6c757d!important;
}

#total_ht_info,
#total_ht_info span {
    color: #6c757d;
    transition: all ease .5s;
}

#validateForm,
#refuseForm {
    width: 49%;
}

#buttons {
    margin-top: 10px;
    text-align: center;
}

/***** END FORM DESGIN *****/

/***** OVERWRITE CHOSEN CSS *****/

.chosen-single {
    min-height: 38px !important;
    line-height: 2.5 !important;
}

#change_language_chosen > .chosen-single {
    min-height: 28px !important;
    line-height: 1.8 !important;
}

.chosen-container-single .chosen-default {
    color: #999 !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 8px !important;
}

.chosen-container-single .chosen-single div b {
    background: url(otherLib/chosen-sprite.png) no-repeat 0 8px !important;
}

#change_language_chosen > .chosen-single div b {
    background: url(otherLib/chosen-sprite.png) no-repeat 0 4px !important;
}

/***** END OVERWRITE CHOSEN CSS *****/

/************ END view.html ************/

/***** USER AND SUPPLIER LIST *****/

.user_list table tbody a,
.supplier_list table tbody a{
    color: #4C4C4E;
    transition: all .5s;
}

.user_list table tbody > tr > td:not(.actions) > a,
.supplier_list table tbody > tr > td:not(.actions) > a{
 display: block;
}

.user_list table tbody tr,
.supplier_list table tbody tr{
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.75);
    transition: all .5s;
}

.user_list table tbody tr:hover,
.supplier_list table tbody tr:hover{
    -webkit-box-shadow: 0 0 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 12px 4px rgba(0,0,0,0.75);
    box-shadow: 0 0 12px 4px rgba(0,0,0,0.75);
}

.position-delete:hover > #position_hidden{
    display: inherit!important;
}

.position-delete:hover > #position{
    display: none;
}

.user_list table tbody tr:hover > td > a,
.btn-supplier-edit:not(.actions):hover,
.supplier-delete:hover,
.skip-auto-validation:hover,
.disable-skip-auto-validation:hover{
    color: #76B442;
}

.user_list table tbody .status-td span,
.supplier_list table tbody .status-td span{
    font-size: 30px;
    line-height: 10px;
    padding-top: 20px;
    top: 4px;
    position: relative;
}


.bs-tooltip-top .arrow:before{
    border-top-color: #4C4C4E !important;
}

.bs-tooltip-left .arrow:before{
    border-left-color: #4C4C4E !important;
}

.bs-tooltip-top .tooltip-inner,
.bs-tooltip-left .tooltip-inner{
    background-color: #4C4C4E !important;
}

/************ END USER AND SUPPLIER LIST ************/
