<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" [autosize]="true">
    <mat-sidenav #sidenav mode="side" [opened]="true" class="settings-menu-nav" [class.w-20]="this.serviceSettings.minimizeSideNav">
        <app-settings-menu [minimizeSideNav]="this.serviceSettings.minimizeSideNav"></app-settings-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        @if (this.loading) {
            <div>
                <app-loader></app-loader>
            </div>
        }
        <div class="settings_header">
            <div class="flex">
                <button mat-icon-button (click)="this.serviceSettings.minimizeSideNav = !this.serviceSettings.minimizeSideNav;">
                    <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-2xl text-gray-900"></i>
                </button>
            </div>
            <h3 class="text-center m-0">{{ this.serviceSettings.getTitle() }}</h3>
            <div class="settings_search">
            </div>
        </div>
        <hr class="border-green-400 relative z-30">
        <div class="overflow-x-hidden overflow-y-auto" style="height: calc(100vh - 6rem) !important">
            @if (!this.loading) {
                <div class="flex justify-center items-center">
                    <form class="grid grid-cols-4 gap-4 w-full mb-5 mx-10 mt-10 text-center">
                        @for (field of this.modelLLMForm; track field) {
                            @if (field['type'] === 'text') {
                                <mat-form-field [class]="field['class']">
                                    <mat-label>{{ field['label'] | translate }}</mat-label>
                                    <input matInput [value]="field.control.value" [formControl]="field['control']" [type]="field['type']" [placeholder]="field['placeholder'] | translate" [required]="field['required']">
                                    @if (field.control.invalid) {
                                        <mat-error>{{ getErrorMessage(field['id'], modelLLMForm) }}</mat-error>
                                    }
                                    @if (field['hint']) {
                                        <span class="absolute text-gray-600 top-0.5 -right-2 cursor-help" [matTooltip]="field['hint'] | translate">
                                            <i class="fa-solid fa-circle-question text-md"></i>
                                        </span>
                                    }
                                </mat-form-field>
                            } @else if (field['type'] === 'select') {
                                <mat-form-field [class]="field['class']">
                                    <mat-label>{{ field['label'] | translate }}</mat-label>
                                    <mat-select [name]="field['id']" [id]="field['id']" [(ngModel)]="field.control.value"
                                                (selectionChange)="changeProvider($event)">
                                        @for (option of field.values; track option['id']) {
                                            <mat-option [value]="option['id']">
                                                {{ option['label'] | translate }}
                                            </mat-option>
                                        }
                                    </mat-select>
                                    @if (field.control.invalid) {
                                        <mat-error>{{ getErrorMessage(field['id'], modelLLMForm) }}</mat-error>
                                    }
                                </mat-form-field>
                            }
                        }
                    </form>
                </div>
            }
            <div class="flex justify-center items-center mb-6">
                <button (click)="updateLLMModel()" mat-button class="valid_button">
                    <span class="block">
                    @if (this.updateLoading) {
                        <i class="fa-solid fa-circle-notch fa-spin text-lg"></i>
                    } @else {
                        {{ "AI-LLM.update" | translate }}
                    }
                    </span>
                </button>
            </div>
            <mat-divider class="w-1/2 m-auto border-green-400"></mat-divider>
            <h4 class="text-center mt-5 mb-5">{{ 'AI-LLM.call_content_llm' | translate }}</h4>
            <app-hint [message]="'AI-LLM.json_hint' | translate"></app-hint>
            <div class="flex justify-center items-center ml-10 mr-5">
                <mat-form-field class="w-full">
                    <textarea [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="10" matInput
                              [value]="llmJsonContentControl.value" [formControl]="llmJsonContentControl" spellcheck="false"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>