<mat-sidenav-container class="absolute left-0 right-0 bottom-0" style="top: 4.1rem" autosize>
    <mat-sidenav #sidenav mode="side" opened class="2xl:w-96 xl:w-80 md:w-72 sm:w-64 w-32 flex flex-col h-full border-r border-green-400" style="top:0.1rem">
        <mat-tab-group>
            <mat-tab [label]="'UPLOAD.inputs' | translate">
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let input of inputs" class="cursor-pointer m-2 w-auto" (click)="setInput(input.id)">
                        <span [class.text-green-400]="this.selectedInput === input.id" class="hover:text-green-400"
                              [matTooltip]="input.input_label" [matTooltipDisabled]="input.input_label.replace(' ', '').length <= 20">
                            {{ input.input_label }}
                        </span>
                        <span *ngIf="this.selectedInput === input.id">
                            <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab [label]="'UPLOAD.workflows' | translate">
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let workflow of workflows" class="cursor-pointer m-2 w-auto" (click)="setWorkflow(workflow.id)">
                        <span [class.text-green-400]="this.selectedWorkflow === workflow.id" class="hover:text-green-400"
                              [matTooltip]="workflow.label" [matTooltipDisabled]="workflow.label.replace(' ', '').length <= 20">
                            {{ workflow.label }}
                        </span>
                        <span *ngIf="this.selectedWorkflow === workflow.id">
                            <i class="fa-regular fa-circle-check text-green-400 ml-4"></i>
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white overflow-hidden">
        <button mat-icon-button (click)="sidenav.toggle();" class="absolute left-2 top-2" style="z-index: 999">
            <i [class.transform]="!sidenav.opened" [class.rotate-180]="!sidenav.opened" class="fa-solid fa-stream text-xl text-gray-900"></i>
        </button>
        <div *ngIf="this.loading">
            <app-loader></app-loader>
        </div>
        <ngx-file-drag-drop
                [class.pointer-events-none]="this.sending"
                [class.disabled]="this.sending"
                [formControl]="fileControl"
                [activeBorderColor]="'#97BF3D'"
                [multiple]="true"
                [accept]="'pdf'"
                [displayFileSize]="true"
                [emptyPlaceholder]="'UPLOAD.placeholder' | translate"
                [class]="'max-w-3xl h-56 mt-24 mb-5'"
                (valueChanged)="checkFile($event)">
        </ngx-file-drag-drop>
        <div class="text-center" [class.cursor-not-allowed]="this.error || !(!this.sending && this.selectedInput && this.fileControl.value!.length !== 0)">
            <button mat-button
                    [disabled]="this.error || this.sending || (this.selectedWorkflow === '' && this.selectedInput === '') || this.fileControl.value!.length === 0" (click)="uploadFile()"
                    [class.hover:bg-transparent]="!this.error && !this.sending && this.selectedInput && this.fileControl.value!.length !== 0"
                    [class.bg-opacity-100]="!this.error && !this.sending && this.selectedInput && this.fileControl.value!.length !== 0"
                    [class.bg-opacity-40]="this.error || !(!this.sending && this.selectedInput && this.fileControl.value!.length !== 0)"
                    [class.text-white]="!this.error && !this.sending && this.selectedInput && this.fileControl.value!.length !== 0"
                    [class.hover:text-gray-900]="!this.sending && this.selectedInput && this.fileControl.value!.length !== 0"
                    class="valid_button">
                {{ 'UPLOAD.upload_file' | translate }}
            </button>
        </div>
        <span *ngIf="this.selectedInput === '' && this.selectedWorkflow === ''" class="flex justify-center mt-4 text-red-500">
            {{ 'UPLOAD.please_select_input_or_workflow' | translate }}
        </span>
    </mat-sidenav-content>
</mat-sidenav-container>