<h2 mat-dialog-title>{{ data.confirmTitle }}</h2>
<hr class="border-green-400 -mt-4 mb-4">
<mat-dialog-content class="mat-typography" [innerHTML]=data.confirmText></mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="data.selectValues">
    <mat-form-field class="w-full mt-1">
        <mat-label>{{ data.selectLabel }}</mat-label>
        <mat-select [(value)]="this.selectData">
            <mat-option *ngFor="let option of data.selectValues" [value]="option['id']">{{ option['label'] }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ data.cancelButton }}</button>
    <button *ngIf="data.selectValues" mat-button [mat-dialog-close]="this.selectData" color="{{ data.confirmButtonColor }}" cdkFocusInitial>{{ data.confirmButton }}</button>
    <button *ngIf="!data.selectValues" mat-button [mat-dialog-close]="true" color="{{ data.confirmButtonColor }}" cdkFocusInitial>{{ data.confirmButton }}</button>
</mat-dialog-actions>