/** This file is part of Open-Capture.

 Open-Capture is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Open-Capture is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Open-Capture. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.

 @dev : Nathan CHEVAL <nathan.cheval@edissyum.com> */

@reference "tailwindcss";

@theme {

    --color-green-400: oklch(0.5474 0.1307 153.5); /* HEX CODE #19864B */

    --color-red-400: oklch(0.5665 0.2105 31.79); /* HEX CODE #D6290A */

    --color-gray-300: oklch(0.931 0 0); /* HEX CODE #E8E8E8 */
    --color-gray-400: oklch(0.662 0.0133 280.96); /* HEX CODE #91929B */
}